@import '../../../../variables';

.progress-bar-container{
  height:$timesheet-weekday-height;
  min-width:25px;
  max-width:100%;
  color:$bg-black;
  position:relative;
}
.progress-bar{
  height:100%;
  width:10%;
  background:$primary;
}
.progress-invalid{
  background:$warn!important;
}

.hour-label{
  position:absolute;
  top:50%;
  left:50%;
}

.progress-bar::-webkit-progress-value {
  transition: width 0.5s ease;
}

