<div fxLayout="column" class="h-100" style="position:relative">

  <span class="mat-elevation-z3" style="z-index:3">
    <app-detail-top-nav-bar *ngIf="config && (config.longTitle || config.imgSrc) else mainTopBar" 
      [config]="config">
    </app-detail-top-nav-bar>

    <ng-template #mainTopBar>
      <app-main-top-nav-bar [config]="config" stylingClass="bg-primary"></app-main-top-nav-bar>
    </ng-template>
  </span>

  <div fxFlex style="overflow-y:auto;">
    <ng-content>
  
    </ng-content>
  </div>

  <div style="position:absolute;right:0;bottom:0;" class="m-2" *ngIf="config.fabs"
      fxLayout="column" fxLayoutGap="4px">  
      <app-button class="fadeInRight" 
        *ngFor="let fab of config.fabs | transformButtons : ButtonTypes.Fab | reverseArray; trackBy: trackByFab" 
        [config]="fab">
      </app-button>
  </div>

</div>
