@import '../../../variables';

$select-height: 59.5;

.data-picker{
  background:white; 
  .mat-form-field-flex{
    height:$select-height * 1px!important;
  }

  .mat-form-field-wrapper{
    margin-bottom: -1.25em!important;
  }
}

.data-container{
  width:100%;
  height:calc(100% - (#{$select-height} * 1px))!important;
}

