<form fxLayout="column" fxLayoutAlign="start stretch" *ngIf="form" [formGroup]="form" class="m-3">
  <mat-form-field *appActiveStringFilter="let entities$; config: stringFilterConfig">
      <input matInput placeholder="Oppdrag" formControlName="mission" aria-label="Velg oppdrag" [matAutocomplete]="auto1">

      <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayMissionAddress">
        <mat-option *ngFor="let mission of entities$ | async; trackBy: trackByMission" [value]="mission">
          ({{ mission.id }}) {{ mission.address }}
        </mat-option>
      </mat-autocomplete>

    <mat-error *ngIf="mission.errors">
      Velg ett oppdrag fra listen
    </mat-error>
  </mat-form-field>
  
  <span fxLayout="row" fxLayoutAlign="space-between start">
    <label fxFlex=46>
      <mat-form-field class="w-100">
        <input matInput placeholder="Dato" formControlName="date" aria-label="Velg dato" required
          [owlDateTimeTrigger]="d3" [owlDateTime]="d3">
          <mat-error *ngIf="date.errors">
            Velg en dato
          </mat-error>
      </mat-form-field>
      <owl-date-time pickerType="calendar" start #d3></owl-date-time>
    </label>

    <label fxFlex=46>
      <mat-form-field class="w-100">
        <input matInput placeholder="Arbeidstid" formControlName="timeRange" required selectMode="range"
          [owlDateTimeTrigger]="t1" [owlDateTime]="t1">
          <mat-error *ngIf="timeRange.errors">
            Velg start- og sluttidspunkt
          </mat-error>
      </mat-form-field>
      <owl-date-time pickerType="timer"  stepMinute="15" [startAt]="config?.entity?.startTime || initTime" #t1>
      </owl-date-time>
    </label>
  </span>

  <mat-form-field>
    <textarea matInput placeholder="Kommentar" formControlName="comment" aria-label="Kommentar" required
      maxlength="400"></textarea>
      <mat-error *ngIf="comment.errors">
        Vennligst skriv en kommentar om arbeidet som er utført. 
      </mat-error>
  </mat-form-field>

  <button appHttpCommandButton mat-raised-button class="w-100" color="primary" 
    [disabled]="form.invalid || form.pristine"
    (click)="onSubmit()">
    {{ isCreateForm ? 'Legg til' : 'Oppdater' }} 
  </button>
</form>