<form fxLayout="column" fxLayoutAlign="start stretch" *ngIf="form" [formGroup]="form" class="m-3">
  <mat-form-field *appActiveStringFilter="let entities$; config: stringFilterConfig">
      <input matInput placeholder="Oppdrag" formControlName="mission" aria-label="Velg oppdrag" [matAutocomplete]="auto1">

      <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayMissionAddress">
        <mat-option *ngFor="let mission of entities$ | async; trackBy: trackByMission" [value]="mission">
          ({{ mission.id }}) {{ mission.address }}
        </mat-option>
      </mat-autocomplete>

    <mat-error *ngIf="mission.errors">
      Velg ett oppdrag fra listen
    </mat-error>
  </mat-form-field>

  <span fxLayout="row" fxLayoutAlign="space-between start">

    <app-ion-date-picker fxFlex=42 ionFormat="YYYY-MMMM-DD" datePipeFormat="MMM d, y" placeholder="dato"
      [control]="date" >
    </app-ion-date-picker>

    <app-ion-date-picker fxFlex=20 ionFormat="HH:mm" minuteValues="0,15,30,45" placeholder="starttid"
      [control]="startTime" [max]="endTime.value">
    </app-ion-date-picker>

    <app-ion-date-picker fxFlex=20 ionFormat="HH:mm" minuteValues="0,15,30,45" placeholder="sluttid"
      [control]="endTime" [min]="startTime.value">
    </app-ion-date-picker>

  </span>

  <mat-form-field>
    <textarea matInput placeholder="Kommentar" formControlName="comment" aria-label="Kommentar" required
      maxlength="400"></textarea>
      <mat-error *ngIf="comment.errors">
        Vennligst skriv en kommentar om arbeidet som er utført. 
      </mat-error>
  </mat-form-field>

  <button appHttpCommandButton mat-raised-button class="w-100" color="primary" 
    [disabled]="form.invalid || form.pristine"
    (click)="onSubmit()">
    {{ isCreateForm ? 'Legg til' : 'Oppdater' }} 
  </button>
</form>