<style>
    cdk-virtual-scroll-viewport{     
        flex: 1 1 0%;
        box-sizing: border-box;
    }
    .container{
        flex-direction: column;
        box-sizing: border-box;
        display: flex;
        place-content: stretch flex-start;
        align-items: stretch;
        max-width: 100%;
        height: 100%;
    }
</style>
<div class="container">
    <cdk-virtual-scroll-viewport *ngIf="timesheets?.length else loading"
        itemSize="96" maxBufferPx="800" minBufferPx="800" appScrollNavElevationToggler>
        <ng-container *cdkVirtualFor="let timesheet of timesheets | sortByDate : 'startTime'; trackBy: trackByTimesheet">
                
            <app-list-item (click)="onTimesheetClick(timesheet)">

                <ng-container left-side>
                    <mat-icon *ngIf="timesheet.status === 1 else closedIcon" color="warn">lock_open</mat-icon>
                    <ng-template #closedIcon><mat-icon color="accent">lock</mat-icon></ng-template>
                </ng-container>

                <app-timesheet-list-item-content [timesheet]="timesheet">
                </app-timesheet-list-item-content>
           
            </app-list-item>

            <mat-divider></mat-divider>
            
        </ng-container>
    </cdk-virtual-scroll-viewport>
</div> 

<ng-template #loading>
    <app-fetching-model-content modelProp="userTimesheets">
        <app-button *ngIf="filterButton" [config]="filterButton" class="fadeIn mt-4" style="display:block"></app-button>
    </app-fetching-model-content>
</ng-template>
