<div class="mat-elevation-z2 mission-card">

    <span class="mat-body-2 m-2 ml-3">
      Sist besøkte oppdrag    
    </span>

    <mat-divider class="ml-3 mr-3"></mat-divider>

    <div  class="mission-list">

      <ng-container *ngIf="missions?.length; else loading">
        <app-list-item *ngFor="let mission of missions" [routerLink]="['/oppdrag', mission.id, 'detaljer']">
          <mat-icon left-side>history</mat-icon>
          {{mission.address}}
          <mat-icon right-side>chevron_right</mat-icon>
        </app-list-item>
      </ng-container>

    </div>
    
    <mat-divider class="ml-3 mr-3" style="height:8px"></mat-divider>

</div>  

<ng-template #loading>
  <app-fetching-model-content modelProp="missions"></app-fetching-model-content>
</ng-template>
