


<mat-toolbar #imageToolBar class="image_toolbar color-accent" fxLayout="row" fxLayoutAlign="space-between center"
[@showHideToolbar]="toolbarHidden ? 'hide' : 'show'">
    <button mat-icon-button aria-label="Lukk" (click)="onNoClick()">
        <mat-icon class="icon_150">chevron_left</mat-icon>
    </button>
    <button mat-icon-button (click)="openBottomSheet()"><mat-icon>more_vert</mat-icon></button>
</mat-toolbar>

<img *ngIf="currentImage" (tap)="toggleToolBar()" (swiperight)="previousImage()" (swipeleft)="nextImage()" [src]="currentImage.fileURL" layout-fill/>

<div class="page_counter" [@showHideCounter]="toolbarHidden ? 'hide' : 'show'">
  <h5>{{ this.index + 1 }} / {{ this.images.length }}</h5>
</div>



