@import '../../../variables';

$timesheet-week-list-height:calc(100% - (#{$timesheet-menu-height} * 1px));

$width-no-handset: calc(((100vw - #{$sidenav-width * 1px}) / 7) - 1px);
$width-handset: calc((100vw / 5) - 1px);

.weekdays-container{
    overflow-x: auto;
    white-space: nowrap;
    height:$timesheet-week-list-height;
}

.width-no-handset{
  width:$width-no-handset;
  min-width:$width-no-handset;
}

.width-handset{
  width:$width-handset;
  min-width:$width-handset;
}

.progress-bar-container{
  margin-top:1px;
  min-height:25px;
  color:$bg-black;
  position:relative;
  width:100%;
}

.timesheet-bar{
    height:100%; 
}