<div class="p-0 h-100" fxLayout="column" fxLayoutAlign="start stretch">
    <cdk-virtual-scroll-viewport itemSize="82" [attr.minBufferPx]="11*82" [attr.maxBufferPx]="13*82" fxFlex>
        <app-timesheet-summary-card
            *cdkVirtualFor="let summary of weekSummaries$ | async"
            [summary]="summary"
            [navButton]="{callback: goToWeekView, params: [this.year, summary.week], icon: 'chevron_right'}">
        </app-timesheet-summary-card>    
    </cdk-virtual-scroll-viewport>
</div>
