@import '../../../variables';

.weekdays-container{
    overflow-x: auto;
    white-space: nowrap;
    height:$timesheet-week-list-height;
}

.width-no-handset{
  width:calc(((100vw - #{$sidenav-width * 1px}) / 7) - 1px);
}

.width-handset{
  width:calc((100vw / 5) - 1px);
}

.progress-bar-container{
  margin-top:1px;
  min-height:25px;
  color:$bg-black;
  position:relative;
}

.timesheet-bar{
    min-width:58px;
    height:100%; 
}