<app-main-nav
[config]="mainNavConfig"
(vertEvent)="this.handleVertEvent($event)"
(search)="this.searchMissionList($event)">

  <div class="static-page-container" fxLayout="column" fxLayoutGap="8px">

    <div  fxFlex="10" class="content-header">
      <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span>Oppdrag</span>
        <button (click)="createMission()" color="primary" *ifRole="[ROLES.Leder, ROLES.Mellomleder]"
          mat-icon-button aria-label="ny">
          <mat-icon class="icon_125">add</mat-icon>
        </button>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="static-page-content" fxFlex>
      <app-mission-list-view [missions]="missions$ | async"></app-mission-list-view>
    </div>

  </div>

</app-main-nav>



