<ng-container *ngIf="config">
    <button mat-stroked-button="true" *ifRole="config.allowedRoles"
        [attr.aria-label]="config.aria"
        [ngClass]="[
            config.colorClass ? config.colorClass : '', 
            config.iconSizeClass ? config.iconSizeClass : ''
        ]"
        (click)="handleFn(config.callback)">
        <mat-icon *ngIf="config.icon">{{ config.icon }}</mat-icon>
        <mat-icon *ngIf="config.svgIcon" [svgIcon]="config.svgIcon"></mat-icon>
        {{ config.text }}
    </button>
</ng-container>