<ng-container *ifRole="navButton.allowedRoles">
    <a matRipple *ngIf="navButton.routerLink else categoryButton" 
        (tap)="alertNavigation()" [routerLink]="navButton.routerLink" [routerLinkActive]="['color-accent']">
        <mat-icon>{{navButton.icon}}</mat-icon>
        <span class="ml-2 mr-2">{{navButton.text}}</span>
    </a>

    <ng-template #categoryButton>
        <a matRipple (tap)="toggleChildren()">
            <mat-icon>{{navButton.icon}}</mat-icon>
            <span class="ml-2 mr-2">{{navButton.text}}</span>
            <mat-icon *ngIf="navButton.children && navButton.children.length > 0" [@halfwayRotate]="childrenShown">
                expand_more
            </mat-icon>
        </a>
    </ng-template>

    <span class="children" *ngIf="navButton.children && navButton.children.length > 0" [fxHide]="!childrenShown">

        <app-nav-item *ngFor="let child of navButton.children" [navButton]="child" (hasNavigated)="alertNavigation()">
        </app-nav-item>

    </span>
</ng-container>