<app-main-skeleton>

    <app-main-top-nav-bar navbar [config]="navConfig" >
    </app-main-top-nav-bar>

    <div class="pl-1 pr-1 max-width">
        <app-list-card startIcon='update' (click)="refresh()">
            Synkroniser manuelt<mat-icon rightSide>chevron_right</mat-icon>
        </app-list-card>
    
        <app-list-card startIcon='delete_sweep' (click)="confirmPurge()">
            Slett lokal data<mat-icon rightSide>chevron_right</mat-icon>
        </app-list-card>
    
        <mat-card class="mt-1">
            <div class="mb-2">Konfigurasjon</div>
            <app-app-config-form 
                [syncConfig]="syncConfig$ | async" 
                (formSubmitted)="updateSyncConfig($event)">
            </app-app-config-form> 
        </mat-card>
   
    </div>

</app-main-skeleton>
