<div class="p-2">
    <app-list-card appAddToHomeScreen startIcon="get_app"></app-list-card>Legg til app

    <app-list-card startIcon="update" (click)="refresh()">Synkroniser manuelt
    </app-list-card>

    <app-list-card startIcon="delete_sweep" (click)="confirmPurge()">Slett lokal data
    </app-list-card>

    <div class="app-card mt-1 p-3">
        <div class="mb-2">Konfigurasjon</div>
        <mat-form-field>
            <input matInput appInputListener placeholder="Synkroniseringstid i minutter" type="tel"
                (inputChanged)="updateSyncRefreshTime($event)" [ngModel]="syncRefreshTime$ | async">
        </mat-form-field>
    </div>
</div>