<form *ngIf="passwordForm" [formGroup]="passwordForm" fxLayout="column">
    <mat-form-field>
        <input matInput placeholder="Epostpassord" formControlName="password">
        <mat-error *ngIf="this.password.invalid">
            Epost passordet kan være på maks 250 tegn.
        </mat-error>
    </mat-form-field>

    <button appHttpCommandButton mat-raised-button class="w-100" color="primary" 
        [disabled]="passwordForm.invalid || passwordForm.pristine"
        (click)="onSubmit()">
        Lagre   
    </button>

</form>