<ng-container>

    <ng-container *ngIf="!activeFilter else activeFilterView" 
        [ngTemplateOutlet]="autocomplete"
        [ngTemplateOutletContext]="{options: options$ | async}">
    </ng-container>

    <ng-template #activeFilterView>
        <ng-template *appActiveStringFilter="let filtered$; config: activeFilter; options: options$ | async"
            [ngTemplateOutlet]="autocomplete" 
            [ngTemplateOutletContext]="{options:filtered$ | async}">
        </ng-template>
    </ng-template>
    
</ng-container>

<ng-template #autocomplete let-options="options">
    
    <mat-form-field [color]="question.color || 'accent'" class="w-100">
        <mat-label *ngIf="question.label">{{ question.label }}</mat-label>
        
        <input matInput [placeholder]="question.placeholder" [formControl]="control" [required]="required"
            [matAutocomplete]="auto1">

        <mat-autocomplete #auto1="matAutocomplete" [displayWith]="question.displayWith">
            <mat-option *ngFor="let option of options" [value]="question.valueProp ? option[question.valueProp] : option">
                {{ (question.valueFormatter | func : option) || option }}
            </mat-option>
        </mat-autocomplete>

        <mat-hint *ngIf="question.hint">{{ question.hint }}</mat-hint>

        <button mat-icon-button matSuffix *ngIf="question.resetable && control && !control.disabled && control.value" aria-label="Clear" 
            (click)="control.setValue(''); control.markAsDirty()">
            <mat-icon>close</mat-icon>
        </button>

        <mat-error *ngIf="control && control.dirty && control.invalid">
            {{ getValidationErrorMessage() }}
        </mat-error>
    </mat-form-field>

</ng-template>