<app-main-skeleton navTogglerDisabled=true contentWrapperClass="p-0">

    <app-main-top-nav-bar navbar [config]="navConfig$ | async">
    </app-main-top-nav-bar>

    <ng-container *ngIf="(timesheets$ | async) else loading; let timesheets">
        <app-timesheet-admin-list-view *ngIf="timesheets?.length else loading"
            [timesheets]="timesheets"
            (statusToggled)="toggleTimesheetStatus($event)"
            (timesheetClicked)="openTimesheetCard($event)">
        </app-timesheet-admin-list-view>
    </ng-container>
    
    <app-bottom-action-bar bottombar
        [actions]="bottomActions">
    </app-bottom-action-bar>

</app-main-skeleton>

<ng-template #loading>
    <mat-spinner *ngIf="loading$ | async else noContent" class="center-spinner" color="accent"></mat-spinner>
</ng-template>

<ng-template #noContent>
    <div class="w-100 text-center mt-2 mat-h3">Fant ingen timer!</div>
</ng-template>

