<style>
    .tile-grid, .tile{
        box-sizing: border-box;
        display: flex;
        align-items: center;
    }
    .tile-grid{
        display: block;
        column-gap:8px;
        column-count: 3;
    }
    .tile {
        text-align: center;
        margin-bottom: 8px;
        flex-direction: column;
        place-content: center;
        border-radius:4px;
        height: 88px;
        padding: 8px;
        word-break: break-word;
        hyphens: auto;
    }
    .tile-text{line-height:1;}
</style>

<div class="tile-grid" [style.columnCount]="columnCount">
    
    <ng-container *ngFor="let nav of navigations">

        <span *ifRole="nav.allowedRoles" class="tile mat-elevation-z2 foreground-card" matRipple 
            [routerLink]="nav.routerLink" [attr.aria-label]="nav.aria">

            <mat-icon class="scale-150 mb-2">{{ nav.icon }}</mat-icon>

            <span class="mat-body-2 tile-text">{{ nav.text }}</span>

        </span>

    </ng-container>

</div>