@use '~@angular/material' as mat;

$app-primary: mat.define-palette(mat.$grey-palette, 50);
$app-accent:  mat.define-palette(mat.$cyan-palette, 900);
$app-warn:    mat.define-palette(mat.$red-palette, A700);

$app-warning: mat.define-palette(mat.$yellow-palette, A400);
$app-success: mat.define-palette(mat.$green-palette, A400);

$kbtv-client-theme: mat.define-light-theme((
    color: (
        primary: $app-primary,
        accent: $app-accent,
        warn: $app-warn
    ),
));

$background: map-get($kbtv-client-theme, background);

$foreground: map-get($kbtv-client-theme, foreground);

$gap-size: 4;

