
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
//@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import './_variables';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat-core-theme($kbtv-client-theme); //
@include mat-snack-bar-theme($kbtv-client-theme); //  d
@include mat-sidenav-theme($kbtv-client-theme); // d
@include mat-button-theme($kbtv-client-theme); // d
@include mat-icon-theme($kbtv-client-theme); //d
@include mat-toolbar-theme($kbtv-client-theme); // d
@include mat-progress-spinner-theme($kbtv-client-theme); // d   
@include mat-divider-theme($kbtv-client-theme); // d
@include mat-dialog-theme($kbtv-client-theme); // d
@include mat-autocomplete-theme($kbtv-client-theme); //
@include mat-checkbox-theme($kbtv-client-theme); //
@include mat-form-field-theme($kbtv-client-theme); //
@include mat-input-theme($kbtv-client-theme); //
@include mat-menu-theme($kbtv-client-theme); //
@include mat-radio-theme($kbtv-client-theme);
@include mat-select-theme($kbtv-client-theme);
@include mat-bottom-sheet-theme($kbtv-client-theme); // d
@include mat-chips-theme($kbtv-client-theme); // d
@include mat-slider-theme($kbtv-client-theme); // d

.cdk-virtual-scroll-content-wrapper{
  width:100%;
  padding-top:8px;
  padding-bottom: calc(var(--bottom-nav-height) + 32px);
}

// //Fix for bug on iOs
.mat-drawer-container {position: unset!important;}

.mat-icon{vertical-align: middle!important;}

.mat-bottom-sheet-container { max-height: 100vh!important }