/* You can add global styles to this file, and also import other style files */
@import './variables';
@import './app-animations.scss';
@import './spacing.scss';
//Dev only imports (remove for prod, lazily loaded)
// @import './lazy-styles/ag-grid.scss';
// @import './lazy-styles/mat-styles.scss';

@include gap-units($gap-size);

html:root{
  --ion-color-primary: black;
  --bottom-nav-inner-height: 48px;
  --bottom-nav-padding: 8px;
  --bottom-nav-height: calc(var(--bottom-nav-inner-height) +  var(--bottom-nav-padding))
}

html, body { height: 100%; overflow:hidden;padding:0;margin:0; overflow-x:hidden}
body {font-family: Roboto, "Helvetica Neue", sans-serif;overflow-x:hidden;}

.primary{
  background-color:$primary;
  color: mat-color($app-primary, default-contrast);
}

.primary-light{
  background-color:$primary-light;
  color: mat-color($app-primary, lighter-contrast);
}

.bg-card{
  background: mat-color($background, card);
}

.accent{
  background-color:$accent;
  color: mat-color($app-accent, default-contrast);
}

.color-accent{
  color: $accent;
}

.warn{
  background-color:$warn;
  color: mat-color($app-warn, default-contrast);
}

.color-warn{
  color: $warn;
}

.foreground-card{
  background-color:mat-color($background, card);
}

.bottom-bar-padding{ padding-bottom: var(--bottom-nav-height)!important; }

.line-height-100{line-height:100%}

.max-width{max-width:600px!important;}

.extended-dialog{
  max-width:90vw!important;
  .mat-dialog-container { padding:0 !important }
}

.h-100{height:100%;}

.w-100{width:100%;}

a {
  color: inherit; 
  text-decoration: inherit; 
}

.image_viewer_dialog{
  max-width:none!important;
  .mat-dialog-container{
    background-color:black!important;
    padding:0!important;
    border-radius: 0px;
  }
}

.notification-error{
  margin-bottom:110px!important;
  @extend .warn;
}

.notification-success{
  margin-bottom:110px!important;
  background:$success;
  color:black;
}

.notification-warning{
  margin-bottom:110px!important;
  background:$warning;
  color:black;
}

.ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loading-overlay{pointer-events: none; position:relative;}
.loading-overlay::after {
  content: ""; // ::before and ::after both require content
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
}

