<span class="mat-elevation-z2 bg-foreground pt-2" fxLayout="column" fxLayoutAlign="start center" matRipple 
  (click)="labelClicked.emit(date)">

    <div fxLayout="column" fxLayoutAlign="center center" >
      <span class="mat-h3 m-0 line-height-90">
        {{ this.date | date : 'E' }}
      </span>

      <span class="mat-title m-0 line-height-90">
        {{ this.date | date : 'dd' }}
      </span>

      <span class="mat-small line-height-90">
        {{ this.date | date : 'MMM' }}
      </span>
    </div>

    
    <mat-icon class="icon">add</mat-icon>
    
</span>






