<mat-card
    fxLayout="row" fxLayoutAlign="start stretch" class="swipe-card">

  <div class="swipe-hidden-content" matRipple 
    fxLayout="column" fxLayoutAlign="center center"
    [ngClass]="swipeButton.color" 
    (press)="handleSwipeBtnClick($event)">
        <mat-icon class="scale-125">{{ swipeButton.icon }}</mat-icon>
  </div>

  <div fxFlex class="swipe-content"
    matRipple [matRippleDisabled]="!navButton"
    (click)="handleNavClick()"
    [@openCloseConfirm]="lockPosition || (isClosed ? 'close' : 'open')"
    (swiperight)="hideSwipeAction(false)" 
    (swipeleft)="hideSwipeAction(true)">
    <ng-content>
      
    </ng-content>
  </div>

</mat-card>