
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
//@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import './_variables';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat-core-theme($kbtv-client-theme); //
@include mat-snack-bar-theme($kbtv-client-theme); //  d
@include mat-sidenav-theme($kbtv-client-theme); // d
@include mat-button-theme($kbtv-client-theme); // d
@include mat-icon-theme($kbtv-client-theme); //d
@include mat-toolbar-theme($kbtv-client-theme); // d
@include mat-progress-spinner-theme($kbtv-client-theme); // d   
@include mat-divider-theme($kbtv-client-theme); // d
@include mat-card-theme($kbtv-client-theme); // d
@include mat-dialog-theme($kbtv-client-theme); // d
@include mat-autocomplete-theme($kbtv-client-theme); //
@include mat-badge-theme($kbtv-client-theme); //
@include mat-checkbox-theme($kbtv-client-theme); //
@include mat-form-field-theme($kbtv-client-theme); //
@include mat-input-theme($kbtv-client-theme); //
@include mat-menu-theme($kbtv-client-theme); //
@include mat-radio-theme($kbtv-client-theme);
@include mat-select-theme($kbtv-client-theme);
@include mat-bottom-sheet-theme($kbtv-client-theme); // d
@include mat-chips-theme($kbtv-client-theme); // d
@include mat-slider-theme($kbtv-client-theme); // d

.bottom-fab-padding{ padding-bottom: 70px }

//Fix to keep items in CDK virtual scroll responsive 
.cdk-virtual-scroll-content-wrapper{
  width:100%;
  padding-top:8px;
  @extend .bottom-fab-padding
}

.horizontal-chips-container:before, .horizontal-chips-container:after {
  content: " ";
  position: absolute;
  top: 0;
  width: 20px;
  height: 100%;
  z-index:1;
  pointer-events:none!important;
}

.horizontal-chips-container:before {
  box-shadow: 15px 0 7px -12px inset mat-color($background, card);
}

.horizontal-chips-container:after {
  box-shadow: -15px 0 7px -12px inset mat-color($background, card);
  right:0;
}

.horizontal-chips-container{
  position: relative;
  width:100%;
  .horizontal-chips{
    .mat-chip-list-wrapper {
      flex-wrap: nowrap;
      white-space: nowrap;
      overflow-x:auto!important;
      overflow-y:hidden;
      margin: 2px 0 2px 0px;
      padding-left:2px;
      .mat-chip{
        max-width:50%;
      }
      .mat-standard-chip{
        margin:2px;
      }    
    }  
  }  
}

// //Fix for bug on iOs
.mat-drawer-container {position: unset!important;}

.mat-icon{vertical-align: middle!important;}

.mat-bottom-sheet-container { max-height: 100vh!important }