/* You can add global styles to this file, and also import other style files */
@import './variables';
@import './app-animations.scss';
@import './spacing.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&amp;display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
//Dev only imports (remove for prod, lazily loaded)
// @import './lazy-styles/ag-grid.scss';
// @import './lazy-styles/mat-styles.scss';

@include gap-units($gap-size);

html:root{
  --ion-color-primary: black;
  --bottom-nav-inner-height: 48px;
  --bottom-nav-padding: 8px;
  --bottom-nav-height: calc(var(--bottom-nav-inner-height) +  var(--bottom-nav-padding))
}

html, body { height: 100%; overflow:hidden;padding:0;margin:0; overflow-x:hidden}
body {font-family: Roboto, "Helvetica Neue", sans-serif;overflow-x:hidden;}

.primary{
  background-color:$primary;
  color: mat-color($app-primary, default-contrast);
}

.primary-light{
  background-color:$primary-light;
  color: mat-color($app-primary, lighter-contrast);
}

.color-primary{
  color: $primary;
}

.bg-card{
  background: mat-color($background, card);
}

.accent{
  background-color:$accent;
  color: mat-color($app-accent, default-contrast);
}

.accent-light{
  background-color:$accent-light;
  color: mat-color($app-accent, lighter-contrast);
}

.color-accent{
  color: $accent;
}

.color-white{ color: white }

.warn{
  background-color:$warn;
  color: mat-color($app-warn, default-contrast);
}

.warn-light{
  background-color:$warn-light;
  color: mat-color($app-warn, lighter-contrast);
}

.color-warn{
  color: $warn;
}


.foreground-card{
  background-color:mat-color($background, card);
}

.bottom-bar-padding{ padding-bottom: var(--bottom-nav-height)!important; }

.scale-150{transform:scale(1.5);}
.scale-125{transform:scale(1.25);}
.scale-75{transform:scale(.75);}

.line-height-100{line-height:100%}

.flex-spacer{flex: 1 1 auto;} //unnused

.max-width{max-width:600px!important;}

.extended-dialog{
  max-width:90vw!important;
  .mat-dialog-container { padding:0 !important }
}

.h-100{height:100%;}

.w-100{width:100%;}

.text-center{text-align:center}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.display-block{ display: block }

.image_viewer_dialog{
  max-width:none!important;
  .mat-dialog-container{
    background-color:black!important;
    padding:0!important;
    border-radius: 0px;
  }
}

.notification-error{
  margin-bottom:110px!important;
  @extend .warn;
}

.notification-success{
  margin-bottom:110px!important;
  background:$success;
  color:black;
}

.notification-warning{
  margin-bottom:110px!important;
  background:$warning;
  color:black;
}

.ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mid-divider{
   margin-left:$gap-size * 4px!important;
   width:calc(100% - (#{$gap-size} * 8px))!important;
}

.loading-overlay{pointer-events: none; position:relative;}
.loading-overlay::after {
  content: ""; // ::before and ::after both require content
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
}

.center-spinner{margin:$gap-size * 4px auto;}




