<style>
    .tile-grid, .tile{
        box-sizing: border-box;
        display: flex;
        align-items: center;
    }
    .tile-grid{
        display:flex;
        flex-wrap: wrap;
        margin:8px;
    }
    .tile-grid-2 > .tile { flex: 1 0 calc(50% - 8px); }
    .tile-grid-3 > .tile { flex: 1 0 calc(33.33% - 8px); }
    .tile {
        text-align: center;
        flex-direction: column;
        place-content: center;
        border-radius:4px;
        height: 88px;
        padding: 8px;
        margin: 4px;
        word-break: break-word;
        hyphens: auto;
    }   
    .tile-text{ line-height:1; }
    mat-icon{ transform: scale(1.5); margin-bottom: 8px; }
</style>

<div class="tile-grid" [ngClass]="columnCount === 2 ? 'tile-grid-2' : 'tile-grid-3'">
    
    <ng-container *ngFor="let nav of navigations">

        <span *ifRole="nav.allowedRoles" class="tile mat-elevation-z2 foreground-card" matRipple 
            [routerLink]="nav.routerLink" [attr.aria-label]="nav.aria">

            <mat-icon>{{ nav.icon }}</mat-icon>

            <span class="mat-body-2 tile-text">{{ nav.text }}</span>

        </span>

    </ng-container>

</div>