.swipe-card{
    padding:0!important;  
    overflow:hidden;
    position:relative;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: stretch flex-start;
    align-items: stretch;
    max-height: 100%;
    .hidden-content{
        position:absolute;
        top:0;
        left:0;
        height:100%;
        z-index:0!important;
    }
    .main-content{
        position:relative;    
        flex: 1 1 0%; 
        box-sizing: border-box;
    }
}
