<app-main-skeleton *ngIf="vm$ | async; let vm" contentWrapperClass="p-0">
    
    <app-header-layout-skeleton [title]="vm.mission?.address" [navOverlayDisabled]="!vm.mission?.fileName">

        <img header appImageErrorPlaceholder style="max-width:100%; width:100%;" alt="Forsidebilde"  
            *ngIf="vm.mission?.fileName; else addHeaderImage" 
            [appImageRatioResizer]="vm.mission?.fileName | appImageUrlRatio"    
            [src]="vm.mission.fileName | appFileUrl: FileFolder.MissionHeader"     
            (tap)="openImageViewer(vm.mission)"/>

        <app-mission-details-view content [mission]="vm.mission">
        </app-mission-details-view>

    </app-header-layout-skeleton>

    <app-bottom-action-bar bottombar
        [fab]="([Roles.Oppdragsgiver] | ifRole) ? null : actionFab" 
        [actions]="vm.bottomActions">
    </app-bottom-action-bar>

</app-main-skeleton>
  
<input type="file" style="display:none" #headerImageInput (change)="updateHeaderImage($event.target.files)">
<input type="file" style="display:none" multiple #missionImageInput (change)="addMissionImages($event.target.files)">

<ng-template #addHeaderImage>
    <app-button [config]="addHeaderImgBtn | transformButton : baseHeaderImgButton">
    </app-button>
</ng-template>
