<mat-toolbar fxLayout="column" fxLayoutAlign="center stretch" class="mb-4 mt-4">

  <ng-container *ngIf="config.isOnline else offlineHeader">
    <span class="mat-small color-accent ellipsis"> Tilkoblet internett</span>
  </ng-container>
  <ng-template #offlineHeader>
    <span class="mat-small color-warn ellipsis">Frakoblet internett</span>
  </ng-template>

  <span class="mat-subheading-1 ellipsis" *ngIf="config.user" style="margin:0;">
    {{ config.user.firstName }} {{ config.user.lastName }}
  </span>

  <span class="mat-small ellipsis" *ngIf="config.user">
    Sist synkronisert {{ config.syncTimestamp | date : 'shortTime'}}
  </span>

</mat-toolbar>

<mat-divider></mat-divider>

<div class="nav-list">
  <ng-container *ngFor="let navButton of config.navigations">

    <app-nav-item [navButton]="navButton" (hasNavigated)="onNavClick()">
    </app-nav-item>

  </ng-container>
</div>