<style>
  mat-toolbar{
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: stretch center;
    align-items: stretch;
    max-width: 100%;
    background: transparent;
  }
</style>
<mat-toolbar class="mb-4 mt-4">

  <ng-container *ngIf="config.isOnline else offlineHeader">
    <span class="mat-small color-accent ellipsis"> Tilkoblet internett</span>
  </ng-container>
  <ng-template #offlineHeader>
    <span class="mat-small color-warn ellipsis">Frakoblet internett</span>
  </ng-template>

  <span class="mat-subheading-1 ellipsis" *ngIf="config.user" style="margin:0;">
    {{ config.user.firstName }} {{ config.user.lastName }}
  </span>

  <span class="mat-small ellipsis" *ngIf="config.user">
    Sist synkronisert {{ config.syncTimestamp | date : 'shortTime'}}
  </span>

</mat-toolbar>

<mat-divider></mat-divider>

<app-nav-item *ngFor="let navButton of config.navigations" 
  [navButton]="navButton" (hasNavigated)="onNavClick()">
</app-nav-item>

