@import '../../../../styles/variables';

.container {
    position:relative;
  }

.img-container{
    overflow-y:auto;
    overflow-x:hidden;
    width:100%;
    min-height:150px;
    max-width:600px;
    max-height:37vh; 
    //max-width:650px!important;
    img{
        max-width:100%;
    }
}

.title-line{
    display:inline-block;
    margin-top:2px; 
}

.img-title-overlay{
    background-color:rgba(0,0,0,.75);
}

mat-toolbar.detail-nav, 
mat-toolbar-row.detail-nav, 
mat-toolbar-single-row.detail-nav{
  height:auto!important;
  padding: 2px!important;
  min-height:100px!important;
  background:inherit;
  color:inherit;
} 

::ng-deep.detail-navbar-overlay{
    position: absolute;
    left: 0;
    right: 0;
    background-color:transparent!important;
    color:white!important;
}

::ng-deep.detail-navbar-overlay-top{
    top: 0;
    background-color:rgba(0,0,0,.5)!important;
}

.detail-navbar-overlay-bottom{
    bottom: 0;
    pointer-events:none;
}

.no-img-container-height{
    height:auto;
}