<div class="mission-bar mat-elevation-z2" fxLayout="column" fxLayoutAlign="center center" 
    [ngClass]="{
        'bg-success-light': timesheet.status == 2, 
        'bg-warn-light': timesheet.status == 0,
        'width-no-handset': true
    }"
    [ngClass.xs]="{
        'bg-success-light': timesheet.status == 2, 
        'bg-warn-light': timesheet.status == 0,
        'width-handset': true
    }"
    (click)="clickBar()" matRipple>

    <span class="mat-body-strong">
        {{ timesheet.totalHours }}t
    </span>


</div>