
@import '../../../../variables';

.mission-bar{
    border-radius:4px!important;
    height:100%;
    margin:$content-margin * 0.5px!important;
    padding:$content-margin * 0.5px!important; 
    text-align:center;
}

.width-no-handset{
    width:calc(((100vw - #{$sidenav-width * 1px}) / 7) -  #{$content-margin * 1px} - 1px);
}

.width-handset{
    width:calc((100vw / 5) -  #{$content-margin * 1px} - 1px);
}