<app-main-skeleton navTogglerDisabled=true contentWrapperClass="p-0">

    <app-main-top-nav-bar navbar *ngIf="titles$ | async; let titles">
        <span>{{ titles.title }}</span>
        <span class="mat-caption ml-1">{{ titles.subTitle }}</span>
    </app-main-top-nav-bar>

    <ng-container *ngIf="(timesheets$ | async) else loading; let timesheets">
        <app-timesheet-admin-list-view *ngIf="timesheets.length else loading"
            [timesheets]="timesheets"
            (statusToggled)="toggleTimesheetStatus($event)"
            (timesheetClicked)="$event?.status === 2 ? openTimesheetCard($event) : openTimesheetForm($event?.id)">
        </app-timesheet-admin-list-view>
    </ng-container>
    
    <app-bottom-action-bar bottombar [fab]="actionFab"
        [actions]="bottomActions">
    </app-bottom-action-bar>

</app-main-skeleton>

<ng-template #loading>
    <app-fetching-model-content modelProp="timesheets"></app-fetching-model-content>
</ng-template>
