
  <mat-toolbar fxLayout="column" fxLayoutAlign="center start" class="bg-primary mat-elevation-z1">

    <ng-container *ngIf="config.isOnline else offlineHeader">
      <span class="mat-small color-success"> Tilkoblet internett </span>
    </ng-container>
    <ng-template #offlineHeader>
      <span class="mat-small color-accent">Frakoblet internett</span>
    </ng-template>

    <span class="mat-body" *ngIf="config.user">
      {{ config.user.firstName }} {{ config.user.lastName }}
    </span>

  </mat-toolbar>

  <div class="nav-list">
    <ng-container *ngFor="let navButton of config.navigations">
      <app-nav-item 
        [navButton]="navButton"
        (hasNavigated)="onNavClick()">
      </app-nav-item>  
      <mat-divider *ifRole="navButton.allowedRoles" class="mid-divider"></mat-divider>
    </ng-container>
  </div>

