
<app-timesheet-form [date]="date" [mission]="mission"></app-timesheet-form>

<mat-divider></mat-divider>

<div class="timesheet-container">

  <span class="form-header">Registrerte timer for {{ isDateView ? 'dato' : 'oppdrag' }}</span>
  <button mat-button color="primary" (click)="confirmAll()">Bekreft alle</button>

  <div  fxLayout="column" fxLayoutGap="8px">
    <app-timesheet-card style="color:red!important"
      *ngFor="let timesheet of timesheetInfo.openTimesheets"
      [timesheetId]="timesheet.id">
    </app-timesheet-card>

    <app-timesheet-card
      *ngFor="let timesheet of sortByDate(timesheetInfo.closedTimesheets)"
      [timesheetId]="timesheet.id">
    </app-timesheet-card>
  </div>

</div>
