
<app-timesheet-form [date]="date" [mission]="mission"></app-timesheet-form>

<mat-divider></mat-divider>

<div class="form-container">
  <span class="form-header">Registrerte timer for {{ isDateView ? 'dato' : 'oppdrag' }}</span>
  <button mat-button color="primary" (click)="confirmAll()">Bekreft alle</button>

  <app-timesheet-card
    *ngFor="let timesheet of timesheetInfo.openTimesheets"
    [timesheet]="timesheet"
    (hasConfirmed)="hasConfirmed.emit(timesheet.id)"
    (hasDeleted)="hasDeleted.emit(timesheet.id)">
  </app-timesheet-card>

  <app-timesheet-card
    *ngFor="let timesheet of timesheetInfo.closedTimesheets"
    [timesheet]="timesheet">
  </app-timesheet-card>
</div>
