<form *ngIf="userForm" [formGroup]="userForm" fxLayout="column">

  <mat-form-field>
    <input matInput placeholder="Brukernavn" formControlName="userName" required>
    <mat-error *ngIf="this.userName.invalid">
      Brukernavn er ett obligatorisk felt på minst 4 tegn. ÆØÅ ikke tillatt.
    </mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="isCreateForm">
    <input matInput placeholder="Passord" formControlName="password" [type]="hidePassword ? 'password' : 'text'"
      required>

    <mat-icon matSuffix (click)="hidePassword = !hidePassword">
      {{hidePassword ? 'visibility_off' : 'visibility'}}
    </mat-icon>

    <mat-error *ngIf="this.password.invalid">
      Passord er ett obligatorisk felt på minst 7 tegn.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Fornavn" formControlName="firstName" required>
    <mat-error *ngIf="this.firstName.invalid">
      Fornavn er ett obligatorisk felt på maks 100 tegn.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Etternavn" formControlName="lastName" required>
    <mat-error *ngIf="this.lastName.invalid">
      Etternavn er ett obligatorisk felt på maks 100 tegn.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Rolle" (change)="changeRole($event)" formControlName="role" required>
      <mat-option *ngFor="let role of roles" [value]="role">{{ role }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Kontaktnummer" formControlName="phoneNumber">
    <mat-error *ngIf="this.phoneNumber.invalid">
      Kontaktnummer må være mellom 4 og 12 siffer.
    </mat-error>
  </mat-form-field>

  <app-submit-button [disabled]="userForm.invalid || userForm.pristine" (click)="onSubmit()">
  </app-submit-button>
</form>