<form *ngIf="userForm" [formGroup]="userForm" fxLayout="column">

  <mat-form-field>
    <input matInput placeholder="Brukernavn" formControlName="userName" required>
    <mat-error *ngIf="this.userName.invalid">
      Minst 4 tegn. ÆØÅ og mellomrom ikke tillatt.
    </mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="isCreateForm">
    <input matInput placeholder="Passord" formControlName="password" [type]="hidePassword ? 'password' : 'text'"
      required>

    <mat-icon matSuffix (click)="hidePassword = !hidePassword">
      {{hidePassword ? 'visibility_off' : 'visibility'}}
    </mat-icon>

    <mat-error *ngIf="this.password.invalid">
      Passord er ett obligatorisk felt på minst 7 tegn.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Fornavn" formControlName="firstName" required>
    <mat-error *ngIf="this.firstName.invalid">
      Fornavn er ett obligatorisk felt på maks 100 tegn.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Etternavn" formControlName="lastName" required>
    <mat-error *ngIf="this.lastName.invalid">
      Etternavn er ett obligatorisk felt på maks 100 tegn.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Rolle" (change)="changeRole($event)" formControlName="role" required>
      <mat-option *ngFor="let role of roles" [value]="role">{{ role }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field [fxHide]="role.value !== Roles.Oppdragsgiver">
    <mat-select placeholder="Oppdragsgiver" (change)="changeEmployerId($event)" formControlName="employerId">
      <mat-option *ngFor="let employer of employers" [value]="employer.id">{{ employer.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Kontaktnummer" formControlName="phoneNumber">
    <mat-error *ngIf="this.phoneNumber.invalid">
      Kontaktnummer må være mellom 4 og 12 siffer.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Epost" formControlName="email">
    <mat-error *ngIf="this.email.invalid">
      Epost adressen er ugyldig.
    </mat-error>
  </mat-form-field>

  <button appHttpCommandButton mat-raised-button class="w-100" color="primary" 
    [disabled]="userForm.invalid || userForm.pristine"
    (click)="onSubmit()">
    {{ isCreateForm ? 'Legg til' : 'Oppdater' }} 
  </button>
</form>