<div fxLayout="row" fxLayoutAlign="start stretch" class="swipe-card">

  <div class="hidden-content">
      <ng-content select="[swipeContent]">

      </ng-content>    
  </div>

  <div fxFlex class="main-content" matRipple
    [@openCloseConfirm]="{
      value: lockPosition || (isClosed ? 'close' : 'open'), 
      params: {
        open_width: openWidth,
        closed_width: closedWidth
      }
    }"
    (swiperight)="toggleSwipeContent(false)" 
    (swipeleft)="toggleSwipeContent(true)">
    <ng-content>
      
    </ng-content>
  </div>

</div>