.swipe-card{
    padding:0!important;  
    overflow:hidden;
    position:relative;
    .hidden-content{
        position:absolute;
        top:0;
        left:0;
        height:100%;
        z-index:0!important;
    }
    .main-content{
        position:relative;     
    }
}
