<app-main-top-nav *ngIf="vm$ | async; let vm" [fabs]="vm.fabs" [config]="vm.navConfig">
    <app-selectable-list #documentList *ngIf="vm.documents" identifier="id"
        [totalRows]="vm.isXs ? 2 : 4"
        [entities]="vm.documents" 
        [itemTemplate]="documentTemplate"
        (selectionChanged)="onSelectionChange($event)"
        (itemClicked)="downloadDocument($event)">
    </app-selectable-list>
</app-main-top-nav>

<ng-template #documentTemplate let-entity>
    <div class="bg-foreground text-center mat-elevation-z2 p-2 pt-6 pb-6 m-1">
        <mat-icon [svgIcon]="entity.fileName | fileExtension | fileExtensionIcon" class="scale-150 mb-2"></mat-icon>
        <div>{{ entity.documentType?.name }}</div>

        <div class="mat-caption">Filtype: {{ entity.fileName | fileExtension | uppercase }}</div>
        <div class="mat-caption">Lastet opp {{ entity.updatedAt | date : 'dd.MMM yyyy' }}</div>
    </div>
</ng-template>

<router-outlet></router-outlet>