@import '../../variables';

.auth-form{
  padding:0;
  margin:0;
  text-align:center;
}


.auth-container{
  background-color:mat-color($background,"app-bar");
  height:100%;
  color:mat-color($foreground, "base");
}
