
  <mat-card class="app-card m-3" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px"
    ngClass="ml-auto mr-auto" [ngClass.xs]="{'ml-auto':false, 'mr-auto':false}">

    <img src="assets/icons/icon-144x144.png" style="width:120px;height:120px" />

    <form [formGroup]="authForm" (ngSubmit)="submitForm()" class="text-center">
      <span class="mat-subheading-2">Logg inn</span>
      <fieldset>
        <mat-form-field>
          <mat-icon matSuffix color="primary">person</mat-icon>
          <input matInput
            formControlName="Username"
            placeholder="Brukernavn"
            type="text" />
        </mat-form-field><br />
        <mat-form-field>
          <mat-icon matSuffix color="primary">vpn_key</mat-icon>
          <input matInput
            formControlName="Password"
            placeholder="Passord"
            [type]="hidePassword ? 'password' : 'text'"  />

          <mat-icon matSuffix (click)="hidePassword = !hidePassword">
              {{hidePassword ? 'visibility_off' : 'visibility'}}
          </mat-icon>
        </mat-form-field>
      </fieldset>
      <button mat-raised-button color="accent" [disabled]="!authForm.valid" type="submit">
        <mat-icon>lock_open</mat-icon>
        Logg inn
      </button>
    </form>
  
    <button mat-raised-button appAddToHomeScreen color="accent">
      <mat-icon>get_app</mat-icon> Legg til app
    </button>
  </mat-card>




