<div class="p-0 h-100" fxLayout="column" fxLayoutAlign="start stretch" *ngIf="activeView$ | async; let view">
    <mat-spinner class="center-spinner" color="accent" *ngIf="!view"></mat-spinner>
    <ng-container 
        [ngTemplateOutlet]="view.view || yearList"
        [ngTemplateOutletContext]="{ $implicit: view.context }">
    </ng-container>
</div>

<ng-template let-summaries #yearList>   
    <app-timesheet-summary-card
        *ngFor="let summary of summaries" [summary]="summary"
        (click)="updateQuery({userName: summary.userName})">
    </app-timesheet-summary-card>
</ng-template>

<ng-template let-summaries #weekList>  
    <cdk-virtual-scroll-viewport itemSize="82" [attr.minBufferPx]="11*82" [attr.maxBufferPx]="13*82" fxFlex>
        <app-timesheet-summary-card
            *cdkVirtualFor="let summary of summaries"
            [summary]="summary"
            (press)="confirmTimesheets(summary.timesheets)"
            (click)="updateQuery({week: summary.week})">
        </app-timesheet-summary-card>    
    </cdk-virtual-scroll-viewport>
</ng-template>

<ng-template let-timesheets #timesheetList>  
    <cdk-virtual-scroll-viewport itemSize="108" [attr.minBufferPx]="6*108" [attr.maxBufferPx]="8*108" fxFlex>
        <div class="m-2 mat-elevation-z3" *cdkVirtualFor="let timesheet of timesheets | sortByTimesheetStatus">
            <app-timesheet-card adminView="true"        
            [timesheet]="timesheet"      
            (statusChanged)="changeTimesheetStatus($event.id, $event.status)">
            </app-timesheet-card>
        </div>
    </cdk-virtual-scroll-viewport>
</ng-template>