<ng-container *ngIf="activeView$ | async else loading; let view" [ngTemplateOutlet]="view.view || weekList"
    [ngTemplateOutletContext]="{ $implicit: view.context }">
</ng-container>

<ng-template let-summaries #weekList>
    <div class="h-100" fxLayout="column" fxLayoutAlign="start stretch">
        <cdk-virtual-scroll-viewport itemSize="82" fxFlex>
            <app-swipe-card *cdkVirtualFor="let summary of summaries; trackBy: trackByWeek; templateCacheSize:0"
                [navButton]="{callback: selectWeek, params: summary.week}"
                [swipeEnabled]="summary.openHours > 0" [swipeButton]="{
                        callback: confirmTimesheets, 
                        params: [summary.timesheets], 
                        icon: summary.openHours > 0 ? 'lock_open' : 'lock', 
                        colorClass: summary.openHours > 0 ? 'bg-warn' : 'bg-success'}">
                <app-timesheet-summary-card-content [summary]="summary"></app-timesheet-summary-card-content>
            </app-swipe-card>
        </cdk-virtual-scroll-viewport>
    </div>
</ng-template>

<ng-template let-timesheets #timesheetList>
    <div class="h-100" fxLayout="column" fxLayoutAlign="start stretch">
        <cdk-virtual-scroll-viewport itemSize="108" fxFlex>
            <app-timesheet-card adminView="true" *cdkVirtualFor="let timesheet of timesheets; trackBy: trackById"
                [timesheet]="timesheet" (statusChanged)="changeTimesheetStatus($event.id, $event.status)">
            </app-timesheet-card>
        </cdk-virtual-scroll-viewport>
    </div>
</ng-template>

<ng-template #loading>
    <span>Ingen timer registrert</span>
</ng-template>