@use '~@angular/material' as mat;
@import '../../../styles/variables';

mat-sidenav-container{
    background: mat.get-color-from-palette($background, status-bar);
    position: unset!important
}

mat-sidenav {
    width:230px;
    background: mat.get-color-from-palette($background, app-bar);
}

mat-sidenav-content{
    margin:0;
    height:100%;
    overflow-x:hidden;
    flex-direction: column;
    div{
        overflow-x:hidden;
        position:relative;
        height:100%;
        flex-direction: row;
        flex: 1 1 1e-09px;
    }
}

mat-sidenav-content, div{
    box-sizing: border-box;
    display: flex;
}
