<div fxLayout="column" fxLayoutAlign="start stretch" class="h-100 max-width">

    <button mat-fab aria-label="ny" class="action_fab" (click)="openTimesheetForm(getCurrentFilter().mission)">
        <mat-icon class="scale-125">add</mat-icon>
    </button>

    <ng-container *ngIf="(timesheets$ | async); let timesheets">{{test()}}
        <cdk-virtual-scroll-viewport *ngIf="timesheets?.length else noSheets" itemSize="148" maxBufferPx="800" minBufferPx="800" fxFlex class="fadeInRight">
            <div class="m-1" *cdkVirtualFor="let timesheet of timesheets">
                <app-timesheet-card [timesheet]="timesheet" (deleteClicked)="deleteTimesheet($event)"
                    (editClicked)="openTimesheetForm(undefined, $event)">
                </app-timesheet-card>
            </div>
        </cdk-virtual-scroll-viewport>
    </ng-container>
</div>

<ng-template #noSheets>
    <span class="ppt-5 text-center w-100">
        <p>Finner ingen timer med gitte filtre. </p>
        <button mat-raised-button color="accent" class="bounceIn" (click)="openFilterSheet()">Åpne filter</button>
    </span>
</ng-template>

<router-outlet></router-outlet>