<div fxLayout="column" fxLayoutAlign="space-around stretch">
  <ng-container *ngIf="userName">
    <mat-form-field>
      <mat-select [(ngModel)]="userName" placeholder="Velg ansatt">
        <mat-option *ngFor="let user of users" [value]="user.userName">
          {{ user.firstName }} {{ user.lastName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-divider></mat-divider>
    <span class="mb-2"></span>
  </ng-container>

  <mat-form-field>
    <mat-label>Velg år</mat-label>
    <input matInput [(ngModel)]="year" type="number">
  </mat-form-field>

  <mat-divider></mat-divider>
  <span class="mb-2"></span>
  
  <span fxLayout="row" fxLayoutAlign="end center">
    <button mat-button color="primary" (click)="applyFilter()">Bruk</button>
  </span>
</div>
