@import '../../../../../styles/variables';

.content-container{
    overflow:auto;
    width:100%;
    height:100%;
    position: relative;
    
    .header-container{
        width:100%;
        text-align:center;
        background:mat-color($background, disabled-button-toggle);
        position:sticky;
        top:0;
        z-index:1;
        overflow:hidden;
        min-height:160px;
        max-height:40vh; 

        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: center;
        align-items: center;
    }
    
    .content-header{
        background:white;
        color:black;
        z-index:2;
        position: relative;
        font-size:19px;
        font-weight:400; 
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        transform: translateY(-20px);
        transition: box-shadow 150ms linear, border-radius 150ms linear;  
        .drag-handle{
            width:100%;
            text-align: center;
            height:24px;
        } 
        .content-header-title{
            transition: opacity 150ms linear;       
            padding: 0 24px 24px 20px;
        }
    }
    .content-header-top{
        border-radius: 0px; 
        .content-header-title{
            opacity: 0;
        }
    } 
    .content {
        background:white;
        display:block;
        width:100%;   
        padding-bottom: calc(var(--bottom-nav-height) + 32px);
        position: relative;
        z-index: 2;
        transform: translateY(-20px);
    }
}

.nav-bar{
    width:100%;
    position:absolute;
    z-index:4;
    transition: background-color 150ms linear;
}

.solid{
    background:white;
    color:black;
}