<div class="p-0 h-100" fxLayout="column" fxLayoutAlign="start stretch" *ngIf="weekSummaries$ | async;let summaries">
    <mat-spinner class="center-spinner" color="accent" *ngIf="summaries.length < 1"></mat-spinner>
    <cdk-virtual-scroll-viewport itemSize="82" [attr.minBufferPx]="11*82" [attr.maxBufferPx]="13*82" fxFlex>
        <app-timesheet-summary-card
            *cdkVirtualFor="let summary of summaries"
            [summary]="summary"
            [routerLink]="['/timeadministrering/uke']" [queryParams]="{year: summary.year, weekNr: summary.week}">
        </app-timesheet-summary-card>    
    </cdk-virtual-scroll-viewport>
</div>