<div fxLayout="column" fxLayoutAlign="start stretch" class="h-100">
    <cdk-virtual-scroll-viewport *ngIf="timesheets?.length else noContent"
        itemSize="96" maxBufferPx="800" minBufferPx="800" fxFlex appScrollNavElevationToggler>
        <ng-container *cdkVirtualFor="let timesheet of timesheets | sortByDate : 'startTime'; trackBy: trackByTimesheet">
                
            <app-list-item (click)="onTimesheetClick(timesheet)">

                <ng-container left-side>
                    <mat-icon *ngIf="timesheet.status === 1 else closedIcon" color="warn">lock_open</mat-icon>
                    <ng-template #closedIcon><mat-icon color="accent">lock</mat-icon></ng-template>
                </ng-container>

                <app-timesheet-list-item-content [timesheet]="timesheet">
                </app-timesheet-list-item-content>
           
            </app-list-item>

            <mat-divider></mat-divider>
            
        </ng-container>
    </cdk-virtual-scroll-viewport>
</div> 

<ng-template #noContent>
    <span class="text-center w-100">
        <p>Finner ingen timer med gitte filtre. </p>
        <button mat-raised-button color="accent" class="bounceIn" (click)="filterClicked.emit()">
            <mat-icon>filter_list</mat-icon>
            Åpne filter
        </button>
    </span>
</ng-template>