<div class="timesheet-bar" fxLayout="row" fxLayoutAlign="start center">

  <span class="static-section mat-elevation-z6" fxLayout="row" fxLayoutAlign="start center" (click)="this.addClick.emit()" matRipple>

    <button mat-icon-button color="primary" [disableRipple]="true">
      <mat-icon class="icon_125">add</mat-icon>
    </button>

    <div fxLayout="column" fxLayoutAlign="center start">
      <span class="mat-title m-0">
        {{ this.date.format('ddd') }}
      </span>

      <span class="mat-small">
        {{ this.date.format('Do MMM') }}
      </span>
      <span class="mat-small">
        <span class="color-primary" *ngIf="this.totalHoursClosed > 0">
          {{ this.totalHoursClosed.toFixed(1) }}t
          <ng-container *ngIf="this.totalHoursOpen > 0">/</ng-container>
        </span>
        <span class="color-warn" *ngIf="this.totalHoursOpen > 0">
          <ng-container *ngIf="this.totalHoursClosed > 0">/</ng-container>
          {{ this.totalHoursOpen.toFixed(1) }}t
        </span>
      </span>
    </div>

  </span>


  <div class="progress-bar-container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2px" fxFlex
  [@listAnimation]="timesheetInfo.closedTimesheets.length + timesheetInfo.openTimesheets.length">

      <app-timesheet-mission-bar 
        *ngFor="let timesheet of timesheetInfo.openTimesheets" 
        [timesheet]="timesheet"
        [style.width.%]="(timesheet.totalHours / 12)*100"
        color="warn">
      </app-timesheet-mission-bar>
      
      <app-timesheet-mission-bar 
        *ngFor="let timesheet of timesheetInfo.closedTimesheets" 
        [timesheet]="timesheet"
        [style.width.%]="(timesheet.totalHours / 12)*100">
      </app-timesheet-mission-bar>

  </div>

</div>





