@import '../../../../variables';

*{
  line-height:16.5px;
}

.static-section{
  background:$bg-app-bar;
  width:100%;
  padding-top:$content-margin*1px;
}

.timesheet-bar{
  min-width:58px;
  height:100%;
}

.width-no-handset{
  width:calc(((100vw - #{$sidenav-width * 1px}) / 7) - 1px);
}

.width-handset{
  width:calc((100vw / 5) - 1px);
}

.highlighted{
  border:1px solid $primary;
}

.progress-bar-container{
  margin-top:1px;
  min-height:25px;
  color:$bg-black;
  position:relative;
}