@import '../../../../variables';

*{
  line-height:14.5px;
}

.static-section{
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
  background:$bg-app-bar;
  min-height:46px;
  width:105px;
  height:$timesheet-weekday-height;
}

.timesheet-bar{
  margin:$content-margin * .5px;
}


.highlighted{
  border:1px solid $primary;
}


.progress-bar-container{
  height:$timesheet-weekday-height;
  margin-left:2px;
  min-width:25px;
  color:$bg-black;
  position:relative;
}