<app-nested-nav
      icon="edit"
      [title]="this.title"
      (event)="onNoClick()"
      [botNavEnabled]="false">

    <form *ngIf="missionForm" [formGroup]="missionForm" class="app-form" fxLayout="column">
      <mat-form-field>
          <input ngx-google-places-autocomplete [options]='googleOptions' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"
           matInput placeholder="Addresse" formControlName="address" required>
          <mat-error *ngIf="this.address.invalid">
              Addresse er ett obligatorisk felt på maks 100 tegn.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Kontaktnummer"  formControlName="phoneNumber">
            <mat-error *ngIf="this.phoneNumber.invalid">
                Kontaktnummer må være mellom 4 og 12 siffer.
            </mat-error>
        </mat-form-field>

        <mat-form-field>
          <textarea
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            placeholder="Beskrivelse"
            formControlName="description">
          </textarea>
          <mat-error *ngIf="this.description.invalid">
              Beskrivelse er på maks 400 tegn.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Oppdragsgiver" aria-label="Oppdragsgiver" [formControl]="employerName" [matAutocomplete]="auto1">
          <mat-autocomplete #auto1="matAutocomplete">
            <mat-option *ngFor="let employer of data.employers" [value]="employer.name">
              {{employer.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Oppdragstype" aria-label="Oppdragstype" [formControl]="missionTypeName" [matAutocomplete]="auto2">
          <mat-autocomplete #auto2="matAutocomplete">
            <mat-option *ngFor="let type of data.missionTypes" [value]="type.name">
              {{type.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>


        <mat-checkbox *ngIf="!data.isCreateForm" formControlName="finished">Er oppdraget ferdig?</mat-checkbox>
        <br />
        <button (click)="onSubmit()" [disabled]="this.missionForm.invalid" mat-raised-button color="primary">Lagre</button>

    </form>

  </app-nested-nav>


