@use '~@angular/material' as mat;
@import '../../../../../../styles/variables';

.search-bar {
    border:none;
    background:mat.get-color-from-palette($background, card);
    
    div{
        border-bottom: 1px solid black;
        width:100%;    
        display: flex;
    }
    input {
        border:none;
        font-size:16px;
        flex: 1 1 0%; 
        box-sizing: border-box;
    }
    input:focus {
        outline: none;
    }
    mat-icon {
        padding:8px;
    }
    mat-divider {
        transform: scaleY(0.65)
    }
}
