
<div class="bg-primary mat-elevation-z3">

  <div fxLayout="row" fxLayoutAlign="space-between center" class="pl-1 pr-1">
    <span>
      <mat-form-field class="field year-field" color="accent">
        <input matAutosize=true matInput type="number" placeholder="År" autocomplete="off"
          [ngModel]="dateParams.year"
          (ngModelChange)="changeYear($event)">
      </mat-form-field>

      <mat-form-field class="field week-field" color="accent">
        <input matAutosize=true matInput type="number" placeholder="Uke" autocomplete="off"
          [ngModel]="dateParams.weekNr"
          (ngModelChange)="changeWeek($event)">
      </mat-form-field>
    </span>
    <app-stroked-button [config]="confirmBtnConfig"></app-stroked-button>
  </div>

  <mat-divider></mat-divider>

  <app-week-picker
    [weekNr]="dateParams.weekNr"
    [totalWeeks]="totalWeeks"
    (weekSelected)="changeWeek($event)">
  </app-week-picker>

</div>

