<mat-toolbar style="font-size:1rem;position:absolute;bottom:0"  fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">

    <button (click)="previousPage()" mat-icon-button aria-label="Forrige side">
            <mat-icon class="icon_150">chevron_left</mat-icon>
    </button>

    <span>{{ paginationInfo.actualPage + 1 }} av {{ paginationInfo.totalPages }} sider</span>

    <button (click)="nextPage()" mat-icon-button aria-label="Neste side">
            <mat-icon class="icon_150">chevron_right</mat-icon>
    </button>

</mat-toolbar>
