
<ng-container *ngIf="vm$ |  async; let vm">

    <button mat-icon-button  routerLink="/aktivitetslogg" *ngIf="vm.loading && vm.isOnline; else offlineContent"
        [style.pointerEvents]="(vm.optimisticCount || !vm.isOnline) ? 'all' : 'none'">

        <span class="loading-count mat-body" *ngIf="vm.optimisticCount && vm.optimisticCount > 1">
            {{ vm.optimisticCount }}
        </span>
            
        <ion-spinner name="circles"></ion-spinner>

    </button>
    
    <ng-template #offlineContent>
        <button mat-icon-button  routerLink="/aktivitetslogg" *ngIf="vm.optimisticCount"
            [style.pointerEvents]="(vm.optimisticCount || !vm.isOnline) ? 'all' : 'none'">

            <mat-icon> portable_wifi_off </mat-icon>

        </button>
    </ng-template>

</ng-container>

