<mat-toolbar #navBar class="toolbar-slim bg-primary mat-elevation-z4 color-foreground">

  <ng-container *ngIf="searchBarHidden else searchBarContent">
    <app-button *ngIf="config?.backFn else menuBtn" [config]="{
        callback: config.backFn, 
        params: config.backFnParams,
        type: ButtonTypes.Icon,
        aria: 'Tilbake',
        icon: 'chevron_left',
        iconSizeClass: 'scale-150'}">
    </app-button>

    <ng-template #menuBtn>
      <button mat-icon-button aria-label="Toggle sidenav" (click)="onMenuButtonClick()" fxHide fxShow.xs>
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </ng-template>

    <span class="mr-auto">
      <ng-container>
        <span *ngIf="!config?.backFn else noLinkTitle" class="ml-1"
          [routerLink]="['/hjem']">{{ config?.title || "Hjem" }}</span>
        <ng-template #noLinkTitle><span class="ml-1">{{ config.title }}</span></ng-template>
      </ng-container>
      <mat-icon *ngIf="config?.subIcon" class="scale-75">{{ config.subIcon }}</mat-icon>
      <span class="ml-1 mat-caption">{{ config?.subTitle }}</span>
    </span>

    <mat-spinner *ngIf="loading$ |  async" diameter="24" color="accent" class="mr-2"></mat-spinner>

    <app-button *ngIf="config?.searchBar" [config]="{
        callback: toggleSearchBar, 
        type: ButtonTypes.Icon,
        aria: 'Tilbake',
        icon: 'search'}">
    </app-button>

    <app-button *ngFor="let button of config?.buttons | transformButtons: ButtonTypes.Icon" [config]="button">
    </app-button>

    <button mat-icon-button *ngIf="(config?.bottomSheetButtons | checkRolesInButtons : currentUserRole)"
      (click)="openBottomSheet(config.bottomSheetButtons)">

      <mat-icon>more_vert</mat-icon>
    </button>
  </ng-container>

</mat-toolbar>

<ng-template #searchBarContent>
    <app-button [config]="{
      callback: toggleSearchBar, 
      type: ButtonTypes.Icon,
      aria: 'Tilbake',
      icon: 'close'}">
    </app-button>

    <input #searchInput appInputListener (inputChanged)="handleSearchFn($event);" fxFlex
      [value]="config.searchBar.initialValue || ''" [placeholder]="config.searchBar.placeholder" class="mt-1 mb-1 p-2 pl-3 mr-1"
      style="background:white;border:none;border-radius:10px;">
</ng-template>