<mat-toolbar class="toolbar-slim color-foreground" style="background:inherit">
   
    <app-button *ngIf="config?.backFn else menuBtn" 
      [config]="{
        callback: config.backFn, 
        params: config.backFnParams,
        type: ButtonTypes.Icon,
        aria: 'Tilbake',
        icon: 'chevron_left',
        iconSizeClass: 'scale-150'}">
    </app-button>
    
    <ng-template #menuBtn>
      <button mat-icon-button aria-label="Toggle sidenav" (click)="onMenuButtonClick()"
        fxHide fxShow.xs>
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </ng-template>
      
    <span class="mr-auto">
      <ng-container>
        <span *ngIf="!config?.backFn else noLinkTitle" class="ml-1" [routerLink]="['/hjem']">{{ config?.title || "Hjem" }}</span>
        <ng-template #noLinkTitle><span class="ml-1">{{ config.title }}</span></ng-template>
      </ng-container>
      <mat-icon *ngIf="config?.subIcon" class="scale-75">{{ config.subIcon }}</mat-icon>
      <span class="ml-1 mat-caption" >{{ config?.subTitle }}</span>
    </span>

    <mat-spinner *ngIf="loading$ |  async" diameter="24" color="accent" class="mr-2"></mat-spinner>

    <app-button *ngFor="let button of config?.buttons | transformButtons: ButtonTypes.Icon" 
      [config]="button"></app-button>

    <button mat-icon-button 
      *ngIf="(config?.bottomSheetButtons | checkRolesInButtons : currentUserRole)" 
      (click)="openBottomSheet(config.bottomSheetButtons)">

      <mat-icon>more_vert</mat-icon>
    </button>

</mat-toolbar>