<div class="entity-row">
    <div class="entity-column" *ngFor="let i of totalRows | arrayFromNumber">
        <app-selectable-card selectedText="Bilde valgt" selectedIcon="check_circle"
            *ngFor="let selectable of (selectableEntities$ | async) | arrayslice: i:totalRows;let i = index;trackBy: trackById"
            [isSelected]="selectable.selected" 
            (selected)="toggleSelect(selectable)"
            (click)="imageClick(selectable.entity)">
            <img appImageErrorReloader class="entity-card fadeIn" src="{{ selectable.entity.fileURL | thumbnail }}" alt="oppdragsbilde"/>
        </app-selectable-card>
    </div>
</div>