@import '~@angular/material/theming';

$app-primary: mat-palette($mat-brown, 600);
$app-accent:  mat-palette($mat-yellow, A700, A100);
$app-warn:    mat-palette($mat-red, A700, A400);
$app-success: mat-palette($mat-green, A700, A400);

$primary-dark: mat-color($app-primary, 800);
$primary-light: mat-color($app-primary, 100);
$primary: mat-color($app-primary);

$accent-light: mat-color($app-accent, A100);
$accent: mat-color($app-accent, A700);

$warn: mat-color($app-warn, A700);
$warn-light: mat-color($app-warn, A400);
$success: mat-color($app-success, A700);
$success-light: mat-color($app-success, A400);

$kbtv-client-theme: mat-light-theme($app-primary, $app-accent);

$background: map-get($kbtv-client-theme, background);
$foreground: map-get($kbtv-client-theme, foreground);

$background-color:$primary-light;
$foreground-color:white;

$bottom-nav-height: 44;

$gap-size: 4;

