/* You can add global styles to this file, and also import other style files */
@import './variables';
@import './app-animations.scss';
@import './spacing.scss';
//Dev only imports (remove for prod, lazily loaded)
// @import './lazy-styles/ag-grid.scss';
// @import './lazy-styles/mat-styles.scss';

@include gap-units($gap-size);

:root{
  --ion-color-primary: black;
}

html, body { height: 100%; background:$background-color;color:black;overflow:hidden;padding:0;margin:0; overflow-x:hidden;}
body {font-family: Roboto, "Helvetica Neue", sans-serif;overflow-x:hidden;}

.bg-primary{background:$primary!important;color:white;}
.bg-primary-light{background:$primary-light!important;color:black;}

.color-primary{color:$primary!important;}

.bg-accent{background:$accent!important;color:black!important;}
.bg-accent-light{ background:$accent-light!important;color:black;}

.color-accent{color:$accent!important;}

.bg-warn{background:$warn!important;color:black;}
.bg-warn-light{background:$warn-light!important;color:black;}

.color-warn{color:$warn;}

.bg-success{background:$success!important;color:black;}
.bg-success-light{background:$success-light!important;color:black;}

.color-success{color:$success;}

.bg-background{background:$background-color;color:black;}
.color-background{color:$primary-light;}
.bg-foreground{background:$foreground-color;color:black;}
.color-foreground{color:white;}

.bg-transparent{background:transparent};

.active{color: $accent !important;}

.scale-150{transform:scale(1.5);}
.scale-125{transform:scale(1.25);}
.scale-75{transform:scale(.75);}

.line-height-100{line-height:100%}

.flex-spacer{flex: 1 1 auto;} //unnused

.max-width{max-width:600px!important;margin:auto}

.extended-dialog{max-width:90vw!important}

.flex-nav{flex-shrink: 0;display: inline-flex;flex-direction: column;z-index:2}

.float-right{float:right;}

.h-100{height:100%;}

.w-100{width:100%;}

.text-center{text-align:center}

.nav-list{
  a{
    margin: $gap-size * 2px;
    padding: $gap-size * 2px;
    display:block;
  }
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

//Entity -> used in selective list 
.entity-row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  max-width: 1000px;
  padding:$gap-size * 0.25px;
}

/* Create four equal columns that sits next to each other */
.entity-column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
}

.entity-card{  
  width:100%;
  vertical-align: middle;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 600px) {
  .entity-column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 300px) {
  .entity-column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.image_viewer_dialog{max-width:none!important;}

.image_viewer_dialog .mat-dialog-container{background-color:black!important;}

.notification-error{
  margin-bottom:$bottom-nav-height + $gap-size * 2px!important;
  @extend .bg-warn;
}
.notification-success{
  margin-bottom:$bottom-nav-height + $gap-size * 2px!important;
  @extend .bg-success;
}
.notification-warn{
  margin-bottom:$bottom-nav-height + $gap-size * 2px!important;
  @extend .bg-accent;
}

.ellipsis{
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.app-card{
  background:white;
  border-radius:5px;
}

.mid-divider{
   margin-left:$gap-size * 4px!important;
   width:calc(100% - (#{$gap-size} * 8px))!important;
}

.loading-overlay{pointer-events: none; position:relative}
.loading-overlay::after {
  content: ""; // ::before and ::after both require content
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
}

.center-spinner{margin:$gap-size * 4px auto;}

//Fix to keep items in CDK virtual scroll responsive 
.cdk-virtual-scroll-content-wrapper{
  width:100%;
}


