<app-main-skeleton *ngIf="vm$ | async; let vm" paddingDisabled=true>
    
    <app-header-layout-skeleton [navConfig]="vm.navConfig" [navOverlayDisabled]="!vm.mission?.fileName">

        <img header appImageErrorReloader #img *ngIf="vm.mission?.fileName; else addHeaderImage"
            (tap)="openImageViewer(vm.mission)"
            style="max-width:100%" [src]="vm.mission | appFileUrl: 'missionheader'" 
            (error)="img.src = '/assets/notfound.png?'" alt="Forsidebilde" />

        <div contentHeader class="pl-6 pr-6 pb-5"> {{vm.mission?.address}}</div>

        <app-mission-details-view content [mission]="vm.mission">
        </app-mission-details-view>

    </app-header-layout-skeleton>
     
</app-main-skeleton>
  
<input type="file" style="display:none" #imageInput (change)="updateHeaderImage($event.target.files)">

<ng-template #addHeaderImage>
    <app-button [config]="addHeaderImgBtn | transformButton : ButtonTypes.Stroked">
    </app-button>
</ng-template>
