<div class="container">

    <div *ngIf="config.imgSrc" class="img-container text-center mr-auto ml-auto ">
        <img appImageErrorReloader #img src="{{ config.imgSrc }}" (error)="img.src = '/assets/notfound.png?'" alt="Forsidebilde" />
    </div>

    <mat-toolbar *ngIf="config" 
        [ngClass]="config.imgSrc ? 'overlay overlay-top' : 'bg-primary'"
        class="toolbar-slim color-foreground slideInDown">

        <app-button *ngIf="config.backFn else menuBtn" [config]="{
                    callback: config.backFn, 
                    params: config.backFnParams,
                    type: ButtonTypes.Icon,
                    aria: 'Tilbake',icon: 'chevron_left', iconSizeClass: 'scale-150'}">
        </app-button>

        <ng-template #menuBtn>
            <button mat-icon-button aria-label="Toggle sidenav" 
                (click)="onMenuButtonClick()" fxHide fxShow.xs>
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
        </ng-template>

        <span class="mr-auto">
            <mat-icon *ngIf="config.subIcon" class="scale-75">{{ config.subIcon }}</mat-icon>
            <span class="mat-caption">{{ config.subTitle }}</span>
        </span>

        <mat-spinner *ngIf="loading$ |  async" diameter="24" color="accent"></mat-spinner>

        <app-button *ngFor="let button of config.buttons | transformButtons: ButtonTypes.Icon" 
            [config]="button"></app-button>

        <button mat-icon-button 
            *ngIf="(config?.bottomSheetButtons | checkRolesInButtons : currentUserRole)" 
            (click)="openBottomSheet(config.bottomSheetButtons)">
            <mat-icon>more_vert</mat-icon>
        </button>

    </mat-toolbar>

    <mat-toolbar *ngIf="config?.title && config.title.length > 0" 
        [ngClass]="config.imgSrc ? 'overlay overlay-bottom' : 'bg-primary'"
        class="detail-nav color-foreground slideInDown">

        <span class="ml-6 mb-2">
            <ng-container *ngFor="let line of config.title; let last =  last">
                <div [ngClass]="config.imgSrc ? 'img-title-overlay' : ''" class="title-line fadeInDown-slow pl-2 pr-2">{{ line }}</div><br />
            </ng-container>
        </span>

    </mat-toolbar>

</div>