@import '../../../../variables';

.container {
    position:relative;
    background-color:$primary; 
    min-height:100px;
    max-height:40vh;
  }

.img-container{
    overflow-y:scroll;
    overflow-x:hidden;
    width:100%;
    max-width:600px;
    max-height:40vh; 
    //max-width:650px!important;
    img{
        max-width:100%;
    }
}

.title-line{
    display:inline-block;
    margin-top:2px; 
}

.img-title-overlay{
    background-color:rgba(0,0,0,.75);
}


.overlay{
    position: absolute;
    left: 0;
    right: 0;
    background-color:transparent;
    color:white;
}

.overlay-top{
    top: 0;
    background-color:rgba(0,0,0,.3);
}

.overlay-bottom{
    bottom: 0;
    pointer-events:none;
}

.no-img-container-height{
    height:auto;
}
