<mat-toolbar #navBar [ngClass]="overlayMode ? 'main-top-nav-overlay' : ''">

    <app-button *ngIf="showCancelButton" class="cancel-button" [config]="cancelButton">
    </app-button>

    <span class="title-container ellipsis">

        <ng-content></ng-content>

    </span>

    <app-optimistic-loading-spinner></app-optimistic-loading-spinner>
    
    <span class="custom-buttons">
        <ng-container *ngIf="config && config.buttons">
            <app-button *ngFor="let button of config.buttons | transformButtons: baseActionBtn; trackBy: TrackByButton"
                [config]="button">
            </app-button>
        </ng-container>
    </span>

</mat-toolbar>