<mat-toolbar #navBar *ngIf="config" [ngClass]="overlayMode ? 'main-top-nav-overlay' : ''">

    <app-button class="primary-button" [config]="getPrimaryBtn(config)">
    </app-button>

    <span class="mr-auto ellipsis">

        <span class="ml-2" *ngIf="config.title">{{ config.title }}</span>

        <span *ngIf="config.subTitle" class="mat-caption ml-1">{{ config.subTitle }}</span>

    </span>

    <app-optimistic-loading-spinner></app-optimistic-loading-spinner>
    
    <span class="custom-buttons">
        <ng-container *ngIf="config.buttons">
            <app-button *ngFor="let button of config.buttons | transformButtons: baseActionBtn; trackBy: TrackByButton"
                [config]="button">
            </app-button>
        </ng-container>
    </span>

</mat-toolbar>