mat-toolbar{
    background:transparent;
}

.custom-buttons{ margin-left: 8px; }

.custom-buttons, .cancel-button, ion-spinner {
    transition: 
        background-color 100ms linear, 
        border-radius 100ms linear, 
        color 100ms linear;
}

::ng-deep.main-top-nav-overlay{
    color:white;
    position:absolute;
    top:0;
    z-index:1;
    pointer-events: none;
    button {
        background: rgba(0,0,0,0.5);
        border-radius: 100%;
        pointer-events: auto;
    }
    .custom-buttons{
        background: rgba(0,0,0,0.5);
        border-radius: 10px; 
        button { background: transparent; border-radius: 0; }
    }
}


