<div class="week-picker" fxLayout="row" fxLayoutAlign="center center" >
  <span>
    <button mat-icon-button (click)="previousWeekPage()"><mat-icon>chevron_left</mat-icon></button>
    <ng-container *ngFor="let week of visibleWeeks$ | async">
      <button mat-button
        [ngClass]="{'primary-border': week == weekNr, 'color-primary': week == currentWeek}"
        (click)="this.weekSelected.emit(week)">
        {{ week }}
      </button>
    </ng-container>
    <button mat-icon-button (click)="nextWeekPage()"><mat-icon>chevron_right</mat-icon></button>
  </span>
</div>
