<span class="static-section" fxLayout="column" fxLayoutAlign="start center" matRipple 
  [ngClass]="{ 'highlighted' : date | sameDate : today }" 
  (click)="labelClicked.emit(date)">

    <div fxLayout="column" fxLayoutAlign="center center">
      <span class="mat-title m-0">
        {{ this.date | date : 'E' }}
      </span>

      <span class="mat-small">
        {{ this.date | date : 'dd MMM' }}
      </span>
    </div>

    <button mat-icon-button color="primary" [disableRipple]="true">
      <mat-icon class="icon">add</mat-icon>Ny
    </button>

</span>






