<div class="p-2 max-width" *ngIf="users$ | async else loading; let users">
        <app-list-card *ngFor="let user of users" 
            [config]="{startIcon:'person', endIcon: 'chevron_right'}"
            [routerLink]="['/timer/administrering', user.userName, thisYear]"> 
                {{user.firstName + ' ' +user.lastName}}
        </app-list-card>
        <ng-container *ngIf="users.length == 0" [ngTemplateOutlet]="noUsers"></ng-container>
</div>

<ng-template #noUsers>
    <div class="w-100 text-center mt-2 mat-h3">Fant ingen ansatte!</div>
</ng-template>

<ng-template #loading>
    <mat-spinner *ngIf="loading$ | async else noUsers" class="center-spinner" color="accent"></mat-spinner>
</ng-template>
