<app-main-skeleton>

  <app-main-top-nav-bar navbar [config]="navConfig">
  </app-main-top-nav-bar>


  <div>
    <app-list-item (click)="updateProfile()">
      <mat-icon left-side>account_circle</mat-icon>
      Oppdater profil
    </app-list-item>
    <mat-divider></mat-divider>

    <app-list-item (click)="updatePassword()">
      <mat-icon left-side>vpn_key</mat-icon>
      Oppdater passord
    </app-list-item>
    <mat-divider></mat-divider>
  </div>

  <div class="mt-4">
    <app-list-item appAddToHomeScreen>
      <mat-icon left-side>get_app</mat-icon>
      Legg til app
    </app-list-item>
    <mat-divider></mat-divider>

    <app-list-item (click)="updateSyncConfig()">
      <mat-icon left-side>settings</mat-icon>
      Konfigurasjoner
    </app-list-item>
    <mat-divider></mat-divider>
    
    <app-list-item (click)="syncAll()">
      <mat-icon left-side>update</mat-icon>
      Synkroniser data
    </app-list-item>
    <mat-divider></mat-divider>
  </div>

  <div class="mt-4">
    <mat-divider></mat-divider>
    <app-list-item (click)="confirmPurge()">
      <mat-icon left-side>delete_sweep</mat-icon>
      Slett lokal data
    </app-list-item>
    <mat-divider></mat-divider>

    <app-list-item (click)="logout()">
      <mat-icon left-side>power_settings_new</mat-icon>
      Logg ut
    </app-list-item>
    <mat-divider></mat-divider>
  </div>



</app-main-skeleton>