<app-main-skeleton>

  <app-main-top-nav-bar navbar [config]="navConfig">
  </app-main-top-nav-bar>

  <ng-container *ngFor="let action of actions">
    
    <app-list-item (click)="handleFn(action.callback, action.params)">
      <mat-icon left-side class="pl-2 pr-2">{{ action.icon }}</mat-icon>
      <div>{{ action.text }}</div>
      <div class="mat-caption">
        {{ action.hint }}
      </div>
    </app-list-item>

    <mat-divider inset=true></mat-divider>
  </ng-container>

  <app-bottom-action-bar bottombar [actions]="bottomActions">
  </app-bottom-action-bar>

</app-main-skeleton>