<mat-card fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="5px" class="m-1"
    [ngClass]="note.pinned ? 'border-primary' : null" *ngIf="note">

    <mat-card-header *ngIf="note.title">
        <mat-card-title>{{ note.title  }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <p>{{ note.content }}</p>
    </mat-card-content>

    <div class="w-100" fxLayout="row" fxLayoutAlign="space-between center">

        <span>
            {{ note.updatedAt | date: 'dd.MMM yyyy' }} {{ note.createdBy ? ("av " + note.createdBy) : "" }}
        </span>


        <button *ifRole="RolePresets.Authority" (click)="editNote()" mat-icon-button color="primary"
            aria-label="Rediger notat">
            <mat-icon>edit</mat-icon>
        </button>

    </div>

</mat-card>