<app-main-skeleton *ngIf="vm$ | async; let vm" disableElevation="true">

  <app-main-top-nav-bar navbar [config]="vm.navConfig" >
  </app-main-top-nav-bar>

  <div style="min-height:100%" fxLayout="row"
    (swiperight)="previousWeek()" 
    (swipeleft)="nextWeek()">

    <ng-container *ngFor="let weekDay of (vm.isXs ? 5 : 7) | arrayFromNumber"> 

        <div class="w-100" fxLayout="column" fxLayoutAlign="start stretch">

          <app-timesheet-day-label class="w-100 mb-1" style="z-index:1;position:sticky;top:0"
            [date]="vm.weekCriteria | getDateByDateParams : weekDay"
            (labelClicked)="openTimesheetForm(null, {date: $event})">
          </app-timesheet-day-label>

          <ng-container *ngIf="vm.summaries && vm.summaries[weekDay]">
            <app-timesheet-mission-bar class="fadeInDown" style="margin:2px" 
              *ngFor="let timesheet of vm.summaries[weekDay].timesheets | sortByDate: 'startTime' : 'asc'; trackBy: trackByTimesheet;"                   
              [timesheet]="timesheet"
              (barClicked)="timesheet.status ? openTimesheetCard(timesheet.id) : openTimesheetForm(timesheet.id)">
            </app-timesheet-mission-bar>
          </ng-container>

        </div>
        
        <mat-divider vertical="true" *ngIf="weekDay !== 7"></mat-divider>
        
    </ng-container>

  </div>

</app-main-skeleton>

<router-outlet></router-outlet>
