<app-main-skeleton contentWrapperClass="bottom-bar-padding" *ngIf="vm$ | async; let vm">

    <ng-container navbar>
        <app-main-top-nav-bar [config]="navConfig" >
        </app-main-top-nav-bar>
        <app-chips-bar [chips]="vm.groupByChips">
        </app-chips-bar>
        <app-chips-bar [chips]="vm.criteriaChips">
        </app-chips-bar>
    </ng-container>

    <app-timesheet-statistic-table #statTable style="box-sizing: border-box; flex: 1 1 0%"
        [config]="vm.tableConfig"
        [overlayNoRowsTemplate]="vm.noRowsText">
    </app-timesheet-statistic-table>
    
    <app-bottom-action-bar bottombar [actions]="vm.bottomActions">
    </app-bottom-action-bar>

</app-main-skeleton>
