@import '../../../../../variables';

mat-nav-list{
  background:$primary!important;
    .bottom-list{
      position: absolute;
      bottom:0;
      width:100%;
    } 
  }
mat-toolbar {
    height:$main-nav-height * 1px;
    color:white;
}

.mat-list-base .mat-list-item{color:white;}