
<mat-toolbar fxLayout="column" fxLayoutAlign="center start" class="bg-primary-dark">

  <ng-container *ngIf="isOnline$ | async else offlineHeader">
    <span class="mat-small color-success"> Tilkoblet internett </span>
  </ng-container>
  <ng-template #offlineHeader>
    <span class="mat-small color-accent">Frakoblet internett</span>
  </ng-template>

  <span class="mat-body"  *ngIf="user">{{ user.firstName }} {{ user.lastName }}</span>

</mat-toolbar>

<mat-divider></mat-divider>

<mat-nav-list >

  <a mat-list-item (click)="navItemClick()" [routerLink]="['/hjem']" [routerLinkActive]="['active']">
    <mat-icon mat-list-icon>home</mat-icon>
    <p mat-line>Hjem</p>
  </a>

  <mat-divider class="mid-divider"></mat-divider>

  <a mat-list-item (click)="navItemClick()" [routerLink]="['/oppdrag']" [routerLinkActive]="['active']">
    <mat-icon mat-list-icon>view_list</mat-icon>
    <p mat-line>Oppdrag</p>
  </a>

  <mat-divider class="mid-divider"></mat-divider>

  <ng-container *ifRole="RolePresets.Internal">
    <a mat-list-item (click)="navItemClick()" [routerLink]="['/timer']" [routerLinkActive]="['active']">
      <mat-icon mat-list-icon>timer</mat-icon>
      <p mat-line>Timer</p>
    </a>
  </ng-container>

  <mat-divider class="mid-divider"></mat-divider>

  <span *ifRole="[Roles.Leder]" fxHide.xs>
    <div mat-subheader class="color-accent-light pb-0">Administrering</div>
    <a mat-list-item (click)="navItemClick()" [routerLink]="['/data']" [routerLinkActive]="['active']">
      <mat-icon mat-list-icon>dns</mat-icon>
      <p mat-line>Data</p>
    </a>
    <mat-divider class="mid-divider"></mat-divider>
    <a mat-list-item (click)="navItemClick()" [routerLink]="['/brukere']" [routerLinkActive]="['active']">
      <mat-icon mat-list-icon>people</mat-icon>
      <p mat-line>Brukere</p>
    </a>
    <mat-divider class="mid-divider"></mat-divider>
    <a mat-list-item (click)="navItemClick()" [routerLink]="['/timeadministrering']" [routerLinkActive]="['active']">
      <mat-icon mat-list-icon>assessment</mat-icon>
      <p mat-line>Timer</p>
    </a>
    <mat-divider class="mid-divider"></mat-divider>

    <div mat-subheader class="pb-0 color-accent-light">Statistikk</div>
    <a mat-list-item (click)="navItemClick()" [routerLink]="['/timestatistikk']" [routerLinkActive]="['active']">
      <mat-icon mat-list-icon>assessment</mat-icon>
      <p mat-line>Timestatistikk</p>
    </a>
    <mat-divider class="mid-divider"></mat-divider>
  </span>

  <span class="bottom-list">
    <mat-divider></mat-divider>
    <a mat-list-item (click)="navItemClick()" [routerLink]="['/profil']" [routerLinkActive]="['active']">
      <mat-icon mat-list-icon>person</mat-icon>
      <p mat-line>Profil</p>
    </a>
    <mat-divider class="mid-divider"></mat-divider>
    <a mat-list-item (click)="logOut()">
      <mat-icon mat-list-icon>power_settings_new</mat-icon>
      <p mat-line>Logg ut</p>
    </a>
  </span>

</mat-nav-list>

