<mat-toolbar *ngIf="config" class="bg-primary-dark toolbar-slim" 
  [ngClass]="{'mat-elevation-z4': config.elevationEnabled}">
   
    <button  *ngIf="config.backFn else menuBtn"
      (click)="handleFn(config.backFn, config.backFnParams)"
      mat-icon-button aria-label="Tilbake">
      <mat-icon class="scale-150">chevron_left</mat-icon>
    </button>
    
    <ng-template #menuBtn>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="onMenuButtonClick()"
        fxHide fxShow.xs>
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </ng-template>
      
    <span class="mr-auto">
      <ng-container *ngIf="config.title">
        <span *ngIf="!config.backFn else noLinkTitle" class="ml-1" [routerLink]="['/hjem']">{{ config.title }}</span>
        <ng-template #noLinkTitle><span class="ml-1">{{ config.title }}</span></ng-template>
      </ng-container>
      <mat-icon *ngIf="config.subIcon" class="scale-75">{{ config.subIcon }}</mat-icon>
      <span class="ml-1 mat-caption" >{{ config.subTitle }}</span>
    </span>

    <mat-spinner *ngIf="loading$ |  async" diameter="24" color="accent"></mat-spinner>

    <button mat-icon-button 
      *ngFor="let button of config.buttons" attr.aria-label="{{ button.aria || 'Knapp' }}" 
      [ngClass]="button.colorClass || 'color-foreground'"
      (click)="handleFn(button.callback)">
        <mat-icon>{{ button.icon }}</mat-icon>
    </button>

    <button mat-icon-button *ngIf="config.bottomSheetButtons?.length" (click)="openBottomSheet(config.bottomSheetButtons)">
      <mat-icon>more_vert</mat-icon>
    </button>

</mat-toolbar>
<mat-toolbar *ngIf="config.multiLineTitle && config.multiLineTitle.length > 0" class="bg-primary-dark toolbar-slim">
  <span class="ml-4">
    <ng-container *ngFor="let line of config.multiLineTitle; let last =  last">
      {{ line }}<br  *ngIf="!last" />
    </ng-container>
  </span>
</mat-toolbar>
