<mat-card class="app-card m-1">
    <mat-card-content fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
        <div fxLayout="column" fxLayoutAlign="center center">
            <span class="mat-body m-0 line-height-90">Uke</span>
            <span class="mat-headline m-0 line-height-90">{{ summary.week }}</span>
        </div>

        <span fxLayout="column" fxLayoutAlign="center start">
            <span *ngIf="summary.openHours > 0 else confirmed" class="mat-title m-0 mb-1 color-warn line-height-90">Åpen</span>
            <ng-template #confirmed><span class="mat-subheading-2 m-0 mb-1 color-success line-height-90">Alle timer godkjent</span></ng-template>
            <span class="mat-body m-0 mb-1 line-height-90">{{ summary.openHours }} timer åpne</span>
            <span class="mat-body m-0 line-height-90">{{ summary.confirmedHours }} timer godkjent</span>
        </span>

        <!-- <span fxLayout="column" fxLayoutAlign="center center">
            <span class="mat-h3 m-0 mb-1 line-height-90">{{ (summary.totalHours / 38) | percent }}</span>
            <span class="mat-caption m-0 line-height-90">{{ summary.totalHours }}t/38t</span>
        </span> -->

        <mat-icon class="ml-auto">chevron_right</mat-icon>

    </mat-card-content>
</mat-card>
