

<form *ngIf="mailToForm" [formGroup]="mailToForm" fxLayout="column" class="m-3">

    <mat-form-field>
        <input matInput placeholder="Epost" formControlName="toEmail" required>
        <mat-error *ngIf="this.toEmail.invalid">
            Pass på at eposten er skrevet riktig.
        </mat-error>
    </mat-form-field>
    
    <button appHttpCommandButton mat-raised-button class="w-100" color="primary" 
        [disabled]="mailToForm.invalid"
        (click)="onSubmit()">
        Send   
    </button>
  
</form>