<form *ngIf="mailToForm" [formGroup]="mailToForm" fxLayout="column" class="m-3">

    <mat-form-field>
        <input matInput placeholder="Epost" formControlName="toEmail" required>
        <mat-error *ngIf="this.toEmail.invalid">
            Pass på at eposten er skrevet riktig.
        </mat-error>
    </mat-form-field>

    <app-form-actions submitText="Send" 
        [submitDisabled]="mailToForm.pristine || mailToForm.invalid" 
        (submitted)="onSubmit()" 
        (canceled)="formSubmitted.emit(null)">
    </app-form-actions>
  
</form>