<ng-container *ngIf="config">
    <button mat-button *ifRole="config.allowedRoles" 
        [color]="config.color"
        [attr.aria-label]="config.aria"
        [ngClass]="[
            buttonClass,  
            config.iconSizeClass ? config.iconSizeClass : ''
        ]"
        (click)="config.callback ? handleFn(config.callback) : null">

        <mat-icon *ngIf="config.icon">{{ config.icon }}</mat-icon>
        <mat-icon *ngIf="config.svgIcon" [svgIcon]="config.svgIcon"></mat-icon> 
        <ng-container *ngIf="config.type !== ButtonTypes.Icon">{{ config.text }}</ng-container> 
    </button>
</ng-container>

