@import '../../../../styles/variables';

.main-container{
    position:relative;
    z-index:1;
    height:100%;
    width:100%;
}
.content-container{
    position:relative;
    z-index:1;
    height:100%;
    width:100%;
    background: mat-color($background, background);
}

.nav-content{
    z-index:1;
    background:mat-color($background, card);
}

.main-content{
    overflow-y: auto;
}

::ng-deep.main-skeleton-overlay{
    position:absolute;
    top:0;
    width:100%!important;
    height:100%;
}

.fab-container{
    position:absolute;
    right:0;
    bottom:0;
}
  