<div class="main-container" fxLayout="row">

  <div fxLayout="column" class="content-container mat-elevation-z2" fxFlex
    [ngClass]="{ 'max-width': !data.disableMaxWidth }">

    <span class="nav-content"
      [ngClass]="(enableElevation$ | async) ? 'mat-elevation-z1' : ''" >
      
      <ng-content select="[navbar]"></ng-content>
  
    </span>

    <div fxFlex [ngStyle]="{padding: paddingDisabled ? 0 : '8px 0px 88px 0px'}" 
      class="main-content" appScrollNavElevationToggler [togglerDisabled]="navTogglerDisabled">
      <ng-content>
    
      </ng-content>
    </div>

    <div class="bottom-bar" [ngClass]="bottomBarHidden ? 'bottom-bar-hidden' : ''" #bottomBar>
      <ng-content select="[bottombar]"></ng-content>
    </div>

    <div class="fab-container m-2" *ngIf="fabs"
        fxLayout="column" fxLayoutGap="4px">  
        <app-button class="fadeInRight" 
          *ngFor="let fab of fabs | transformButtons : baseFabBtn | reverseArray; trackBy: trackByFab" 
          [config]="fab">
        </app-button>
    </div>
    
  </div>
  
  <router-outlet #outlet="outlet">
  </router-outlet>

</div>

