<div class="main-container" fxLayout="row">

  <div fxLayout="column" class="content-container mat-elevation-z1 max-width nav-content" fxFlex 
    [ngClass]="{ 'max-width': !data.disableMaxWidth }">
    <span 
      [ngClass]="(enableElevation$ | async) ? 'nav-content mat-elevation-z1' : 'nav-content'" >
      
      <ng-content select="[navbar]"></ng-content>
  
    </span>
  
    <div [style.paddingTop.px]="paddingDisabled ? 0 : 8"
      fxFlex class="main-content" appScrollNavElevationToggler [togglerDisabled]="navTogglerDisabled">
      <ng-content>
    
      </ng-content>
    </div>
    
    <div class="fab-container m-2" *ngIf="fabs"
        fxLayout="column" fxLayoutGap="4px">  
        <app-button class="fadeInRight" 
          *ngFor="let fab of fabs | transformButtons : ButtonTypes.Fab | reverseArray; trackBy: trackByFab" 
          [config]="fab">
        </app-button>
    </div>
  </div>
  
  <router-outlet #outlet="outlet">
  </router-outlet>

</div>

