<div class="main-container" fxLayout="row">

  <div fxLayout="column" class="content-container mat-elevation-z1 max-width" fxFlex 
    [ngClass]="{ 'max-width': !data.disableMaxWidth }">
    <span
      [ngClass]="disableElevation ? 'nav-content' : 'nav-content mat-elevation-z1'" >
      
      <ng-content select="[navbar]"></ng-content>
  
    </span>
  
    <div fxFlex class="main-content">
      <ng-content>
    
      </ng-content>
    </div>
  
    <div class="fab-container m-2" *ngIf="fabs"
        fxLayout="column" fxLayoutGap="4px">  
        <app-button class="fadeInRight" 
          *ngFor="let fab of fabs | transformButtons : ButtonTypes.Fab | reverseArray; trackBy: trackByFab" 
          [config]="fab">
        </app-button>
    </div>
  </div>
  
  <router-outlet #outlet="outlet">
  </router-outlet>

</div>

