@import '../../../../styles/variables';

.main-container{
    position:relative;
    z-index:1;
    height:100%;
    width:100%;
    overflow:hidden;
    background: mat-color($background, app-bar);
}

.content-container{
    position:relative;
    z-index:1;
    height:100%;
    width:100%;
    background: mat-color($background, card);
}

.nav-content{ 
    transition: box-shadow 150ms linear;  
    z-index:1; 
}

.main-content{ 
    overflow-y: auto; 
    margin-bottom: -56px;
}

.default-main-content{
   padding: 8px 0px 88px 0px
}

::ng-deep.main-skeleton-overlay{
    position:absolute;
    top:0;
    width:100%!important;
    height:100%;
}

::ng-deep.main-skeleton-card{
    margin: $gap-size * 5px;
}

.fab-container{
    position:absolute;
    right:0;
    bottom:0;
}

.bottom-bar{
    width: 100%; 
    z-index:10;
    transition: transform 100ms ease-out;
}

.bottom-bar-hidden{
    transform: translateY(100px)
}

  