.main-container{
    position:relative;
    z-index:1;
    height:100%;
    width:100%
}

::ng-deep.main-skeleton-overlay{
    position:absolute;
    top:0;
    width:100%!important;
    height:100%;
}

.fab-container{
    position:absolute;
    right:0;
    bottom:0;
}
  