<div class="h-100 fadeInLeft max-width" fxLayout="column" fxLayoutAlign="start stretch">
    <ng-container *ngIf="summaries$ | async else noContent; let summaries">
        <cdk-virtual-scroll-viewport itemSize="78" maxBufferPx="800" minBufferPx="800" fxFlex 
            *ngIf="summaries?.length else noContent">
            <div class="app-card mat-elevation-z2 m-1" matRipple
                *cdkVirtualFor="let summary of summaries; trackBy: trackByWeekNr; templateCacheSize:0" 
                (click)="goToWeekView(summary.year, summary.week)">
                <app-timesheet-summary-card-content [summary]="summary"></app-timesheet-summary-card-content>
            </div>
        </cdk-virtual-scroll-viewport>
    </ng-container>
</div>

<ng-template #noContent>
    <span class="ppt-5 text-center w-100">
        <p>Finner ingen timer med gitte filtre. </p>
        <button mat-raised-button color="accent" class="bounceIn" (click)="openWeekFilter()">Åpne filter</button>
    </span>
</ng-template>