<style> .selectable-container{ display: flex; flex-wrap: wrap; overflow:hidden } </style>
<app-main-skeleton *ngIf="vm$ | async; let vm" [fabs]="vm.fabs">

    <app-main-top-nav-bar navbar [config]="vm.navConfig" >
    </app-main-top-nav-bar>

    <div cdkSelectableContainer #selectableContainer (selectionChanged)="onSelectionChange($event)">
        <app-selectable-card *ngFor="let doc of vm.documents; trackBy: trackByFn" [id]="doc.id" selectedText="Dokument valgt">
            <app-list-item (tap)="downloadDocument(doc)" [rippleDisabled]="true">
                <mat-icon left-side [svgIcon]="doc.fileName | fileExtension | fileExtensionIcon"></mat-icon>
                <div class="ellipsis">{{ doc.documentType?.name }}dsadsadsadsadasdsadsad</div>  
                <div class="mat-caption">Filtype: {{ doc.fileName | fileExtension | uppercase }}</div>
                <div class="mat-caption">Lastet opp {{ doc.updatedAt | date : 'dd.MMM yyyy' }}</div>
                <span right-side class="color-accent">Last ned</span>
            </app-list-item>
            <mat-divider></mat-divider>
        </app-selectable-card>
    </div>

</app-main-skeleton>