
  <span *ngIf="notes.length == 0">Ingen notater</span>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let note of notes">

        <mat-expansion-panel-header>

          <mat-panel-title class="ellipsis">
            <mat-icon [color]="note.pinned ? 'accent' : ''">{{note.pinned ? 'star' : 'note'}}</mat-icon>
            <span class="ml-3 ellipsis">{{ note.title || (note.createdAt | date: 'short')}}</span>
          </mat-panel-title>

        </mat-expansion-panel-header>

        <div fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="5px">
          <span>
          {{ this.note.content }}
          </span>
          <mat-divider class="w-100"></mat-divider>
          <span>
              {{ this.note.createdAt | date: 'short' }} av {{ this.note.createdBy || "Anonym" }}
          </span>
          <ng-container *ifRole="Roles.Leder">
            <span class="w-100" fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="8px">
              <button (click)="openMissionNoteForm(note.id)" mat-icon-button color="primary" aria-label="Rediger notat"><mat-icon>edit</mat-icon></button>
              <button (click)="openDeleteDialog(note.id)" mat-icon-button color="warn" aria-label="Slett notat"><mat-icon>delete</mat-icon></button>
            </span>
          </ng-container>
        </div>

    </mat-expansion-panel>
  </mat-accordion>


