<app-main-skeleton paddingDisabled=true>

    <ng-container navbar *ngIf="navVm$ | async; let navVm">
        <app-main-top-nav-bar [config]="navVm.navConfig" >
        </app-main-top-nav-bar>
        <app-chips-bar [chips]="navVm.groupByChips">
        </app-chips-bar>
        <app-chips-bar [chips]="navVm.criteriaChips">
        </app-chips-bar>
    </ng-container>

    <app-timesheet-statistic-table #statTable fxFlex 
        [config]="tableConfig$ | async">
    </app-timesheet-statistic-table>
  
</app-main-skeleton>
