<div fxLayout="column" fxLayoutAlign="start stretch" *ngIf="timesheet" class="timesheet-card-container">

    <span class="mat-title card-title">
      Timeregistrering 
      <span [ngClass]="timesheet.status === Status.Confirmed ? 'color-accent' : 'color-warn'">
        {{ timesheet.status === Status.Confirmed ? 'Låst' : 'Åpen'}}
      </span>
    </span>

    <ng-container *ngIf="timesheet.fullName">
      <app-list-item>
        <mat-icon left-side class="pl-2 pr-2">person</mat-icon>
        {{ timesheet.fullName }} 
      </app-list-item>
      
      <mat-divider inset=true></mat-divider>
    </ng-container>

    <app-list-item>
      <mat-icon left-side class="pl-2 pr-2">watch_later</mat-icon>
        {{ timesheet.startTime | date : 'dd.MMM yyyy' }}
        {{ timesheet.startTime | date : 'shortTime' }} - {{ timesheet.endTime | date : 'shortTime' }}
        <br /> <span class="mat-body">{{ (timesheet.totalHours || 0) | readableDuration }} </span> 
    </app-list-item>
    <mat-divider inset=true></mat-divider>

    <app-list-item>
      <mat-icon left-side class="pl-2 pr-2">home</mat-icon>
      ({{timesheet.missionId}}) {{ timesheet.mission?.address }}
    </app-list-item>
    <mat-divider inset=true></mat-divider>

    <app-list-item>
      <mat-icon left-side class="pl-2 pr-2">comment</mat-icon>
      {{ timesheet.comment }} 
    </app-list-item>


    <!-- <span fxLayout="column" fxLayoutAlign="space-between center" style="min-width:40px">

      <span *ngIf="timesheet.status === 1 else closedIcon" 
        fxLayout="column" fxLayoutAlign="start center" class="color-warn">
        <mat-icon>lock_open</mat-icon>
        <span class="mat-caption">åpen</span>
      </span>

    </span>

    <ng-template #closedIcon>   
      <span fxLayout="column" fxLayoutAlign="start center" class="color-accent">
        <mat-icon>lock</mat-icon>
        <span class="mat-caption">låst</span>
      </span>
    </ng-template> -->

</div>
