<div class="p-2 max-width" *ngIf="details">

  <div fxLayout="row" fxLayoutGap="8px" class="mat-subheading-2 mb-2">
    <a href="tel:{{ details.mission?.phoneNumber }}" class="mat-elevation-z2 bg-foreground text-center p-6" fxFlex="50"
      matRipple [routerLink]="['/oppdrag']">
      <mat-icon class="scale-150 mb-1">phone</mat-icon><br />
      <span>{{ details.mission?.phoneNumber || 'N/A' }} </span>
    </a>
    <a href="https://www.google.com/maps/dir/?api=1&destination={{ details.mission?.address }}&travelmode=driving"
      target="_blank" class="mat-elevation-z2 bg-foreground text-center p-6" fxFlex="50" matRipple
      [routerLink]="['/mine-timer']">
      <mat-icon class="scale-150">directions_car</mat-icon><br />
      <span>Veibeskrivelse</span>
    </a>
  </div>

  <app-list-card [config]="{startIcon:'photo_library', ellipsisDisabled: true}"  
    [routerLink]="['/oppdrag', details.mission?.id, 'bilder']">
    <span [matBadge]="details.imageCount" matBadgeOverlap="false" matBadgeColor="accent">Bilder</span>
  </app-list-card>
  <app-list-card [config]="{startIcon:'folder', ellipsisDisabled: true}" 
    [routerLink]="['/oppdrag', details.mission?.id, 'dokumenter']">
    <span [matBadge]="details.documentCount" matBadgeOverlap="false" matBadgeColor="accent">Dokumenter</span>
  </app-list-card>
  <app-list-card [config]="{startIcon:'rate_review', ellipsisDisabled: true}" 
    [routerLink]="['/oppdrag', details.mission?.id, 'notater']">
    <span [matBadge]="details.noteCount" matBadgeOverlap="false" matBadgeColor="accent">Notater</span>
  </app-list-card>


</div>