<div fxLayout="column" fxLayoutAlign="space-between start" class="timesheet-card bg-foreground"
  *ngIf="timesheet"
  [ngClass]="{'pt-0': timesheet.status == 0}">

  <button mat-button class="p-0" *ngIf="timesheet.status == 0" (click)="confirmTimesheet()"> 
      <span class="color-warn">Ubekreftet!</span>
      Trykk for å bekrefte
  </button>

  <span fxLayout="row" fxLayoutAlign="space-between center" class="w-100" *ngIf="timesheet">

    <span fxLayout="column" fxLayoutAlign="start start" >

      <span class="mat-body-2">
        {{ this.timesheet.startTime | date : 'longDate'}}
        {{ this.timesheet.startTime | date : 'shortTime' }} - {{ this.timesheet.endTime | date : 'shortTime' }}
      </span>
      <span class="mat-small">
        {{ this.timesheet.startTime | duration : this.timesheet.endTime }}
      </span>
      <span class="mat-small" *ngIf="timesheet.mission">
        {{ timesheet.mission.address }}
      </span>

    </span>
    <mat-icon class="mb-auto color-success"
      *ngIf="timesheet.status !== 0">
      check
    </mat-icon>

    <button mat-icon-button color="warn" style="margin-top:auto"
      *ngIf="timesheet.status === 0" (click)="deleteTimesheet()">
      <mat-icon>delete_forever</mat-icon>
    </button>

  </span>

</div>
