<mat-toolbar *ngIf="vm$ | async; let vm" class="bottom-bar" [ngClass]="{
    'bottom-bar-no-fab': !fab || !(fab.allowedRoles | ifRole),
    'bottom-bar-start-fab': !vm.isXs
}">

    <div class="bottom-bar-side left" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <button *ngIf="vm.isXs" mat-icon-button aria-label="Toggle sidenav" (tap)="toggleDrawer()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
    </div>

    <div class="fab-container">
        <app-button class="fab zoomIn" [config]="fab | transformButton : baseFabBtn"></app-button>
    </div>

    <div class="bottom-bar-side right" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
        <app-button *ngFor="let action of vm.actions" [config]="action | transformButton : baseActionBtn">
        </app-button>
    </div>

</mat-toolbar>