<mat-toolbar class="image-toolbar color-accent" fxLayout="row" fxLayoutAlign="space-between center" 
    [fxHide]="toolbarHidden">
    <button mat-icon-button aria-label="Lukk" (click)="finished()">
        <mat-icon class="scale-150">chevron_left</mat-icon>
    </button>
    <button mat-icon-button (click)="openBottomSheet()"><mat-icon>more_vert</mat-icon></button>
</mat-toolbar>

<img *ngIf="currentImage" alt="oppdragsbilde"
  (tap)="toolbarHidden = !toolbarHidden" 
  (swiperight)="previousImage()" 
  (swipeleft)="nextImage()" 
  [src]="currentImage | appFileUrl: 'images'" layout-fill/>

<div class="page_counter" [fxHide]="toolbarHidden">
  <h5>{{ index + 1 }} / {{ images.length }}</h5>
</div>



