 .img-row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding:3px;
    max-width: 1000px;

  }

  /* Create four equal columns that sits next to each other */
  .img-column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
  }

  .img-column img {
    padding:3px;
    vertical-align: middle;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 600px) {
    .img-column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 300px) {
    .img-column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }
