<form *ngIf="documentForm" [formGroup]="documentForm" fxLayout="column" fxLayoutAlign="space-around-center">
    <mat-form-field formGroupName="documentType">
        <input matInput placeholder="Type dokument" aria-label="Type dokument" formControlName="name"
            [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let type of types" [value]="type.name">
                {{type.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <input (change)="changeFile($event)" type="file">
    <br />
    <app-submit-button icon="cloud_upload" [disabled]="documentForm.invalid || documentForm.pristine || !this.files"
        (click)="onSubmit()">
    </app-submit-button>
</form>