<div class="column">

    <mat-toolbar *ngIf="config" class="toolbar-slim mat-elevation-z2 nav" [ngClass]="config.colorClass ? config.colorClass : 'bg-accent'">  
        <app-icon-button [config]="config.leftBtn"></app-icon-button>
          
        <span class="mr-auto">
          <span class="ml-1">{{ config.icon }}</span> 
          <span class="ml-1">{{ config.title }}</span> 
        </span>
     
        <app-icon-button *ngFor="let button of config.buttons" [config]="button"></app-icon-button>   
    </mat-toolbar>

    <div class="main-content p-3">
        <ng-content></ng-content>
    </div>
</div>