<div class="entity-row">
    <div class="entity-column" *ngFor="let i of totalRows | numberToArray">
        <app-selectable-card 
            *ngFor="let selectable of (selectableEntities$ | async) | arrayslice: i:totalRows;let i = index;trackBy: trackByFn"
            [selectedText]="selectedText" selectedIcon="check_circle"
            [isSelected]="selectable.selected" 
            (selected)="toggleSelect(selectable)"
            (click)="onItemClick(selectable.entity)">

            <ng-container *ngTemplateOutlet="itemTemplate; context: {$implicit: selectable.entity}"></ng-container>

        </app-selectable-card>
    </div>
</div>
