<app-main-skeleton>

    <app-main-top-nav-bar navbar [config]="navConfig">
    </app-main-top-nav-bar>

    <ng-container *ngIf="(users$ | async) else loading; let users;">
        <div *ngIf="users.length else loading;">
            <ng-container *ngFor="let user of users; trackBy: trackByUser">
                <app-list-item (click)="goToWeekList(user)"> 
                    <mat-icon left-side>person</mat-icon>
                    {{user.firstName + ' ' +user.lastName}}
                </app-list-item>
                <mat-divider></mat-divider>
            </ng-container>
        </div>  
    </ng-container>

    <app-bottom-action-bar bottombar>
    </app-bottom-action-bar>
    
</app-main-skeleton>

<ng-template #loading>
    <app-fetching-model-content modelProp="users"></app-fetching-model-content>
</ng-template>
