<div fxLayout="column" fxLayoutAlign="space-around stretch">
    <span class="mat-body-2">Velg filtre for timer</span>

    <ng-container *ngIf="!(disabledFilters | arrayIncludes : 'user')">
      <mat-form-field style="max-width:400px;">
        <mat-select [(ngModel)]="filterPreset.user" placeholder="Velg ansatt">
          <mat-option>Ingen</mat-option>
          <mat-option *ngFor="let user of users" [value]="user">
            {{ user.firstName }} {{ user.lastName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-divider class="mb-2"></mat-divider>
    </ng-container>

    <ng-container *ngIf="!(disabledFilters | arrayIncludes : 'mission')">
      <mat-form-field style="max-width:400px;">
        <input matInput placeholder="Oppdrag" aria-label="Velg oppdrag" 
        [matAutocomplete]="auto1" [(ngModel)]="filterPreset.mission">
        <button mat-button *ngIf="filterPreset.mission" matSuffix mat-icon-button aria-label="Lukk" (click)="filterPreset.mission=null">
          <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayFnMission">
          <mat-option *ngFor="let mission of missions" [value]="mission">
            {{ mission.address }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
  
      <mat-divider class="mb-2"></mat-divider>
    </ng-container>

    <ng-container *ngIf="!(disabledFilters | arrayIncludes : 'dateRange')">
      <label class="mat-caption">Velg tidsrom</label>

      <mat-radio-group [ngModel]="filterPreset.dateRangePreset" (ngModelChange)="updateDateRangePreset($event)"  
        fxLayoutGap="8px">
        <mat-radio-button [value]="dateRangePresets.CurrentWeek">
          Denne uken
        </mat-radio-button>
        <mat-radio-button [value]="dateRangePresets.CurrentMonth">
          Denne måned
        </mat-radio-button>
        <mat-radio-button [value]="dateRangePresets.CurrentYear">
          I år
        </mat-radio-button>     
        <mat-radio-button [value]="dateRangePresets.CustomMonth" #customMonthSelect>
          Velg måned
        </mat-radio-button>
        <mat-radio-button [value]="dateRangePresets.Custom" #customDateRangeSelect>
          Velg tid
        </mat-radio-button>
        <mat-radio-button [value]="dateRangePresets.ShowAll">
          Vis alt
        </mat-radio-button>
      </mat-radio-group>

      <ng-container *ngIf="customDateRangeSelect.checked">
        <mat-form-field style="width:164px">
          <input matInput  placeholder="Velg tidsrom" selectMode="range" 
            [owlDateTimeTrigger]="customDateRange" [owlDateTime]="customDateRange" 
            [(ngModel)]="filterPreset.dateRange">
          <button mat-button *ngIf="filterPreset.dateRange" matSuffix mat-icon-button aria-label="Lukk" (click)="filterPreset.dateRange=null">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <owl-date-time [pickerMode]="'dialog'" [pickerType]="'calendar'" #customDateRange></owl-date-time>
      </ng-container>
      
      <ng-container *ngIf="customMonthSelect.checked">
        <mat-form-field style="width:164px">
          <input matInput  placeholder="Velg måned" selectMode="range" 
            [owlDateTimeTrigger]="customMonth" [owlDateTime]="customMonth" 
            [(ngModel)]="filterPreset.dateRange">
          <button mat-button *ngIf="filterPreset.dateRange" matSuffix mat-icon-button aria-label="Lukk" (click)="filterPreset.dateRange=null">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
  
        <owl-date-time [pickerMode]="'dialog'" [pickerType]="'calendar'" [startView]="'multi-years'" 
          (monthSelected)="chosenMonthHandler($event, customMonth)" #customMonth>
        </owl-date-time>
      </ng-container>

      <mat-divider class="mb-2"></mat-divider>

    </ng-container>
    
    <ng-container *ngIf="!(disabledFilters | arrayIncludes : 'status')">
      <label class="mat-caption">Velg status</label>
      <mat-radio-group [(ngModel)]="filterPreset.status"  
        fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <mat-radio-button [value]="timesheetStatus.Open" color="warn">
            Åpen
        </mat-radio-button>
        <mat-radio-button [value]="timesheetStatus.Confirmed">
            Låst
        </mat-radio-button>
      </mat-radio-group>

      <mat-divider class="mb-2"></mat-divider>
    </ng-container>

    <span fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-button color="warn" (click)="close()">Avbryt</button>
      <button mat-button color="primary" (click)="applyFilter()">Bruk</button>
    </span>


</div>