<div class="h-100 bg-card" style="overflow:hidden;" fxLayout="column" fxLayoutAlign="start stretch">

    <cdk-virtual-scroll-viewport *ngIf="missions?.length; else noContent"
        itemSize="56" maxBufferPx="800" minBufferPx="800" class="h-100"
        appScrollNavElevationToggler>

        <ng-container *cdkVirtualFor="let mission of missions; trackBy: trackByFn;" >

            <app-list-item [routerLink]="[mission.id, 'detaljer']">
                <mat-icon left-side>home_work</mat-icon>
                {{ mission.address }}
            </app-list-item>

            <mat-divider></mat-divider>

        </ng-container>
        
    </cdk-virtual-scroll-viewport>

</div>

<ng-template #noContent>
    <app-no-content text="Fant ingen oppdrag"></app-no-content>
</ng-template>