<mat-toolbar class="mat-elevation-z4 bg-primary toolbar-slim" fxLayout="row" fxLayoutAlign="space-around center">
        <button [routerLink]="['/']" [routerLinkActive]="['active']" fxFlex
         mat-icon-button aria-label="Neste side">

          <mat-icon>home</mat-icon>

        </button>

        <button [routerLink]="['/oppdrag']" [routerLinkActive]="['active']" fxFlex
           mat-icon-button aria-label="Gå til oppdrag">

          <mat-icon>view_list</mat-icon>

        </button>

        <button *ifRole="RolePresets.External" [routerLink]="['/profil']" [routerLinkActive]="['active']" fxFlex
            mat-icon-button aria-label="Gå til profil">

            <mat-icon>person</mat-icon>

        </button>

        <button *ifRole="RolePresets.Internal" [routerLink]="['/timer']" [routerLinkActive]="['active']" fxFlex
         mat-icon-button aria-label="Gå til timeliste">
            <mat-icon matBadgeColor="warn" matBadgeSize="small">timer</mat-icon>
        </button>
</mat-toolbar>
