@import '../../../../styles/variables';

::ng-deep.data-picker{
    margin:0px $gap-size * 6px;
    .mat-form-field-wrapper{
      .mat-select-value{ 
        color: mat-color($app-primary, default-contrast) !important;
      }
            
      .mat-form-field-label {
        /*change color of label*/
        color: mat-color($app-primary, default-contrast) !important;
       }
      
      .mat-form-field-underline {
        /*change color of underline*/
        background-color: mat-color($app-primary, default-contrast)!important;
      } 

      .mat-select-arrow{
        color: mat-color($app-primary, default-contrast) !important;
      }
    }

}