<form *ngIf="form" [formGroup]="form" fxLayout="column" fxLayoutAlign="space-around-center"  class="m-3">
    <mat-form-field formGroupName="documentType">
        <input matInput placeholder="Type dokument" aria-label="Type dokument" formControlName="name"
            [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let type of config?.foreigns?.documentTypes" [value]="type.name">
                {{type.name}}
            </mat-option>
        </mat-autocomplete>
        
        <mat-error *ngIf="documentTypeName.errors?.required">Velg eller lag ny dokumenttype.</mat-error>      
        <mat-error *ngIf="documentTypeName.errors?.maxlength">Navn kan maks være 45 tegn.</mat-error>  
    </mat-form-field>

    <br />

    <input (change)="onFileChange($event)" type="file">

    <mat-error *ngIf="file.dirty && file.errors?.required">Velg ett dokument å laste opp.</mat-error>  
    <mat-error *ngIf="file.dirty && file.errors?.fileExtensionInvalid">Filtypen er ikke tillatt.</mat-error>  

    <br />

    <button mat-raised-button class="w-100" color="primary" 
        [disabled]="form.invalid || form.pristine"
        (click)="onSubmit()">
        <mat-icon>cloud_upload</mat-icon>
        Last opp   
    </button>
</form>