<div fxLayout="column" fxLayoutAlign="start start" class="static-page-container mb-0 mt-0 h-100 bg-primary">

    <app-timesheet-filter-header class="w-100" 
        [filter]="filter$ | async" 
        (filterClick)="openBottomSheet($event)">        
    </app-timesheet-filter-header>

    <mat-button-toggle-group aria-label="Grupper etter tidsperiode" class="mb-1"
    [ngModel]="groupBy$ | async" (ngModelChange)="changeGroupingType($event)">
        <mat-button-toggle [value]="groupByTypes.Day">Dag</mat-button-toggle>
        <mat-button-toggle [value]="groupByTypes.Week">Uke</mat-button-toggle>
        <mat-button-toggle [value]="groupByTypes.Month">Måned</mat-button-toggle>
        <mat-button-toggle [value]="groupByTypes.Year">År</mat-button-toggle>
    </mat-button-toggle-group>

    <app-timesheet-statistic-table class="w-100 mat-elevation-z2"
        [timesheetSummaries]="timesheetSummaries$ | async"
        [users]="users$ | async">
    </app-timesheet-statistic-table>
  
</div>





