<app-main-nav
  [config]="mainNavConfig"
  (vertEvent)="handleVertEvent($event)"
  (back)="onBack()">

  <app-mission-details-view
    [mission]="mission"
    [images]="(images$ | async)"
    [reports]="(reports$ | async)"
    [notes]="(notes$ | async)"

    (imagesUploaded)="uploadImages($event)"
    (imageDeleted)="deleteImage($event)"
    (noteDeleted)="deleteNote($event)"
    (noteEdit)="editNote($event)"
    (reportDeleted)="deleteReport($event)">
  </app-mission-details-view>

</app-main-nav>

