<app-nested-nav
    *ngIf="missionDetails"
    [title]="this.missionDetails.mission.address"
    [subTitle]="this.missionDetails.mission.finished ? 'Oppdrag ferdig!' : ''"
    [subIcon]="this.missionDetails.mission.finished ? 'check' : ''"
    [actions]="this.navActions"
    (event)="handleNavEvents($event)">



  <app-mission-details-view *ngIf="missionDetails" [missionDetails]="missionDetails" (imagesUploaded)="uploadImages($event)" (imageDeleted)="deleteImage($event)" ></app-mission-details-view>

</app-nested-nav>

