<div *ngIf="timesheet" class="timesheet-card-container">

    <span class="mat-title card-title">
      Timeregistrering 
      <span [ngClass]="timesheet.status === Status.Confirmed ? 'color-accent' : 'color-warn'">
        {{ timesheet.status === Status.Confirmed ? 'Låst' : 'Åpen'}}
      </span>
    </span>

    <ng-container *ngIf="timesheet.fullName">
      <app-list-item>
        <mat-icon left-side class="pl-2 pr-2">person</mat-icon>
        {{ timesheet.fullName }} 
      </app-list-item>
      
      <mat-divider inset=true></mat-divider>
    </ng-container>

    <app-list-item>
      <mat-icon left-side class="pl-2 pr-2">watch_later</mat-icon>
        {{ timesheet.startTime | date : 'dd.MMM yyyy' }}
        {{ timesheet.startTime | date : 'shortTime' }} - {{ timesheet.endTime | date : 'shortTime' }}
        <br /> <span class="mat-body">{{ (timesheet.totalHours || 0) | readableDuration }} </span> 
    </app-list-item>
    <mat-divider inset=true></mat-divider>

    <app-list-item>
      <mat-icon left-side class="pl-2 pr-2">home</mat-icon>
      ({{timesheet.missionId}}) {{ timesheet.mission?.address }}
    </app-list-item>
    <mat-divider inset=true></mat-divider>

    <app-list-item>
      <mat-icon left-side class="pl-2 pr-2">comment</mat-icon>
      {{ timesheet.comment }} 
    </app-list-item>

</div>
