<div class="main-container">

  <div class="content-container mat-elevation-z2"
    [ngClass]="{ 'max-width': !data.disableMaxWidth }">

    <span class="nav-content"
      [ngClass]="(enableElevation$ | async) ? 'mat-elevation-z1' : ''" >
      
      <ng-content select="[navbar]"></ng-content>
  
    </span>

    <div [ngClass]="contentWrapperClass || 'default-main-content'"
      class="main-content" appScrollNavElevationToggler [togglerDisabled]="navTogglerDisabled">
      <ng-content>
    
      </ng-content>
    </div>

    <div class="bottom-bar" [ngClass]="bottomBarHidden ? 'bottom-bar-hidden' : ''" #bottomBar>
      <ng-content select="[bottombar]"></ng-content>
    </div>
    
  </div>
  
  <router-outlet #outlet="outlet">
  </router-outlet>

</div>

