@use '~@angular/material' as mat;
@import '../../../../styles/variables';

.main-container, .content-container{
    box-sizing: border-box;
    display: flex;
}

.main-container{
    position:relative;
    z-index:1;
    height:100%;
    width:100%;
    background: mat.get-color-from-palette($background, status-bar);
    flex-direction: row;
}

.content-container{
    position:relative;
    z-index:1;
    height:100%;
    width:100%;
    overflow:hidden;
    background: mat.get-color-from-palette($background, card);
    flex-direction: column;
    flex: 1 1 0%;
}

.nav-content{ 
    transition: box-shadow 150ms linear;  
    z-index:1; 
}

.main-content{ 
    overflow-y: auto; 
    margin-bottom: calc(var(--bottom-nav-height) * -1)!important;
    flex: 1 1 1e-09px;
    box-sizing: border-box;
}

.default-main-content{
   padding: 8px 0px calc(var(--bottom-nav-height) + 32px) 0px
}

::ng-deep.main-skeleton-overlay{
    position:absolute;
    top:0;
    width:100%!important;
    height:100%;
}

::ng-deep.main-skeleton-card{
    margin: $gap-size * 5px;
}

.bottom-bar{
    width: 100%; 
    z-index:10;
    transition: transform 100ms ease-out;
}

.bottom-bar-hidden{
    transform: translateY(100px)
}

  