
<div class="mat-elevation-z3 pt-2 pl-2 pr-2 bg-primary">
    <app-timesheet-filter-header [filter]="filter" (filterClick)="filterClick.emit()"></app-timesheet-filter-header>

    <mat-divider></mat-divider>
    
    <span fxLayout="row" fxLayoutAlign="center center">
        <button mat-button 
            [ngClass]="filter.status == timesheetStatus.Open ? 'color-accent':''" 
            (click)="changeStatus(timesheetStatus.Open)">
            Åpen
        </button>
        <button mat-button 
            [ngClass]="filter.status == timesheetStatus.Confirmed ? 'color-accent':''" 
            (click)="changeStatus(timesheetStatus.Confirmed)">
            Låst
        </button>
    </span>
    
    <mat-divider></mat-divider>
</div>

