
<app-timesheet-filter-header [filter]="filter" (filterClick)="filterClick.emit()"></app-timesheet-filter-header>

<mat-divider></mat-divider>

<span fxLayout="row" fxLayoutAlign="center center" class="faded-text">
    <button mat-button 
        [color]="filter.status == timesheetStatus.Open ? 'warn':''" 
        (click)="changeStatus(timesheetStatus.Open)">
        Ubekreftet
    </button>
    <button mat-button 
        [color]="filter.status == timesheetStatus.Confirmed ? 'primary':''" 
        (click)="changeStatus(timesheetStatus.Confirmed)">
        Bekreftet
    </button>
</span>

<mat-divider></mat-divider>
