<span fxLayout="row" fxLayoutAlign="space-between start" class="mt-1 mb-1">
    <span class="mat-body faded-text ellipsis" fxLayout="column" fxLayoutAlign="start start">
        <span *ngIf="filter.mission">{{ filter.mission.address }}</span>
        <span *ngIf="filter.dateRange">
            Fra {{ filter.dateRange[0] | date }} til {{ filter.dateRange[1] | date }}
        </span>
    </span>

    <button mat-button color="primary" (click)="openFilter()">
        <mat-icon>filter_list</mat-icon>
        Filter
    </button>
</span>

<mat-divider></mat-divider>

<span fxLayout="row" fxLayoutAlign="center center" class="faded-text">
    <button mat-button 
        [color]="filter.status == timesheetStatus.Open ? 'warn':''" 
        (click)="changeStatus(timesheetStatus.Open)">
        Ubekreftet
    </button>
    <button mat-button 
        [color]="filter.status == timesheetStatus.Confirmed ? 'primary':''" 
        (click)="changeStatus(timesheetStatus.Confirmed)">
        Bekreftet
    </button>
</span>

<mat-divider></mat-divider>
