<div *ngIf="mission">

  <a *ngIf="mission.phoneNumber" href="tel:{{ mission.phoneNumber }}">
    <app-list-item>
      <mat-icon left-side class="pl-2 pr-2">phone</mat-icon>
      {{ mission.phoneNumber }}
      <span right-side class="color-accent">Ring</span>
    </app-list-item>
    <mat-divider inset=true></mat-divider>
  </a>
 
  <a href="https://www.google.com/maps/dir/?api=1&destination={{ mission.address }}&travelmode=driving"
    target="_blank">
    <app-list-item>
      <mat-icon left-side class="pl-2 pr-2">directions_car</mat-icon>
      Veibeskrivelse 
      <div class="mat-caption color-warn" *ngIf="mission.position && !mission.position.isExact">Posisjonen kan være upresis</div>
      <span right-side class="color-accent">Åpne kart</span>
    </app-list-item>
    <mat-divider inset=true></mat-divider>
  </a>

  <div class="mat-body-2 ml-5 mt-3">Ressurser</div>

  <app-list-item [routerLink]="['/oppdrag', mission.id, 'detaljer','bilder']">
      <mat-icon left-side class="pl-2 pr-2">photo_library</mat-icon>
      Bilder
      <span right-side *ngIf="mission.missionImages?.length">{{ mission.missionImages?.length }}</span>
  </app-list-item>
  <mat-divider inset=true></mat-divider>

  <ng-container *ifRole="permissions.MissionDocumentList.access">
    <app-list-item [routerLink]="['/oppdrag', mission.id, 'detaljer','dokumenter']">
      <mat-icon left-side class="pl-2 pr-2">folder</mat-icon>
      Dokumenter
      <span right-side *ngIf="mission.missionDocuments?.length">{{ mission.missionDocuments?.length }}</span>
    </app-list-item>
    <mat-divider inset=true></mat-divider>
  </ng-container>

  <ng-container *ifRole="permissions.MissionNoteList.access">
    <app-list-item  [routerLink]="['/oppdrag', mission.id, 'detaljer','notater']">
      <mat-icon left-side class="pl-2 pr-2">rate_review</mat-icon>
      Notater
      <span right-side *ngIf="mission.missionNotes?.length">{{ mission.missionNotes?.length }}</span>
    </app-list-item>
    <mat-divider inset=true></mat-divider>
  </ng-container>

  <ng-container *ngIf="mission.employer">
    <ng-container *ifRole="[roles.Ansatt, roles.Leder, roles.Mellomleder, roles.Admin]">
      <div class="mat-body-2 ml-5 mt-3">Oppdragsgiver</div>
      <app-employer-list-item [employer]="mission.employer">
      </app-employer-list-item>   
      <mat-divider inset=true></mat-divider> 
    </ng-container>
  </ng-container>

  <ng-container *ngIf="mission.description">
    <div class="mat-body-2 ml-5 mt-3">Beskrivelse</div>
    <app-list-item rippleDisabled=true>
      <mat-icon left-side class="pl-2 pr-2">comment</mat-icon>
      <span style="white-space:normal" class="mat-body">{{ mission.description }}</span>
    </app-list-item>
    <mat-divider inset=true></mat-divider>
  </ng-container>

</div>