<app-main-top-nav-bar [config]="navConfig" alwaysShowCancelButton=true overlayMode=true>
</app-main-top-nav-bar>

<ng-container *ngIf="loadingImage$ | async; let loadingImage">
  <img appImageErrorPlaceholder [appHide]="loadingImage.loading" alt="oppdragsbilde"
    [src]="currentImage.fileName | appFileUrl: this.folder" layout-fill
    (swiperight)="previousImage()" 
    (swipeleft)="nextImage()" 
    (load)="onCurrentImageLoaded()"/>

  <ion-spinner [appHide]="!loadingImage.loading" name="dots"></ion-spinner>
</ng-container>

<div *ngIf="images?.length" class="page-counter-container">
  
  <span class="page-counter">
    <button mat-icon-button (click)="previousImage()"><mat-icon>chevron_left</mat-icon></button>
    {{ index + 1 }} / {{ images?.length }}
    <button mat-icon-button (click)="nextImage()"><mat-icon>chevron_right</mat-icon></button>
  </span>
  
</div>





