<app-main-skeleton *ngIf="vm$ | async; let vm" contentWrapperClass="bottom-bar-padding">

  <ng-container navbar>

    <app-main-top-nav-bar [config]="navConfig" >
    </app-main-top-nav-bar>

    <app-data-property-picker
      [properties]="properties" 
      [selectedProperty]="vm.selectedProperty" 
      (propertySelected)="updateSelectedProperty($event)">
    </app-data-property-picker>

  </ng-container>

  <lib-model-data-table #dataTable class="h-100" 
    [modelProperty]="vm.selectedProperty" 
    agGridTheme="ag-theme-balham">
  </lib-model-data-table>

  <app-bottom-action-bar bottombar [actions]="vm.bottomActions" alwaysDisplayBar=true>
  </app-bottom-action-bar>

</app-main-skeleton>

