<app-main-skeleton *ngIf="vm$ | async; let vm" paddingDisabled=true>

  <ng-container navbar>

    <app-main-top-nav-bar [config]="vm.navConfig" >
    </app-main-top-nav-bar>

    <app-data-property-picker
      [properties]="properties" 
      [selectedProperty]="vm.selectedProperty" 
      (propertySelected)="updateSelectedProperty($event)">
    </app-data-property-picker>

  </ng-container>

  <lib-model-data-table #dataTable class="h-100" 
    [modelProperty]="vm.selectedProperty" 
    agGridTheme="ag-theme-balham" 
    overlayNoRowsTemplate="Tomt">
  </lib-model-data-table>

</app-main-skeleton>

