<style>
    cdk-virtual-scroll-viewport{     
        flex: 1 1 0%;
        box-sizing: border-box;
    }
    .container{
        flex-direction: column;
        box-sizing: border-box;
        display: flex;
        place-content: stretch flex-start;
        align-items: stretch;
        max-width: 100%;
        height: 100%;
    }
    .hidden-swipe-content{
        width:82px;
        flex-direction: column;
        box-sizing: border-box;
        display: flex;
        place-content: center;
        align-items: center;
    }
</style>
<div class="container">
    
    <cdk-virtual-scroll-viewport itemSize="82" maxBufferPx="800" minBufferPx="800" appScrollNavElevationToggler>
        <ng-container *cdkVirtualFor="let summary of summaries; trackBy: trackByWeek; templateCacheSize:0" >
            
            <app-swipe-card openWidth="82px" closedWidth="5px"
                [position]="summary.openHours === 0 ? null : isXs ? 'closed' : 'open'"
                [isLocked]="summary.openHours === 0">
                
                <div swipeContent matRipple class="hidden-swipe-content h-100"
                    [ngClass]="summary.openHours > 0 ? 'warn' : 'accent'" 
                    (press)="changeTimesheetStatuses(summary.timesheets)">
                    <mat-icon style="transform:scale(1.25)">{{ summary.openHours > 0 ? 'lock_open' : 'lock' }}</mat-icon>
                </div>

                <app-timesheet-summary-card-content
                    [summary]="summary"
                    (click)="selectWeek(summary.weekNr)">
                </app-timesheet-summary-card-content>

            </app-swipe-card>

            <mat-divider></mat-divider>
        </ng-container>
        

    </cdk-virtual-scroll-viewport>
  
</div>

