

<app-timesheet-form [date]="date" [mission]="mission"></app-timesheet-form>

<mat-divider></mat-divider>

<div class="timesheet-container">

  <span class="form-header">Registrerte timer for {{ isDateView ? 'dato' : 'oppdrag' }}</span>
  <button mat-button color="primary" (click)="confirmAll()">Bekreft alle</button>

  <cdk-virtual-scroll-viewport itemSize="3" style="height:240px">
    <app-timesheet-card
      *cdkVirtualFor="let timesheet of timesheets | sortByDate: 'startTime' | sortByTimesheetStatus"
      [timesheetId]="timesheet.id">
    </app-timesheet-card>
  </cdk-virtual-scroll-viewport>
</div>
