<form *ngIf="form" [formGroup]="form" fxLayout="column"  class="m-3">
    <mat-form-field>
        <input matInput placeholder="Epostpassord" formControlName="password">
        <mat-error *ngIf="this.password.invalid">
            Epost passordet kan være på maks 250 tegn.
        </mat-error>
    </mat-form-field>

    <button mat-raised-button class="w-100" color="primary" 
        [disabled]="form.invalid || form.pristine"
        (click)="onSubmit()">
        Lagre   
    </button>

</form>