<app-main-skeleton>

  <app-main-top-nav-bar navbar [config]="{title: 'Brukere'}">
  </app-main-top-nav-bar>

  <div class="pl-1 pr-1" *ngIf="users$ | async else loading; let users;">
    <ng-container *ngFor="let user of users; trackBy: trackByUser;"> 

      <app-user-card
        [user]="user"
        [editButton]="getEditButton(user.userName)"
        [newPasswordButton]="getNewPasswordButton(user.userName)">
      </app-user-card>
      
      <mat-divider></mat-divider>

    </ng-container>
  </div>

  <app-bottom-action-bar bottombar
    [fab]="actionFab">
  </app-bottom-action-bar>

</app-main-skeleton>

<ng-template #loading>
  <mat-spinner class="center-spinner" color="accent"></mat-spinner>
</ng-template>

