<form [formGroup]="authForm" (ngSubmit)="submitForm()" fxLayout="column" >
  <span class="mat-subheading-2 mb-2">Logg inn</span>

  <mat-form-field>
    <mat-icon matSuffix color="primary">person</mat-icon>
    <input matInput formControlName="userName" placeholder="Brukernavn" type="text" />
  </mat-form-field>

  <mat-form-field>
    <mat-icon matSuffix color="primary" (click)="hidePassword = !hidePassword">
      {{hidePassword ? 'visibility_off' : 'visibility'}}
    </mat-icon>
    <input matInput formControlName="password" placeholder="Passord" [type]="hidePassword ? 'password' : 'text'" />
  </mat-form-field>

  <button appHttpCommandButton mat-raised-button color="accent" [disabled]="!authForm.valid" type="submit">
    <mat-icon>lock_open</mat-icon>
    Logg inn
  </button>
  <br />

  <button mat-raised-button appAddToHomeScreen color="accent">
    <mat-icon>get_app</mat-icon> Legg til app
  </button>
  
</form>