<div class="main-container primary-light" fxLayout="row" *ngIf="childDisplayMode$ | async; let displayMode">

  <div fxLayout="column" class="main-container mat-elevation-z2" 

    [fxFlex]="(displayMode === 'side' && outlet.isActivated) ? (100 - childSize) : 100">
    <span  class="primary" style="z-index:1"
      [ngClass]="disableElevation ? '' : 'mat-elevation-z2'" >
      
      <ng-content select="[navbar]"></ng-content>
  
    </span>
  
    <div fxFlex style="overflow-y:auto;">
      <ng-content>
    
      </ng-content>
    </div>
  
    <div class="fab-container m-2" *ngIf="fabs"
        fxLayout="column" fxLayoutGap="4px">  
        <app-button class="fadeInRight" 
          *ngFor="let fab of fabs | transformButtons : ButtonTypes.Fab | reverseArray; trackBy: trackByFab" 
          [config]="fab">
        </app-button>
    </div>
  </div>
  
  <div [fxHide]="!outlet.isActivated" [ngClass]="displayMode" [fxFlex]="(displayMode === 'overlay') ? 100 : childSize">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>

</div>

