<mat-sidenav-container class="h-100" *ngIf="config$ | async; let config">

  <mat-sidenav fixedInViewport #drawer *ngIf="config" class="mat-elevation-z1"
  [attr.role]="config.isXs ? 'dialog' : 'navigation'"
  [mode]="config.isXs ? 'over' : 'side'"
  [opened]="!config.isXs">

    <app-main-side-nav 
      [config]="config.sideNavConfig"
      (navItemClicked)="config.isXs ? toggleDrawer() : null">
    </app-main-side-nav> 

  </mat-sidenav>

  <mat-sidenav-content fxLayout="column">

    <!-- h-100 for iOS Safari fix -->
    <div fxFlex fxLayout="row">   
        <router-outlet #outlet="outlet"></router-outlet>    
    </div>

    <app-main-bottom-nav class="mat-elevation-z5" fxHide.gt-xs 
      [navigations]="config.bottomNavigations">
    </app-main-bottom-nav>

  </mat-sidenav-content>

</mat-sidenav-container>

