<mat-toolbar color="accent" class="bottom_toolbar p-0" [ngClass]="(isHandset$ | async) ? '' : 'bottom_toolbar_no_side'">

        <button [routerLink]="['/hjem']" [routerLinkActive]="['activeIcon']"
        class="bottom_toolbar_button" mat-icon-button aria-label="Neste side">

          <mat-icon class="bottom_toolbar_icon">home</mat-icon>

        </button>

        <button [routerLink]="['/oppdrag']" [routerLinkActive]="['activeIcon']"
          class="bottom_toolbar_button" mat-icon-button aria-label="Neste side">

          <mat-icon class="bottom_toolbar_icon">view_list</mat-icon>

        </button>

        <button *ifRole="[ROLES.Ansatt, ROLES.Mellomleder]" [routerLink]="['/oppdragsgivere']" [routerLinkActive]="['activeIcon']"
            class="bottom_toolbar_button" mat-icon-button aria-label="Neste side">

            <mat-icon class="bottom_toolbar_icon">hourglass_full</mat-icon>

        </button>

        <button *ifRole="ROLES.Leder" [routerLink]="['/brukere']" [routerLinkActive]="['activeIcon']"
            class="bottom_toolbar_button" mat-icon-button aria-label="Neste side">

            <mat-icon class="bottom_toolbar_icon">people</mat-icon>

        </button>
</mat-toolbar>
