<mat-toolbar class="bottom_toolbar p-0 mat-elevation-z8">

        <button [routerLink]="['/hjem']" [routerLinkActive]="['active-icon']"
        class="bottom_toolbar_button" mat-icon-button aria-label="Neste side">

          <mat-icon>home</mat-icon>

        </button>

        <button [routerLink]="['/oppdrag']" [routerLinkActive]="['active-icon']"
          class="bottom_toolbar_button" mat-icon-button aria-label="Gå til oppdrag">

          <mat-icon>view_list</mat-icon>

        </button>

        <button *ifRole="[Roles.Ansatt]" [routerLink]="['/profil']" [routerLinkActive]="['active-icon']"
            class="bottom_toolbar_button" mat-icon-button aria-label="Gå til profil">

            <mat-icon>person</mat-icon>

        </button>

        <button *ifRole="[Roles.Leder, Roles.Mellomleder]" [routerLink]="['/timeliste']" [routerLinkActive]="['active-icon']"
            class="bottom_toolbar_button" mat-icon-button aria-label="Gå til timeliste">

            <mat-icon>timer</mat-icon>

        </button>
</mat-toolbar>
