@import '../../../../variables';

.search_input{
    width:100%;
  }

  .search_toolbar{
    font-size:1rem !important;
    height:$main-nav-height * 1px!important;
    position: absolute;
    left:0px;
    z-index:3;
    overflow:hidden;
  }
