<form fxLayout="column" fxLayoutAlign="space-around stretch" *ngIf="form" [formGroup]="form" class="m-3">
  <ng-container *ngIf="!(config?.disabledFilters | arrayIncludes : 'user')">
    <mat-form-field>
      <mat-select formControlName="user" placeholder="Velg ansatt" [compareWith]="compareUser">
        <mat-option>Ingen</mat-option>
        <mat-option *ngFor="let user of config?.state?.users" [value]="user">
          {{ user.firstName }} {{ user.lastName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-divider></mat-divider>
    <span class="mb-2"></span>
  </ng-container>

  <ng-container *ngIf="!(config?.disabledFilters | arrayIncludes : 'mission')">
    <mat-form-field *appActiveStringFilter="let entities$; config: stringFilterConfig">
      <input matInput placeholder="Oppdrag" formControlName="mission" aria-label="Velg oppdrag"
        [matAutocomplete]="auto1">
      <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayMissionAddress">
        <mat-option *ngFor="let mission of entities$ | async" [value]="mission">
          ({{ mission.id }}) {{ mission.address }}
        </mat-option>
      </mat-autocomplete>
      <button mat-button *ngIf="mission.value" matSuffix mat-icon-button aria-label="Clear" (click)="mission.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-divider></mat-divider>
    <span class="mb-2"></span>
  </ng-container>

  <ng-container *ngIf="!(config?.disabledFilters | arrayIncludes : 'dateRange')">
    <label class="mat-caption">Velg tidsrom *</label>

    <mat-radio-group color="primary" formControlName="dateRangePreset" fxLayoutGap="8px" class="mb-2">
      <mat-radio-button [value]="dateRangePresets.CurrentWeek">
        Denne uken
      </mat-radio-button>
      <mat-radio-button [value]="dateRangePresets.CurrentMonth">
        Denne måned
      </mat-radio-button>
      <mat-radio-button [value]="dateRangePresets.CurrentYear">
        I år
      </mat-radio-button>
      <mat-radio-button [value]="dateRangePresets.CustomMonth" #customMonthSelect>
        Velg måned
      </mat-radio-button>
      <mat-radio-button [value]="dateRangePresets.Custom" #customDateRangeSelect>
        Velg tid
      </mat-radio-button>
      <mat-radio-button [value]="dateRangePresets.ShowAll">
        Vis alt
      </mat-radio-button>
    </mat-radio-group>

    <div *ngIf="customDateRangeSelect.checked" fxLayout="row" fxLayoutAlign="space-between start">
      <app-ion-date-picker fxFlex=45 ionFormat="YYYY-MMMM-DD" datePipeFormat="MMM d, y" placeholder="startdato"
        [control]="startDate" [max]="endDate.value">
      </app-ion-date-picker>
  
      <app-ion-date-picker fxFlex=45 ionFormat="YYYY-MMMM-DD" datePipeFormat="MMM d, y" placeholder="sluttdato"
        [control]="endDate" [min]="startDate.value">
      </app-ion-date-picker>
    </div>

    <app-ion-date-picker *ngIf="customMonthSelect.checked" placeholder="måned" style="width:150px"
      ionFormat="YYYY-MMMM" datePipeFormat="MMMM, y" 
      [control]="startDate" [min]="startDate.value" [valueSetter]="selectMonthHandler">
    </app-ion-date-picker>

    <mat-divider></mat-divider>
    <span class="mb-2"></span>
  </ng-container>

  <ng-container *ngIf="!(config?.disabledFilters | arrayIncludes : 'status')">
    <label class="mat-caption">Velg status</label>
    <mat-radio-group formControlName="status" color="primary" fxLayout="row" fxLayoutAlign="start center"
      fxLayoutGap="8px" class="mb-2">
      <mat-radio-button [value]="timesheetStatus.Open">
        Åpen
      </mat-radio-button>
      <mat-radio-button [value]="timesheetStatus.Confirmed">
        Låst
      </mat-radio-button>
    </mat-radio-group>

    <mat-divider></mat-divider>
    <span class="mb-2"></span>
  </ng-container>

  <span fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-button [disabled]="!isFormNotEmpty()" color="warn" (click)="reset()">Nullstill</button>

    <button mat-button color="primary" [disabled]="form.invalid || form.pristine" (click)="onSubmit()">Bruk
    </button>
  </span>
</form>