<style> mat-spinner { margin: 16px auto; } </style>
<ng-container *ngIf="vm$ | async; let vm">
    <app-no-content *ngIf="!vm.isFetching else fetching">
        Finner ingen {{ modelProp | translate : true }}
        <ng-content></ng-content>
    </app-no-content>

    <ng-template #fetching>
        <app-no-content *ngIf="vm.isOnline else notOnline">
            <mat-spinner color="accent"></mat-spinner>
            <p>Laster inn {{ modelProp | translate : true }}...</p>
        </app-no-content>
    </ng-template>
    
    <ng-template #notOnline>
        <app-no-content icon="cloud_off">Mangler internett-tilkobling</app-no-content>
    </ng-template>
</ng-container>

