<div class="max-width mat-elevation-z2 main-container" *ngIf="vm$ | async; let vm">

  <mat-toolbar class="top-bar">

    <h2>{{ vm.currentUser.firstName + ' ' + vm.currentUser.lastName }}</h2>
    <span class="mat-caption">Sist synkronisert {{ vm.syncTimestamp | date : 	'd.MMM  kl. H:mm'}}</span> 
    <div class="top-action-bar">
      <button mat-stroked-button appAddToHomeScreen>Legg til app</button>
    
      <button mat-stroked-button routerLink="/profil">
        <mat-icon>person</mat-icon> Profil
      </button>
  
      <button mat-stroked-button (tap)="refresh()">
        <mat-icon>update</mat-icon> Synkroniser
      </button>
    </div>
  
  </mat-toolbar>

  <div class="content-container">

    <app-home-mission-card [missions]="vm.missions">
    </app-home-mission-card>

    <app-home-nav-tile-grid  
      [columnCount]="([roles.Leder] | ifRole) ? 3 : 2"
      [navigations]="navigations">
    </app-home-nav-tile-grid>

  </div>

  <mat-toolbar class="bottom-bar">

    <button class="menu-btn" mat-icon-button aria-label="Toggle sidenav" (tap)="toggleDrawer()" class="menu-btn">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
  
    <span class="mr-auto"></span>
  
    <app-optimistic-loading-spinner></app-optimistic-loading-spinner>
  
    <button mat-stroked-button appAddToHomeScreen>Legg til app</button>

    <button mat-button routerLink="/profil" class="action-btn">
      <mat-icon>person</mat-icon>
      <span class="mat-caption">Profil</span>
    </button>

    <button mat-button (tap)="refresh()" class="action-btn">
      <mat-icon>update</mat-icon> 
      <span class="mat-caption">Synkroniser</span>
    </button>

</mat-toolbar>

</div>
