<app-main-skeleton *ngIf="vm$ | async; let vm" [fabs]="vm.fabs">

    <ng-container navbar>
        <app-main-top-nav-bar [config]="vm.navConfig" stylingClass="bg-primary">
        </app-main-top-nav-bar>
        <app-chips-bar [chips]="vm.chips"></app-chips-bar>
    </ng-container>

    <div fxLayout="column" fxLayoutAlign="start stretch" class="h-100 max-width">
        <cdk-virtual-scroll-viewport *ngIf="vm.timesheets?.length else noContent"
            itemSize="104" maxBufferPx="800" minBufferPx="800" fxFlex>
            <div class="m-1" *cdkVirtualFor="let timesheet of vm.timesheets | sortByDate : 'startTime'; trackBy: trackByTimesheet">
                <app-timesheet-card [timesheet]="timesheet" (editClicked)="openTimesheetForm($event)">
                </app-timesheet-card>
            </div>
        </cdk-virtual-scroll-viewport>
    </div> 

</app-main-skeleton>

<ng-template #noContent>
    <span class="text-center w-100">
        <p>Finner ingen timer med gitte filtre. </p>
        <button mat-raised-button color="accent" class="bounceIn" (click)="openFilterSheet()">
            <mat-icon>filter_list</mat-icon>
            Åpne filter
        </button>
    </span>
</ng-template>

<router-outlet></router-outlet>