<app-main-skeleton *ngIf="vm$ | async; let vm" [fabs]="vm.fabs" overlayMode="true">

    <ng-container navbar>
        <app-main-top-nav-bar [config]="vm.navConfig" >
        </app-main-top-nav-bar>
        <app-chips-bar [chips]="vm.chips"></app-chips-bar>
    </ng-container>

    <app-user-timesheet-list-view 
        [timesheets]="vm.timesheets" 
        (editClicked)="openTimesheetForm($event)"
        (filterClicked)="openTimesheetFilter()">
    </app-user-timesheet-list-view>

</app-main-skeleton>

<router-outlet></router-outlet>