<app-main-skeleton *ngIf="navVm$ | async; let navVm" [fabs]="navVm.fabs">

    <ng-container navbar>
        <app-main-top-nav-bar [config]="navVm.navConfig" >
        </app-main-top-nav-bar>
        <app-chips-bar [chips]="navVm.criteriaChips"></app-chips-bar>
    </ng-container>

    <app-user-timesheet-list-view 
        [timesheets]="timesheets$ | async" 
        (editClicked)="openTimesheetForm($event)"
        (filterClicked)="openTimesheetFilter()">
    </app-user-timesheet-list-view>

</app-main-skeleton>

<router-outlet></router-outlet>