<app-list-card [startIcon]="(user.role === Roles.Oppdragsgiver) ? 'work' : 'person'" rippleDisabled=true>

    {{ user.lastName }}, {{ user.firstName }}

    <span rightSide fxLayout="row">
        <a *ngIf="user.phoneNumber" style="color:green" mat-icon-button href="tel:{{ user.phoneNumber }}">
            <mat-icon>phone</mat-icon>
        </a>   
        <app-button *ngIf="newPasswordButton && user.role != Roles.Leder" [config]="newPasswordButton"></app-button>
        <app-button *ngIf="editButton && user.role != Roles.Leder" [config]="editButton"></app-button>
    </span>

</app-list-card>