<ng-container *ngIf="vm$ | async; let vm">

  <div *ngIf="vm.isSmall; else desktop" class="login-container">

    <div class="header-container">
      <div class="image-container"></div>

      <div class="logo-container">
        <img src="assets/icons/icon-72x72.png" alt="Logo bilde" />

        <span class="mat-body-strong logo-text">Bjørkelangen<br />Bygg og Eiendom</span>
      </div>

    </div>

    <app-login-form [disabled]="vm.formDisabled" (submitted)="authenticate($event)"></app-login-form>

  </div>

  <ng-template #desktop>
    <div class="login-container-desktop">
      <div class="image-container"></div>
      <div class="form-container">

        <div class="logo-container">
          <img src="assets/icons/icon-128x128.png" alt="Logo bilde" />

          <span class="mat-title logo-text mt-2">Bjørkelangen<br />Bygg og Eiendom</span>
        </div>

        <app-login-form [disabled]="vm.formDisabled" (submitted)="authenticate($event)"></app-login-form>
      </div>
    </div>
  </ng-template>

</ng-container>


