<!-- <mat-toolbar class="overlay_container image_toolbar" fxLayout="row" fxLayoutAlign="space-between center" 
    [fxHide]="toolbarHidden">
    <button mat-icon-button aria-label="Lukk" (tap)="close()">
        <mat-icon>close</mat-icon>
    </button>
    <button mat-icon-button (click)="openBottomSheet()"><mat-icon>more_vert</mat-icon></button>
</mat-toolbar> -->
<app-main-top-nav-bar [config]="navConfig" overlayMode=true [fxHide]="toolbarHidden">
</app-main-top-nav-bar>

<ng-container *ngIf="loadingImage$ | async; let loadingImage">
  <img #img [fxHide]="loadingImage.loading" alt="oppdragsbilde"
    (tap)="toolbarHidden = !toolbarHidden" 
    (swiperight)="previousImage()" 
    (swipeleft)="nextImage()" 
    (load)="onCurrentImageLoaded()"
    (error)="img.src = '/assets/notfound.png?'"
    [src]="currentImage | appFileUrl: this.folder" layout-fill/>

  <mat-spinner [fxShow]="loadingImage.loading" color="accent"></mat-spinner>
</ng-container>

<div *ngIf="images?.length" class="page-counter-container" [fxHide]="toolbarHidden">
  <span class="page-counter">{{ index + 1 }} / {{ images?.length }}</span>
</div>





