<div class="img-row">
    <div class="img-column" *ngFor="let i of [1,2,3,4]">
        <div class="img-container" matRipple
            *ngFor="let image of images | arrayslice: i:4;let i = index;trackBy: trackById"
            (press)="selectOrRemoveImage(image)"
            (click)="openImageViewer(image.id)" >

            <img
                src="{{ image.fileURL | thumbnail }}"
                (error)="unloadedThumbnail($event.path[0])" 
                (load)="loadedThumbnail($event.path[0])" />

            <div class="img-overlay" fxLayout="column" fxLayoutAlign="center center" [style.opacity]="associativeIds[image.id] ? .5:0">
                <mat-icon>check_circle</mat-icon>
                <span class="mat-body-strong">Bilde valgt</span>
            </div>

        </div>
    </div>
</div>
<ng-container *ngIf="selectedImageIds.length != 0">
    <button
      *ifRole="[Roles.Leder]"
      mat-mini-fab aria-label="ny"
      class="action_fab_2"
      (click)="openMailImageSheet()">
    <mat-icon>send</mat-icon>
  </button>
</ng-container>
