<style>
    .note-content{
        width:100%;
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: center space-between;
        align-items: center;
    }
</style>
<div class="p-4 bg-card" *ngIf="note">

    <div *ngIf="note.title" class="mat-title">{{ note.title }}</div>
    <div class="mat-body">{{ note.content }}</div>

    <div class="note-content">
        <span class="mat-caption">
            {{ note.createdAt | date: 'dd.MMM yyyy' }} {{ note.createdBy ? ("av " + note.createdBy) : "" }}
        </span>

        
        <button *ifRole="can.update" (click)="editNote()" mat-button color="accent" aria-label="Rediger notat">
            Oppdater
        </button>       
    </div>  

</div>