<app-main-skeleton *ngIf="vm$ | async; let vm" [fabs]="vm.fabs">

    <app-main-top-nav-bar navbar [config]="vm.navConfig" >
    </app-main-top-nav-bar>

    <div cdkSelectableContainer #selectableContainer (selectionChanged)="onSelectionChange($event)" fxLayout="row" style="margin:1px">
        <div *ngFor="let i of (vm.columns | numberToArray)" [fxFlex]="100 / vm.columns">
            
            <app-selectable-card *ngFor="let img of vm.images | arrayslice: i:vm.columns;trackBy: trackByFn"
                [id]="img.id" selectedText="Bilde valgt">
                <img appImageErrorReloader (tap)="openImageViewer(img, vm.images)" class="entity-card"  alt="oppdragsbilde"
                    [src]="img | appFileUrl: 'thumbnails'"/> 
            </app-selectable-card>         

        </div>
    </div>

</app-main-skeleton>

<input type="file" style="display:none" multiple #imageInput (change)="uploadImages($event.target.files)">