<app-main-skeleton *ngIf="vm$ | async; let vm" [bottomBarHidden]="vm.selectionBarConfig">

    <app-main-top-nav-bar navbar [config]="vm.selectionBarConfig || navConfig" >
    </app-main-top-nav-bar>

    <div cdkSelectableContainer #selectableContainer (selectionChanged)="onSelectionChange($event)" class="image-container">

        <app-selectable-card *ngFor="let img of vm.images;trackBy: trackByImg"
            class="image" [id]="img.id" selectedText="Bilde valgt">
            <img appImageErrorReloader (tap)="openImageViewer(img, vm.images)" class="entity-card"  alt="oppdragsbilde"
                [src]="img | appFileUrl: FileFolder.MissionImageThumbnail"/> 
        </app-selectable-card>  

    </div>

    <app-bottom-action-bar bottombar
        [fab]="actionFab" 
        [actions]="bottomActions">
    </app-bottom-action-bar>

</app-main-skeleton>

<input type="file" style="display:none" multiple #imageInput (change)="uploadImages($event.target.files)">