<app-home-top-nav>
  <div class="p-1" fxLayout="column" fxLayoutGap="8px">

    <div fxLayout="row" fxLayoutGap="8px">
      <span class="mat-elevation-z2 foreground-card text-center p-6" fxFlex="50" matRipple
        routerLink="/oppdrag">
        <mat-icon class="scale-150 mb-1">view_list</mat-icon><br />
        <span>Oppdrag</span>
      </span>
      <span *ifRole="permissions.UserTimesheetWeek.access" class="mat-elevation-z2 foreground-card text-center p-6"
        fxFlex="50" matRipple routerLink="/mine-timer">
        <mat-icon class="scale-150 mb-1">timer</mat-icon><br />
        <span>Timer</span>
      </span>
      <span *ifRole="[roles.Oppdragsgiver]" class="mat-elevation-z2 foreground-card text-center p-6"
        fxFlex="50" matRipple routerLink="/profil">
        <mat-icon class="scale-150">person</mat-icon><br />
        <span>Profil</span>
      </span>
    </div>
  
    <ng-container *ifRole="[roles.Leder]">
      <mat-card>

        <span class="mat-body-2 mb-2"> Administrering</span>

        <mat-divider inset="true"></mat-divider>

        <app-list-item routerLink="/timeadministrering">
          <mat-icon left-side>date_range</mat-icon>
          Administrer timer
          <mat-icon right-side>chevron_right</mat-icon>
        </app-list-item>

        <app-list-item routerLink="/data">
          <mat-icon left-side>dns</mat-icon>
          Administrer data
          <mat-icon right-side>chevron_right</mat-icon>
        </app-list-item>

        <app-list-item routerLink="/brukere">
          <mat-icon left-side>people</mat-icon>
          Administrer brukere
          <mat-icon right-side>chevron_right</mat-icon>
        </app-list-item>

      </mat-card>

      <mat-card>

        <span class="mat-body-2 mb-2"> Statistikk</span>

        <mat-divider inset="true"></mat-divider>

        <app-list-item routerLink="/timestatistikk">
          <mat-icon left-side>assessment</mat-icon>
          Timestatistikk
          <mat-icon right-side>chevron_right</mat-icon>
        </app-list-item>

      </mat-card>
    </ng-container>

    <mat-card>

        <span class="mat-body-2 mb-2"> Sist besøkte oppdrag</span>

        <mat-divider inset="true"></mat-divider>

        <app-list-item *ngFor="let mission of missionHistory$ | async" 
          [routerLink]="['/oppdrag', mission.id, 'detaljer']">
          <mat-icon left-side>history</mat-icon>
          {{mission.address}}
          <mat-icon right-side>chevron_right</mat-icon>
        </app-list-item>

    </mat-card>
  
  </div>
</app-home-top-nav>

