<mat-toolbar color="accent" *ngIf="vm$ | async; let vm">
  <mat-toolbar-row>

    <button mat-icon-button aria-label="Toggle sidenav" (tap)="toggleDrawer()" fxHide.gt-xs>
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>

    <span class="mr-auto"></span>

    <mat-spinner *ngIf="vm.loading" diameter="24" class="mr-2"></mat-spinner>
    <button mat-button appAddToHomeScreen>Legg til app</button>
    <button mat-icon-button (tap)="refresh()"><mat-icon>update</mat-icon></button>

  </mat-toolbar-row>

  <mat-toolbar-row 
    fxLayout="column" fxLayoutAlign="start center" style="height:20vh;padding-top:12px;">

    <a routerLink="/profil"><h2>{{ vm.currentUser.firstName + ' ' + vm.currentUser.lastName }}</h2></a>
    <span class="mat-caption">Sist synkronisert {{ vm.syncTimestamp | date : 	'd.MMM  kl. H:mm'}}</span> 

  </mat-toolbar-row>

</mat-toolbar>