<div class="max-width mat-elevation-z1 h-100" style="overflow:hidden">

  <app-home-top-nav></app-home-top-nav>

  <div style="position: relative">

    <div class="color-accent" style="position:absolute; top:-30px;width:100%;">

      <app-home-nav-tile-grid [navigations]="navigations"></app-home-nav-tile-grid>

      <div *ifRole="[roles.Oppdragsgiver, roles.Ansatt, roles.Mellomleder]" 
        fxLayout="row" fxLayoutAlign="center center">
  
        <div class="mat-elevation-z1 foreground-card p-3" fxFlex=93 style="height:40vh;overflow:hidden">

          <span class="mat-body-2 mb-2"> Sist besøkte oppdrag</span>
  
          <mat-divider></mat-divider>

          <div style="overflow-x:scroll;height:100%" *ngIf="missionHistory$ | async; let missions; else noContent">

            <app-list-item *ngFor="let mission of missions" 
            [routerLink]="['/oppdrag', mission.id, 'detaljer']">
              <mat-icon left-side>history</mat-icon>
              {{mission.address}}
              <mat-icon right-side>chevron_right</mat-icon>
            </app-list-item>
               
          </div>

          <ng-template #noContent>
            <div class="mt-2">Finner ingen oppdrag</div>
          </ng-template>

        </div>

      </div>
 
    </div>

  </div>

</div>
