@import '../../styles/variables';

.main-container, .content-container, app-home-mission-card{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

app-home-mission-card{
    max-height: 320px;
    flex: 1 1 1e-09px;
}

.main-container{
    background: mat-color($background, disabled-button-toggle); 
    height:100%;
    width:100%;  
    overflow:hidden;
}

.content-container{
    color:$accent;
    flex: 1 1 1e-09px;
    overflow:hidden;
    background: linear-gradient(to top, $accent, transparent)!important;
    
}

mat-toolbar{
    background:transparent;
}

.bottom-bar{
    color:white;
    padding:8px;
    height:var(--bottom-nav-height)!important;
    padding-bottom:var(--bottom-nav-padding)!important;
    background: $accent;
    .action-btn{
        line-height:1;
        min-width:40px;
        width:auto;
        padding: 0 8px;
        span{
            display:flex;
            justify-content: center;
        }
    }
}

.top-bar{
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
    height: 16%!important; 
}

.top-action-bar{
    display: none;
    margin-top:8px;
    button{ margin-left: 8px; }
}

@media (min-width: 600px) {
  .bottom-bar { display: none }
  .top-action-bar { display:block }
}
