@import '../../styles/variables';

.main-container, .content-container, app-home-mission-card{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow:hidden;
}

.main-container{
    background: mat-color($background, background);
    height:100%;
    width:100%;  
}

.content-container{
    color:$accent;
    transform:translateY(-50px);
    margin-bottom: -50px;
    padding: 8px 8px 0 8px;
}
