<mat-sidenav-container class="bg-background h-100" *ngIf="config$ | async; let config">

  <mat-sidenav fixedInViewport #drawer *ngIf="config" class="mat-elevation-z4 bg-primary" style="max-width:250px;min-width:200px"
  [attr.role]="config.isXs ? 'dialog' : 'navigation'"
  [mode]="config.isXs ? 'over' : 'side'"
  [opened]="!config.isXs">

    <app-main-side-nav
      [config]="config.sideNavConfig"
      (navItemClicked)="config.isXs ? toggleDrawer() : null">
    </app-main-side-nav> 

  </mat-sidenav>

  <mat-sidenav-content fxLayout="column" style="overflow-x:hidden" class="h-100 bg-primary-light">

    <app-main-top-nav-wrapper [config]="config" (toggleDrawer)="toggleDrawer()">
    </app-main-top-nav-wrapper>

    <!-- h-100 for iOS Safari fix -->
    <div fxFlex style="overflow-y:auto;overflow-x:hidden;position:relative" [@routeAnimation]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>

    <div style="position:absolute;right:0;" class="m-2" *ngIf="config.fabs && config.fabs.length > 0"
      fxLayout="column" fxLayoutGap="4px"
      [style.bottom.px]="bottomNav.element.nativeElement.offsetHeight">  
      <app-button class="fadeInRight" 
        *ngFor="let fab of config.fabs | transformButtons : ButtonTypes.Fab | reverseArray; trackBy: trackByFab" 
        [config]="fab"></app-button>
    </div>

    <app-main-bottom-nav #bottomNav fxHide fxShow.xs class="flex-nav"></app-main-bottom-nav>

  </mat-sidenav-content>

</mat-sidenav-container>

