<mat-sidenav-container class="h-100" *ngIf="config$ | async; let config" style="position: unset!important">

  <mat-sidenav fixedInViewport #drawer *ngIf="config" class="mat-elevation-z4 primary" style="width:202px"
  [attr.role]="config.isXs ? 'dialog' : 'navigation'"
  [mode]="config.isXs ? 'over' : 'side'"
  [opened]="!config.isXs">

    <app-main-side-nav 
      [config]="config.sideNavConfig"
      (navItemClicked)="config.isXs ? toggleDrawer() : null">
    </app-main-side-nav> 

  </mat-sidenav>

  <mat-sidenav-content fxLayout="column" style="overflow-x:hidden;" class="h-100 primary-light">

    <!-- h-100 for iOS Safari fix -->
    <div fxFlex style="position:relative">
      <div class="overflow-hidden h-100" [@routeAnimation]="prepareRoute(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
      </div> 
    </div>

    <app-main-bottom-nav style="z-index:5" class="mat-elevation-z2" fxHide.gt-xs 
      [navigations]="config.bottomNavigations">
    </app-main-bottom-nav>

  </mat-sidenav-content>

</mat-sidenav-container>

