<mat-sidenav-container class="bg-background h-100" *ngIf="config$ | async; let config">

  <mat-sidenav fixedInViewport #drawer class="mat-elevation-z4 bg-primary" style="max-width:250px;min-width:200px"
    [attr.role]="config.isXs ? 'dialog' : 'navigation'"
    [mode]="config.isXs ? 'over' : 'side'"
    [opened]="!config.isXs">
    <app-main-side-nav-content 
      [user]="config.currentUser" 
      (navItemClicked)="toggleDrawer(config.isXs)">
    </app-main-side-nav-content>
  </mat-sidenav>
  

  <mat-sidenav-content fxLayout="column" class="h-100">

    <app-detail-top-nav *ngIf="config.topDetailNavConfig else defaultNav"
      class="flex-nav mat-elevation-z4 slideInDown"
      [config]="config.topDetailNavConfig" [currentUserRole]="config?.currentUser?.role"
      (menuBtnClicked)="toggleDrawer(config.isXs)" >
    </app-detail-top-nav>

    <ng-template #defaultNav>
      <app-main-top-nav class="flex-nav bg-primary" 
        [ngClass]="config.topDefaultNavConfig?.elevationDisabled ? '' : 'mat-elevation-z4'"
        [config]="config.topDefaultNavConfig" [currentUserRole]="config?.currentUser?.role" 
        (menuBtnClicked)="toggleDrawer(config.isXs)" 
       ></app-main-top-nav>
    </ng-template>

    <!-- h-100 for iOS Safari fix -->
    <div  fxFlex style="overflow-y:auto" [@routeAnimation]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>

    <div style="position:absolute;right:0;" class="m-2" *ngIf="config.fabs && config.fabs.length > 0"
      fxLayout="column" fxLayoutGap="4px"
      [style.bottom.px]="bottomNav.element.nativeElement.offsetHeight">  
      <app-button class="fadeInRight" 
        *ngFor="let fab of config.fabs | transformButtons : ButtonTypes.Fab | reverseArray; trackBy: trackByFab" 
        [config]="fab"></app-button>
    </div>

    <app-main-bottom-nav #bottomNav fxHide fxShow.xs class="flex-nav"></app-main-bottom-nav>

  </mat-sidenav-content>

</mat-sidenav-container>

