<app-main-skeleton>

    <app-main-top-nav-bar navbar [config]="navConfig" stylingClass="bg-primary">
    </app-main-top-nav-bar>

    <div class="pl-2 pr-2 max-width" *ngIf="users$ | async else loading; let users">
        <app-list-card *ngFor="let user of users" startIcon="person"
            (click)="goToWeekList(user)"> 
                {{user.firstName + ' ' +user.lastName}}
                <mat-icon rightSide>chevron_right</mat-icon>
        </app-list-card>
        <ng-container *ngIf="users.length == 0" [ngTemplateOutlet]="noUsers"></ng-container>
    </div>  

</app-main-skeleton>

<ng-template #noUsers>
    <div class="w-100 text-center mt-2 mat-h3">Fant ingen ansatte!</div>
</ng-template>

<ng-template #loading>
    <mat-spinner *ngIf="loading$ | async else noUsers" class="center-spinner" color="accent"></mat-spinner>
</ng-template>
