<app-main-skeleton *ngIf="vm$ | async; let vm" [fabs]="vm.fabs">

    <app-main-top-nav-bar navbar [config]="vm.navConfig" >
    </app-main-top-nav-bar>

    <app-selectable-list #selectableList *ngIf="vm.documents" identifier="id" selectedText="Dokument valgt"
        [totalRows]="vm.isXs ? 2 : 4"
        [entities]="vm.documents" 
        [itemTemplate]="documentTemplate"
        selectionText=""
        (selectionChanged)="onSelectionChange($event)"
        (itemClicked)="downloadDocument($event)">
    </app-selectable-list>

</app-main-skeleton>

<ng-template #documentTemplate let-entity>
    <div class="foreground-card text-center mat-elevation-z2 p-2 pt-6 pb-6 m-1">
        <mat-icon [svgIcon]="entity.fileName | fileExtension | fileExtensionIcon" class="scale-150 mb-2"></mat-icon>
        <div>{{ entity.documentType?.name }}</div>

        <div class="mat-caption">Filtype: {{ entity.fileName | fileExtension | uppercase }}</div>
        <div class="mat-caption">Lastet opp {{ entity.updatedAt | date : 'dd.MMM yyyy' }}</div>
    </div>
</ng-template>