<div class="p-2 max-width" *ngIf="vm">

  <mat-grid-list cols="2" rowHeight="3:2" gutterSize="5" class="mat-subheading-2 mb-2">
    <a href="tel:{{ vm.mission.phoneNumber }}">
      <mat-grid-tile class="mat-elevation-z2 bg-foreground" matRipple>
        <span class="text-center">
          <mat-icon class="scale-150">phone</mat-icon><br />
          <span>{{ vm.mission.phoneNumber || 'N/A' }} </span>
        </span>
      </mat-grid-tile>
    </a>
    <a href="https://www.google.com/maps/dir/?api=1&destination={{ vm.mission.address }}&travelmode=driving"
      target="_blank">
      <mat-grid-tile class="mat-elevation-z2 bg-foreground" matRipple>
        <span class="text-center">
          <mat-icon class="scale-150">directions_car</mat-icon><br />
          <span>Veibeskrivelse</span>
        </span>
      </mat-grid-tile>
    </a>
  </mat-grid-list>


  <app-list-card text="Bilder" startIcon="photo_library" [routerLink]="['/oppdrag', vm.mission.id, 'bilder']">
  </app-list-card>
  <app-list-card text="Dokumenter" startIcon="folder" [routerLink]="['/oppdrag', vm.mission.id, 'dokumenter']">
  </app-list-card>
  <app-list-card text="Notater" startIcon="rate_review" [routerLink]="['/oppdrag', vm.mission.id, 'notater']">
  </app-list-card>


</div>