<div class="p-2 max-width" *ngIf="vm">

  <div fxLayout="row" fxLayoutGap="8px" class="mat-subheading-2 mb-2">
    <a href="tel:{{ vm.mission.phoneNumber }}" class="mat-elevation-z2 bg-foreground text-center p-6" fxFlex="50"
      matRipple [routerLink]="['/oppdrag']">
      <mat-icon class="scale-150 mb-1">phone</mat-icon><br />
      <span>{{ vm.mission.phoneNumber || 'N/A' }} </span>
    </a>
    <a href="https://www.google.com/maps/dir/?api=1&destination={{ vm.mission.address }}&travelmode=driving"
      target="_blank" class="mat-elevation-z2 bg-foreground text-center p-6" fxFlex="50" matRipple
      [routerLink]="['/timer']">
      <mat-icon class="scale-150">directions_car</mat-icon><br />
      <span>Veibeskrivelse</span>
    </a>
  </div>

  <app-list-card startIcon="photo_library" [routerLink]="['/oppdrag', vm.mission.id, 'bilder']">Bilder
  </app-list-card>
  <app-list-card startIcon="folder" [routerLink]="['/oppdrag', vm.mission.id, 'dokumenter']">Dokumenter
  </app-list-card>
  <app-list-card startIcon="rate_review" [routerLink]="['/oppdrag', vm.mission.id, 'notater']">Notater
  </app-list-card>


</div>