<app-main-nav>

  <div class="content-container" fxLayout="column">

    <div fxFlex="10" fxLayout="row" fxLayoutAlign="space-between center" >
      <span class="content-container-title">Brukere</span>
      <button (click)="openCreateDialog()" color="primary" *ifRole="[ROLES.Leder]"
        mat-icon-button aria-label="ny">
        <mat-icon class="icon_125">person_add</mat-icon>
      </button>
    </div>
    <mat-divider></mat-divider>
    <mat-nav-list *ngIf="users" class="p-0 content-child-container" fxFlex="90">
      <app-nav-list-item
        *ngFor="let user of users; last as last" [last]="last"
        (click)="(currentUser.role == ROLES.Leder && user.role != ROLES.Leder) ? openEditDialog(user) : ''"
        [config]="{
          mainLine: (user.firstName + ' ' + user.lastName),
          startIcon: 'person',
          endIcon: (currentUser.role == ROLES.Leder && user.role != ROLES.Leder) ? 'edit' : '',
          subLines: [{name: user.phoneNumber || 'Ingen kontaktnummer', icon: 'phone'}]
        }">
      </app-nav-list-item>
    </mat-nav-list>
    <mat-divider></mat-divider>
  </div>

</app-main-nav>

