<div class="p-2 max-width" *ngIf="users$ | async else loading; let users; let index = index">

    <app-user-card *ngFor="let user of users" 
      [user]="user"
      [editButton]="{
        icon: 'edit', 
        allowedRoles: [Roles.Leder], 
        callback: openUserForm, params: [user.userName]
      }"
      [newPasswordButton]="{
        icon: 'vpn_key', 
        colorClass: 'color-accent',
        allowedRoles: [Roles.Leder], 
        callback: openNewPasswordForm, params: [user.userName]
      }">
    </app-user-card>

</div>

<ng-template #loading>
  <mat-spinner class="center-spinner" color="accent"></mat-spinner>
</ng-template>

