<div class="h-100 pl-2 pr-2 max-width" style="overflow:hidden" fxLayout="column" fxLayoutAlign="start stretch">
     
    <p *ngIf="!missions || missions.length == 0" class="m-2">Fant ingen oppdrag</p>

    <cdk-virtual-scroll-viewport itemSize="60" maxBufferPx="800" minBufferPx="800" fxFlex>
        <app-list-card *cdkVirtualFor="let mission of missions; trackBy: trackByFn;" 
            [config]="{startIcon: mission.syncing ? 'chevron_right' : 'home_work', endIcon: mission.finished ? 'check':'chevron_right', panelClass: 'mt-1'}" 
            [routerLink]="['/oppdrag', mission.id, 'detaljer']">{{'(' + mission.id + ') ' + mission.address}}
        </app-list-card>
    </cdk-virtual-scroll-viewport>

</div>