<div class="h-100 pl-1 pr-1 max-width" style="overflow:hidden" fxLayout="column" fxLayoutAlign="start stretch">
  
    <p *ngIf="!missions || missions.length == 0" class="m-2">Fant ingen oppdrag</p>

    <cdk-virtual-scroll-viewport itemSize="56" maxBufferPx="800" minBufferPx="800" fxFlex>
        <ng-container *cdkVirtualFor="let mission of missions; trackBy: trackByFn;">
            <app-list-card startIcon="home_work"
                [endIcon]="mission.finished ? 'check':'chevron_right'"
                [routerLink]="['/oppdrag', mission.id, 'detaljer']">
                <span fxHide.xs>{{'(' + mission.id + ') '}}</span>{{ mission.address }}
                <mat-icon rightSide>{{ mission.finished ? 'check':'chevron_right' }}</mat-icon>
            </app-list-card>
        </ng-container>  
    </cdk-virtual-scroll-viewport>

</div>