<div class="h-100 pl-2 pr-2 max-width" style="overflow:hidden" fxLayout="column" fxLayoutAlign="start stretch">
     
    <p *ngIf="!missions || missions.length == 0" class="m-2">Fant ingen oppdrag</p>

    <cdk-virtual-scroll-viewport itemSize="60" maxBufferPx="800" minBufferPx="800" fxFlex>
        <ng-container *cdkVirtualFor="let mission of missions; trackBy: trackByFn;">
            <app-list-card
                [config]="{
                    startIcon: 'home_work', panelClass: 'mt-1', 
                    endIcon: mission.finished ? 'check':'chevron_right'             
                }" 
                [routerLink]="['/oppdrag', mission.id, 'detaljer']">
                {{'(' + mission.id + ') ' + mission.address}}
            </app-list-card>
        </ng-container>  
    </cdk-virtual-scroll-viewport>

</div>