<mat-sidenav-container>

  <mat-sidenav fixedInViewport #drawer class="mat-elevation-z4 bg-primary" 
    [attr.role]="isXs ? 'dialog' : 'navigation'"
    [mode]="isXs ? 'over' : 'side'"
    [opened]="!isXs">
    <app-main-side-nav-content 
      [user]="currentUser$ | async" 
      (navItemClicked)="toggleDrawer()"
      (hasLoggedOut)="handleLogout()">
    </app-main-side-nav-content>
  </mat-sidenav>
  

  <mat-sidenav-content *ngIf="config$ | async; let config" ngClass.xs="bottom-toolbar-padding">

    <app-main-top-nav [config]="config" (menuBtnClicked)="toggleDrawer()"></app-main-top-nav>
    
    <div class="main_content"
      [ngClass]="config.altNav ? 'main_content_height_alt' : 'main_content_height_main'">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>

<app-main-bottom-nav fxHide fxShow.xs [openTimesheetCount]="openTimesheetCount$ | async"></app-main-bottom-nav>
