@import '../../../../variables';

@mixin nav {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color:$primary-dark;
  padding:0 8px 0 8px !important;
}

.mat-drawer-container {position: unset!important;}//Fix for bug on iOs

.bottom-toolbar-padding{padding-bottom:($bottom-nav-height) * 1px;}

mat-sidenav-container{
  height: 100%;
  z-index:3;
}

.main_content{
  position:sticky;
  top:0;
  z-index:1;
  overflow:auto;
  background:$background-color;
}

.main_content_height_alt{height:calc(100% - (#{$alt-nav-height} * 1px));}

.main_content_height_main{height:calc(100% - (#{$main-nav-height} * 1px));}


