@import '../../../../variables';

@mixin nav {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color:$primary-dark;
  padding:0 8px 0 8px !important;
}

.main-nav-title{
  margin-right:auto;
  margin-left:$content-margin * 1px;
}
.mat-drawer-container { //Fix for bug on iOs
  position: unset!important;
}

mat-sidenav-container {
  height: 100%;
  z-index:3;
}

.toolbar-padding{
  padding-bottom:$bottom-nav-height * 1px;
}

mat-sidenav-container{
  mat-sidenav {
    width: $sidenav-width * 1px;
    background-color:$primary;
    z-index:3;
    mat-nav-list{
      .bottom-list{
        position: absolute;
        bottom:0;
        width:100%;
      } 
    }
    mat-toolbar {
      height:$main-nav-height * 1px!important;
      background:$primary-dark!important;
      @include small-header;
      color:white;
    }
  }

  mat-sidenav-content {
    background-color:$primary;
    mat-toolbar {
        color:white;
        padding:0;
    }
  }
}

.mat-list-base .mat-list-item{
  color:white;
}



.alt_nav{
  @include nav;
  height:$alt-nav-height * 1px!important;
}

.main_nav{
  @include nav;
  min-height:$main-nav-height * 1px!important;
  max-height:$main-nav-height * 1px!important;
}

.main_content{
  position:sticky;
  top:0;
  z-index:1;
  background:$background-color;
  overflow:auto;
}

.main_content_height_alt{
  height:$details-container-height;
}

.main_content_height_main{
  height:$content-container-height;
}

.alt_nav_row{
  height:auto!important;
  padding-left:$content-margin * 4px;
}


