<mat-sidenav-container>

  <mat-sidenav fixedInViewport #drawer
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">

    <mat-toolbar fxLayout="column" fxLayoutAlign="end start">

      <span style="line-height:1"
        [ngClass]="(conSub$ | async) ? 'color-green' : 'color-warn'">
        {{ (conSub$ | async) ? 'Tilkoblet internett' : 'Frakoblet internett' }}
      </span>

      <span>{{ user.firstName }} {{ user.lastName }}</span>
    </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item (click)="toggleDrawer()" [routerLink]="['/hjem']" [routerLinkActive]="['active']">
        <mat-icon mat-list-icon>home</mat-icon>
        <p mat-line>Hjem</p>
      </a>
      <mat-divider class="mid-divider"></mat-divider>
      <a mat-list-item (click)="toggleDrawer()" [routerLink]="['/oppdrag']" [routerLinkActive]="['active']">
        <mat-icon mat-list-icon>view_list</mat-icon>
        <p mat-line>Oppdrag</p>
      </a>
      <ng-container *ifRole="[ROLES.Leder, ROLES.Mellomleder]">
        <mat-divider class="mid-divider"></mat-divider>
        <a mat-list-item (click)="toggleDrawer()" [routerLink]="['/oppdragsgivere']" [routerLinkActive]="['active']">
          <mat-icon mat-list-icon>work</mat-icon>
          <p mat-line>Oppdragsgivere</p>
        </a>
        <mat-divider class="mid-divider"></mat-divider>
        <a mat-list-item (click)="toggleDrawer()" [routerLink]="['/brukere']" [routerLinkActive]="['active']">
          <mat-icon mat-list-icon>people</mat-icon>
          <p mat-line>Brukere</p>
        </a>
      </ng-container>
      <mat-divider></mat-divider>
      <span style="position: absolute;bottom:0;width:100%;">
        <mat-divider></mat-divider>
        <a mat-list-item (click)="toggleDrawer()" [routerLink]="['/profil']" [routerLinkActive]="['active']">
          <mat-icon mat-list-icon>person</mat-icon>
          <p mat-line>Profil</p>
        </a>
        <mat-divider class="mid-divider"></mat-divider>
        <a mat-list-item (click)="handleLogout()">
          <mat-icon mat-list-icon>power_settings_new</mat-icon>
          <p mat-line>Logg ut</p>
        </a>
      </span>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar  [ngClass]="config.altNav ? 'alt_nav' : 'main_nav'">

      <mat-toolbar-row class="p-0">
        <ng-container *ngIf="!config.altNav else altNav">

          <ng-container *ngIf="config.menuBtnEnabled else backBtn">
            <button
              type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="toggleDrawer()"
              *ngIf="isHandset$ | async">
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
          </ng-container>

          <ng-template #backBtn>
            <button (click)="this.backEvent.emit(true)"
             mat-icon-button aria-label="Tilbake">
                <mat-icon class="icon_150">chevron_left</mat-icon>
            </button>
          </ng-template>

          <span class="main-nav-title" [ngClass]="(isHandset$ | async) ? '' : 'ml-3'" [routerLink]="['/hjem']">{{ this.config.title || 'Bj Bygg & Eiendom'}}</span>
        </ng-container>

        <ng-template #altNav>
          <span style="margin-right:auto;">

            <button (click)="this.backEvent.emit(true)"
             mat-icon-button aria-label="Tilbake">
                <mat-icon class="icon_150">chevron_left</mat-icon>
            </button>

            <ng-container *ngIf="config.subTitle || config.subIcon">
              <mat-icon>{{ config.subIcon }}</mat-icon>
              <small>{{ config.subTitle }}</small>
            </ng-container>

          </span>
        </ng-template>

        <mat-spinner *ngIf="loadingService.loading$ |  async" diameter="24"></mat-spinner>

        <ng-container *ngIf="config.searchBarEnabled">
          <button (click)="toggleSearchBar()" mat-icon-button aria-label="Cancel search">
            <mat-icon>search</mat-icon>
          </button>

          <app-search-bar [isHidden]="searchBarHidden" (hide)="toggleSearchBar()" (searchEvent)="this.searchEvent.emit($event)"></app-search-bar>
        </ng-container>

        <app-vert-menu [actions]="config.vertActions" (event)="this.vertEvent.emit($event)"></app-vert-menu>

      </mat-toolbar-row>
      <mat-toolbar-row *ngIf="config.altNav"  class="alt_nav_row">
        <mat-icon *ngIf="config.icon">{{ config.icon }}</mat-icon>  &nbsp;
        <span [innerHTML]="config.title"></span>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="main_content">
      <ng-content></ng-content>
    </div>


    <app-bottom-nav *ngIf="config.bottomNavEnabled" [isHandset$]="isHandset$"></app-bottom-nav>

  </mat-sidenav-content>

</mat-sidenav-container>
