<app-main-skeleton navTogglerDisabled=true>

    <app-main-top-nav-bar navbar [config]="navConfig$ | async">
    </app-main-top-nav-bar>

    <ng-container *ngIf="(summaries$ | async) else loading; let summaries">
        <app-timesheet-admin-week-list-view *ngIf="summaries?.length else loading"
            [summaries]="summaries"
            [isXs]="isXs$ | async"
            (timesheetsConfirmed)="confirmTimesheets($event)"
            (weekSelected)="selectWeek($event)">
        </app-timesheet-admin-week-list-view>
    </ng-container>

</app-main-skeleton>

<ng-template #noContent>
    <div class="w-100 text-center mt-2 mat-h3">Fant ingen timer!</div>
</ng-template>

<ng-template #loading>
    <mat-spinner *ngIf="loading$ | async else noContent" class="center-spinner" color="accent"></mat-spinner>
</ng-template>