<div class="container">

    <div class="img-container text-center">
        <img src="https://i.ibb.co/BGkBdNs/image.png" />
    </div>

    <mat-toolbar *ngIf="config" class="toolbar-slim color-foreground overlay overlay-top">

        <app-icon-button *ngIf="config.backFn else menuBtn" [config]="{
                    callback: config.backFn, 
                    params: config.backFnParams,
                    aria: 'Tilbake',icon: 'chevron_left', iconSizeClass: 'scale-150'
                }">
        </app-icon-button>

        <ng-template #menuBtn>
            <button mat-icon-button aria-label="Toggle sidenav" (click)="onMenuButtonClick()" fxHide fxShow.xs>
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
        </ng-template>

        <span class="mr-auto">
            <mat-icon *ngIf="config.subIcon" class="scale-75">{{ config.subIcon }}</mat-icon>
            <span class="ml-1 mat-caption">{{ config.subTitle }}</span>
        </span>

        <mat-spinner *ngIf="loading$ |  async" diameter="24" color="accent"></mat-spinner>

        <app-icon-button *ngFor="let button of config.buttons" [config]="button"></app-icon-button>

        <button mat-icon-button *ngIf="config.bottomSheetButtons?.length"
            (click)="openBottomSheet(config.bottomSheetButtons)">
            <mat-icon>more_vert</mat-icon>
        </button>

    </mat-toolbar>

    <mat-toolbar *ngIf="config.multiLineTitle && config.multiLineTitle.length > 0"
        class="overlay overlay-bottom toolbar-slim color-foreground slideInDown">
        <span class="ml-6 mb-2 overlay-color">
            <ng-container *ngFor="let line of config.multiLineTitle; let last =  last">
                {{ line }}<br *ngIf="!last" />
            </ng-container>
        </span>
    </mat-toolbar>


</div>