.mission-bar{
    border-radius:4px!important;
    padding:2px!important; 
    text-align:center;
    transition: height 200ms linear;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
}