// Import material theming functions
@import '~@angular/material/theming';

// Copy the palettes from your selected theme (usually theme.scss).
$app-primary: mat-palette($mat-amber, A200, A150, A200);
$app-accent:  mat-palette($mat-amber, A200, A150, A200);
$app-warn:    mat-palette($mat-red, A200, A150, A100);
// Create your Sass color vars (will be available in all the project)
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);
$green: mat-color($mat-green, 300);

$kbtv-client-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);

$background: map-get($kbtv-client-theme, background);
$foreground: map-get($kbtv-client-theme, foreground);

$bg-black: mat-color($background,"status-bar");
$bg-highlight:mat-color($background,"background");
$bg-content: mat-color($background,"app-bar");
$bg-card: mat-color($background,"card");
$bg-app-bar: mat-color($background,"card");

$bg-dialog: mat-color($background,"unselected-chip");

$content-margin: 8;
$content-width: calc(100% - (#{$content-margin} * 2 * 1px));
$bottom-nav-height: 44;
$main-nav-height: 44;
$alt-nav-height: $main-nav-height + 64;
$tab-header-height: 48;
$sidenav-width: 200;
$content-container-height: calc(100vh - ((#{$bottom-nav-height} + #{$main-nav-height}) * 1px));
$details-container-height: calc(100vh - ((#{$bottom-nav-height} + #{$alt-nav-height} + #{$tab-header-height} + #{$content-margin * 2}) * 1px));
$font-size-small:14px;

$timesheet-menu-height: 93;
$timesheet-week-list-height:calc(100vh - ((#{$timesheet-menu-height} + #{$bottom-nav-height} + #{$main-nav-height}) * 1px));

@mixin full-page-container{
  padding: $content-margin * 1px!important;
  height:$content-container-height !important;
  width:100%;
}

@mixin content-container{
  margin: $content-margin * 1px!important;
}

@mixin small-header{
  font-weight: 500;
  font-size:$font-size-small;
}


