/* You can add global styles to this file, and also import other style files */
@import './variables';
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham-dark.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";

html, body { height: 100%;}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow:hidden;
  background-color:$bg-content!important;
}

.primary-border{
  border: 1px solid $primary!important;;
}

.card-container{
  //width:$content-width!important;
  overflow:auto;
  position:sticky;
  margin: $content-margin  * 1px !important;
  background-color:mat-color($background,"app-bar")!important;
}

.mat-tab-header{
  background-color:$bg-app-bar;
  position:sticky!important;
  width:100%;
  left:0;
  z-index:2;
}

.active{
  color: $primary !important;
}

.active-icon{
  color: $primary !important;
}

.p-0{
  padding:0 !important;
}

.hide{
  display:none!important;
}

.action_fab{
  position:absolute!important;
  right: $content-margin * 1px!important;
  bottom: $content-margin * 1px!important;
  z-index:2;
}

.mat-icon {
  vertical-align: middle!important;
}

.icon_150{
  transform:scale(1.5);
}
.icon_125{
  transform:scale(1.25);
}
.icon_75{
  transform:scale(.75);
}

.image_viewer_dialog{
  max-width:none!important;
}

.mat-dialog-container{
  background-color:$bg-dialog;
  padding:0!important;
}

.image_viewer_dialog .mat-dialog-container{
  background-color:mat-color($background,"status-bar")!important;
}

.notification{
  margin-bottom:($bottom-nav-height + $content-margin) * 1px!important;
  background-color:mat-color($background,"unselected-chip");
  color:mat-color($foreground, "base");
}

.notification-error{
  margin-bottom:($bottom-nav-height + $content-margin) * 1px!important;
  background-color:$warn !important;
  color:mat-color($background, "background");
}

.bg-0{
  background-color:mat-color($background,"status-bar");
  color:mat-color($foreground, "base");
}

.bg-1{
  background-color:mat-color($background,"app-bar");
  color:mat-color($foreground, "base");
}
.bg-2{
  background-color:mat-color($background,"background");
  color:mat-color($foreground, "base");
}
.bg-3{
  background-color:mat-color($background,"card");
  color:mat-color($foreground, "base");
}
.bg-4{
  background-color:mat-color($background,"unselected-chip");
  color:mat-color($foreground, "base");
}
.bg-dialog{
  background-color:$bg-dialog;
  color:mat-color($foreground, "base");
}

.color-primary{
  color:$primary!important;
}

.color-green{
  color:$green;
}

.color-warn{
  color:$warn;
}

.ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.static-page-container{
  @include full-page-container;
}

.static-page-content{
  overflow:auto;
}

.form-header{
  @include small-header;
  color: rgb(255, 255,255,0.7);
  margin-bottom:$content-margin * 1px;
}

.content-header{
  @include small-header;
  color: rgb(255, 255,255,0.7);
  margin-left:$content-margin * 2px;
}

.content-container{
  @include content-container;
}

.app-form{
  max-width:600px;
  padding:$content-margin * 1px;
  background-color:mat-color($background,"app-bar");
  color:mat-color($foreground, "base");
  height:auto;
}

.form-container{
  @include content-container;
  padding: $content-margin * 1px!important;
}

.mid-divider{
   margin-left:$content-margin * 2px!important;
   width:calc(100% - (#{$content-margin} * 4px))!important;
}

.center-spinner{
  margin:$content-margin * 2px auto;
}

.mat-menu-content {
  background-color:$bg-dialog!important;
}

.text-faded{
  color: rgb(255, 255,255,0.7);
}


//Owl Date Time Picker Styling
.owl-dt-dialog-container{
  background:$bg-dialog;
  .owl-dt-container-info{
    color:#FFF;
    .owl-dt-container-info-active{
      color:$primary;
    }
  }
  .owl-dt-control-button{
    color:#FFF;
  }
}

.owl-dt-calendar-table{
  .owl-dt-calendar-header{
    color:#FFF;
  }
  .owl-dt-calendar-cell{
    color:#FFF;
    .owl-dt-calendar-cell-today{
      border-color:$primary;
      box-shadow: none!important;
    }
    .owl-dt-calendar-cell-selected{
      background:$primary;
      color:$bg-black;
    }
  }

}

//Spinner primarily for buttons
@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid $bg-dialog;
  border-top-color: $primary;
  animation: spinner .8s linear infinite;
}
