/* You can add global styles to this file, and also import other style files */
@import './variables';
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";

html, body { height: 100%;}
body {font-family: Roboto, "Helvetica Neue", sans-serif;overflow:hidden;}

.bg-primary{background:$primary!important;color:white;}
.bg-primary-light{background:$primary-light!important;color:black;}
.bg-primary-dark{background:$primary-dark!important;color:white;}

.color-primary{color:$primary!important;}
.color-primary-light{color:$primary-light!important;}
.color-primary-dark{color:$primary-dark!important;}

.bg-accent{background:$accent!important;color:black;}
.bg-accent-light{ background:$accent-light!important;color:black;}

.color-accent{color:$accent!important;}
.color-accent-light{color:$accent-light!important;}

.bg-warn{background:$warn!important;color:black;}
.bg-warn-light{background:$warn-light!important;color:black;}
.color-warn{color:$warn;}

.bg-success{background:$success!important;color:black;}
.bg-success-light{background:$success-light!important;color:black;}
.color-success{color:$success;}

.bg-background{background:$background-color;color:black;}
.bg-foreground{background:$foreground-color;color:black;}

.border-primary{border: 1px solid $primary!important;}
.border-accent{border: 1px solid $accent!important;}

.active{color: $accent !important;}

.flex-spacer{
  flex: 1 1 auto;
}
.action_fab{
  position: fixed!important;
  right: $content-margin * 1px!important;
  bottom: ($content-margin + $bottom-nav-height) * 1px;
  z-index:2;
  background:$accent;
}
.icon_150{
  transform:scale(1.5);
}
.icon_125{
  transform:scale(1.25);
}
.icon_75{
  transform:scale(.75);
}
.image_viewer_dialog{
  max-width:none!important;
}
.image_viewer_dialog .mat-dialog-container{
  background-color:black!important;
}
.notification{
  margin-bottom:($bottom-nav-height + $content-margin) * 1px!important;
  background-color:mat-color($background,"unselected-chip");
  color:mat-color($foreground, "base");
}
.notification-error{
  margin-bottom:($bottom-nav-height + $content-margin) * 1px!important;
  background-color:$warn !important;
  color:mat-color($background, "background");
}
.ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.static-page-container{
  padding: $content-margin * 1px!important;
  height:100% !important;
  width:100%;
}
.static-page-content{
  overflow:auto;
}
.sticky-top{
  @include sticky-top;
}
.app-card{
  max-width:600px;
  //min-width:280px;
  .mat-card-header-text{
    margin:0;
  }
}

.mid-divider{
   margin-left:$content-margin * 2px!important;
   width:calc(100% - (#{$content-margin} * 4px))!important;
}
.center-spinner{
  margin:$content-margin * 2px auto;
}

.owl-dt-calendar-table{
  .owl-dt-calendar-cell{
    .owl-dt-calendar-cell-today{
      border-color:$primary;
      box-shadow: none!important;
    }
    .owl-dt-calendar-cell-selected{
      background:$primary;
    }
  }
  .owl-dt-calendar-cell-in-range{
    background:$primary-light!important;
  }
}
//Ag material
.mat-button-toggle-group{
  .mat-button-toggle-appearance-standard {
    .mat-button-toggle-label-content {
      line-height: 38px!important;
    }
  }
}
.mat-tab-group{
  position:sticky!important;
  width:100%;
  .mat-tab-header{
    background-color:$primary-dark;
    color:white!important;
    position:sticky!important;
    width:100%;
    left:0;
    @include sticky-top;
    .mat-tab-label-content{
      color:white
    }
  }
}
.mat-icon{
  vertical-align: middle!important;
}
.mat-dialog-container{
  //background:rgba(255,255,255,0)!important;
  padding:0!important;
}

//Spinner primarily for buttons
@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid $background-color;
  border-top-color: $primary;
  animation: spinner .8s linear infinite;
}

