<style>
  mat-toolbar{ padding: 8px; height: var(--bottom-nav-height)!important; padding-bottom:var(--bottom-nav-padding)!important;}

  .menu-btn { display: none }

  @media (max-width: 599px) {
      .menu-btn {
        display: block;
      }
  }

</style>
<mat-toolbar color="accent" class="mat-elevation-z3">

  <button mat-icon-button aria-label="Toggle sidenav" (tap)="toggleDrawer()" class="menu-btn">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>

  <span class="mr-auto"></span>

  <app-optimistic-loading-spinner></app-optimistic-loading-spinner>

  <button mat-button appAddToHomeScreen>Legg til app</button>

  <button mat-icon-button (tap)="refresh()">
    <mat-icon>update</mat-icon>
  </button>

</mat-toolbar>