<app-main-skeleton disableElevation="true" overlayMode="true">

  <app-main-top-nav-bar navbar [config]="navConfig$ | async" >
  </app-main-top-nav-bar>

  <app-user-timesheet-week-view [vm]="vm$ | async" style="height:100%;display:block"
    (swiperight)="previousWeek()" 
    (swipeleft)="nextWeek()"
    (timesheetClicked)="$event?.status === 2 ? openTimesheetCard($event?.id) : openTimesheetForm($event?.id)"
    (labelClicked)="openTimesheetForm(null, {date: $event})">
  </app-user-timesheet-week-view>

</app-main-skeleton>

