
  <div class="content-container mat-elevation-z6" fxLayout="column">
    <mat-nav-list>
        <mat-list-item [routerLink]="['/oppdrag']">
          <mat-icon mat-list-icon>view_list</mat-icon>
          <span mat-line>Oppdrag</span>
          <mat-icon>chevron_right</mat-icon>
          <mat-divider class="mid-divider"></mat-divider>
        </mat-list-item>

        <mat-list-item [routerLink]="['/timer']">
          <mat-icon mat-list-icon>timer</mat-icon>
          <span mat-line>Timeliste</span>
          <mat-icon>chevron_right</mat-icon>
        </mat-list-item>

    </mat-nav-list>
  </div>

  <div class="content-container mat-elevation-z6" fxLayout="column">

    <mat-nav-list>
      <!-- <mat-list-item [routerLink]="['/oppdragsgivere']">
        <mat-icon mat-list-icon>work</mat-icon>
        <span mat-line>Oppdragsgivere</span>
        <mat-icon>chevron_right</mat-icon>
        <mat-divider class="mid-divider"></mat-divider>
      </mat-list-item> -->

      <mat-list-item [routerLink]="['/data']">
        <mat-icon mat-list-icon>dns</mat-icon>
        <span mat-line>Administrer data</span>
        <mat-icon>chevron_right</mat-icon>
      </mat-list-item>
      <mat-list-item [routerLink]="['/brukere']">
        <mat-icon mat-list-icon>assessment</mat-icon>
        <span mat-line>Timestatistikk</span>
        <mat-icon>chevron_right</mat-icon>
        <mat-divider class="mid-divider"></mat-divider>
      </mat-list-item>
      <mat-list-item [routerLink]="['/brukere']">
        <mat-icon mat-list-icon>people</mat-icon>
        <span mat-line>Brukere</span>
        <mat-icon>chevron_right</mat-icon>
        <mat-divider class="mid-divider"></mat-divider>
      </mat-list-item>
    </mat-nav-list>

  </div>

  <div class="content-container mission-card mat-elevation-z6" fxLayout="column">
    <span class="content-header">Sist besøkte oppdrag</span>
    <div class="static-page-content" fxFill>

      <p *ngIf="!newestMissions"><em>Laster inn oppdrag...</em></p>
      <app-mission-list-view [missions]="missionHistory$ | async"></app-mission-list-view>
    </div>

  </div>
