@import '../../variables';

.content-container mat-nav-list mat-list-item  {
  background-color:$bg-card;
}

.mission-card  {
  padding:$content-margin * 1px 0;
  background-color:$bg-card;
}

.content-container mat-nav-list  {
  padding:0!important;
}
