<div class="app-card mat-elevation-z2 m-1"
    fxLayout="row" fxLayoutAlign="start stretch">

  <div fxLayout="column" fxLayoutAlign="center center" matRipple
    style="position:relative;width:86px!important"
    [ngClass]="swipeButton.colorClass" 
    (press)="handleSwipeBtnClick($event)">
        <mat-icon class="scale-125">{{ swipeButton.icon }}</mat-icon>
  </div>

  <div class="bg-foreground" style="position:relative;z-index:1!important" fxFlex
    matRipple [matRippleDisabled]="!navButton"
    (click)="handleNavClick($event)"
    [@openCloseConfirm]="lockPosition || (isClosed ? 'close' : 'open')"
    (swiperight)="hideSwipeAction($event, false)" (swipeleft)="hideSwipeAction($event, true)">
    <ng-content>
      
    </ng-content>
  </div>

</div>