<form *ngIf="form" [formGroup]="form" fxLayout="column"  class="m-3">
    <mat-form-field>
        <input matInput placeholder="Navn" formControlName="name">
        <mat-error *ngIf="this.name.invalid">
            Navn kan være på maks 45 tegn.
        </mat-error>
    </mat-form-field>

    <app-form-actions 
        [submitDisabled]="form.pristine || form.invalid" 
        [submitText]="isCreateForm ? 'Legg til' : 'Oppdater'" 
        (submitted)="onSubmit()" 
        (canceled)="formSubmitted.emit(null)">
    </app-form-actions>

</form>