<mat-sidenav-container class="sidenav-container">

  <mat-sidenav class="sidenav" fixedInViewport
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  [mode]="(isHandset$ | async) ? 'over' : 'side'"
  [opened]="(isHandset$ | async) === false">

    <mat-toolbar color="accent" style="height:72px">

      Meny

    </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item [routerLink]="['/hjem']" [routerLinkActive]="['active']">Hjem</a>
      <a mat-list-item [routerLink]="['/oppdrag']" [routerLinkActive]="['active']">Oppdrag</a>
      <a mat-list-item [routerLink]="['/oppdragsgivere']" [routerLinkActive]="['active']">Oppdragsgivere</a>
      <a mat-list-item [routerLink]="['/brukere']" [routerLinkActive]="['active']">Brukere</a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['/profil']" [routerLinkActive]="['active']">Profil</a>
      <a mat-list-item (click)="handleLogout()">Logg ut</a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary" class=" p-0">

      <mat-toolbar-row class="p-0" style="height:auto!important">
        <span style="margin-right:auto;">
          <button (click)="this.event.emit('back')"
           mat-icon-button aria-label="Tilbake">
              <mat-icon class="icon_150">chevron_left</mat-icon>
          </button>
          <ng-container *ngIf="subTitle || subIcon">
            <mat-icon color="accent">{{ subIcon }}</mat-icon>
            <small>{{ subTitle }}</small>
          </ng-container>
        </span>
          <app-vert-menu [actions]="actions" (event)="this.event.emit($event)"></app-vert-menu>
      </mat-toolbar-row>

      <mat-toolbar-row style="height:auto!important;padding-left:40px">
          <mat-icon *ngIf="icon">{{ icon }}</mat-icon>  &nbsp;
          <span class="nested_nav_title" [innerHTML]="title">
          </span>
      </mat-toolbar-row>

    </mat-toolbar>

    <ng-content></ng-content>

    <app-bottom-nav *ngIf="botNavEnabled"></app-bottom-nav>

  </mat-sidenav-content>

</mat-sidenav-container>



