<mat-tab-group mat-stretch-tabs>

  <mat-tab label="Generelt">
    <div class="card-container">
      <mat-nav-list *ngIf="missionDetails" class="p-0">

        <h3 mat-subheader *ngIf="missionDetails.missionReports">Informasjon</h3>
        <mat-list-item>
          <mat-icon mat-list-icon>phone</mat-icon>
          <a mat-line href="tel:{{ missionDetails.mission.phoneNumber }}">{{ missionDetails.mission.phoneNumber || 'Ingen telefonnummer' }}</a>
          <p mat-line *ngIf="missionDetails.mission.phoneNumber">Trykk for å ringe </p>
          <mat-icon>open_in_new</mat-icon>
          <mat-divider [inset]="true"></mat-divider>
        </mat-list-item>

        <mat-list-item *ngIf="missionDetails.mission.address">
          <mat-icon mat-list-icon>directions_car</mat-icon>
          <a mat-line href="https://www.google.com/maps/dir/?api=1&destination={{ missionDetails.mission.address }}&travelmode=driving" target="_blank">Veibeskrivelse</a>
          <p mat-line>Trykk for å åpne kart</p>
          <mat-icon >open_in_new</mat-icon>
        </mat-list-item>
        <mat-divider></mat-divider>

        <h3 mat-subheader *ngIf="missionDetails.missionReports && missionDetails.missionReports.length != 0">Rapporter</h3>
        <mat-list-item *ngFor="let report of missionDetails.missionReports; last as last">
          <mat-icon mat-list-icon>description</mat-icon>
          <a mat-line href="{{ report.fileURL }}">{{ report.missionReportType.name }}</a>
          <p mat-line>{{ report.createdAt | date }}</p>
          <mat-icon class="color-green">cloud_download</mat-icon>
          <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
        </mat-list-item>
        <mat-divider></mat-divider>

    </mat-nav-list>
    </div>
  </mat-tab>

  <mat-tab label="Bilder"  *ngIf="missionDetails">
    <div class="image-container">
      <app-image-list [images]="missionDetails.missionImages" (imageDeleted)="this.imageDeleted.emit($event)"></app-image-list>
    </div>

  </mat-tab>

  <mat-tab label="Notater">
    <div class="card-container">
      <app-mission-note-list
        [missionId]="missionDetails.mission.id"
        [notes]="missionDetails.missionNotes"
        (loadNoteDetails)="loadNoteDetails.emit($event)"
        (deleteNote)="deleteNote.emit($event)"
        (editNote)="editNote.emit($event)">
      </app-mission-note-list>
    </div>
  </mat-tab>

</mat-tab-group>

<button color="primary"
    *ifRole="[ROLES.Leder, ROLES.Ansatt, ROLES.Mellomleder]"
    mat-mini-fab aria-label="ny"
    class="action_fab"
    (click)="imageInput.click()">
    <mat-icon>camera_enhance</mat-icon>
</button>

<input type="file" style="display:none" multiple (change)="this.imagesUploaded.emit($event.target.files)" #imageInput>
