@import '../../../../variables';

.mat-tab-label {
  background-color:#FFF!important;
}

::ng-deep .mat-tab-body-wrapper{
  margin:0!important;
  position:sticky!important;
  overflow:auto!important;
  height:calc(100% - #{$tab-header-height} * 1px)!important;
}

