<app-inner-nav title="Oppdragsgivere" [buttons]="innerNavButtons">
  <mat-spinner *ngIf="!employers" class="center-spinner color-accent"></mat-spinner>
  <mat-nav-list *ngIf="employers" class="p-0">
    <app-nav-list-item *ngFor="let employer of employers; last as last"
      (click)="(currentUser.role == Roles.Leder) ? editEmployer(employer.id) : ''" [last]="last"
      [config]="{mainLine: employer.name, startIcon: 'work', endIcon: (currentUser.role == Roles.Leder) ? 'edit' : '', subLines: [
        {name: employer.phoneNumber || 'Ingen kontaktnummer', icon: 'phone'},
        {name: employer.address || 'Ingen addresse', icon: 'home'}
      ]}">
    </app-nav-list-item>
  </mat-nav-list>
</app-inner-nav>