<form *ngIf="passwordForm" [formGroup]="passwordForm" class="app-form" fxLayout="column">

<mat-form-field>
    <input matInput placeholder="Nåværende passord"  type="password" formControlName="oldPassword">
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="Nytt passord"  type="password" formControlName="password">
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="Gjenta nytt passord"  type="password" formControlName="confirmPassword">
</mat-form-field>
<mat-error *ngIf="this.error">
  {{ this.error }}
</mat-error>
<br />
<button (click)="onSubmit()" [disabled]="this.passwordForm.invalid" mat-raised-button color="primary">Lagre</button>

</form>
