<form *ngIf="form" [formGroup]="form" fxLayout="column" class="m-3">
  <mat-form-field>
    <input matInput #title placeholder="Tittel" formControlName="title">
    <mat-error *ngIf="title.invalid">
      Tittel er på maks 40 tegn.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" #content cdkAutosizeMinRows="4"
      placeholder="Innhold" formControlName="content" required>
        </textarea>
    <mat-hint>{{content.value.length}} / 400 tegn</mat-hint>
    <mat-error *ngIf="content.invalid">
      Innhold er ett obligatorisk felt på maks 400 tegn.
    </mat-error>
  </mat-form-field>
  <br />
  <mat-checkbox formControlName="pinned">Viktig?</mat-checkbox>
  <br />

  <button appHttpCommandButton mat-raised-button class="w-100" color="primary" 
    [disabled]="form.invalid || form.pristine"
    (click)="onSubmit()">
    {{ isCreateForm ? 'Legg til' : 'Oppdater' }}  
  </button>

</form>