<form *ngIf="form" [formGroup]="form" fxLayout="column" class="m-3">
  <mat-form-field>
    <input matInput #title placeholder="Tittel" formControlName="title">
    <mat-error *ngIf="title.invalid">
      Tittel er på maks 40 tegn.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" #content cdkAutosizeMinRows="4"
      placeholder="Innhold" formControlName="content" required>
        </textarea>
    <mat-hint>{{content.value?.length}} / 400 tegn</mat-hint>
    <mat-error *ngIf="content.invalid">
      Innhold er ett obligatorisk felt på maks 400 tegn.
    </mat-error>
  </mat-form-field>
  <br />
  <mat-checkbox formControlName="pinned">Viktig?</mat-checkbox>
  <br />

  <app-form-actions 
    [submitDisabled]="form.pristine || form.invalid" 
    [submitText]="isCreateForm ? 'Legg til' : 'Oppdater'" 
    (submitted)="onSubmit()" 
    (canceled)="formSubmitted.emit(null)">
  </app-form-actions>

</form>