<app-main-skeleton>

  <app-main-top-nav-bar navbar>
    Brukere
  </app-main-top-nav-bar>

  <ng-container *ngIf="(users$ | async) else loading; let users;">
    <div class="pl-1 pr-1" *ngIf="users.length else loading;">
      <ng-container *ngFor="let user of users; trackBy: trackByUser;"> 

        <app-user-card
          [user]="user"
          [editButton]="getEditButton(user.userName)"
          [newPasswordButton]="getNewPasswordButton(user.userName)">
        </app-user-card>
        
        <mat-divider></mat-divider>

      </ng-container>
    </div>
  </ng-container>
  <app-bottom-action-bar bottombar
    [fab]="actionFab">
  </app-bottom-action-bar>

</app-main-skeleton>

<ng-template #loading>
  <app-fetching-model-content modelProp="users">
  </app-fetching-model-content>
</ng-template>
