<style>::ng-deep .week-view-bottom-bar > mat-toolbar { box-shadow: none } </style>
<app-main-skeleton contentWrapperClass="bottom-bar-padding">

  <app-main-top-nav-bar navbar *ngIf="titles$ | async; let titles">
      <span>{{ titles.title }}</span>
      <span class="mat-caption ml-1">{{ titles.subTitle }}</span>
  </app-main-top-nav-bar>

  <app-user-timesheet-week-view [vm]="vm$ | async"
    (swiperight)="previousWeek()" 
    (swipeleft)="nextWeek()"
    (timesheetClicked)="$event?.status === 2 ? openTimesheetCard($event?.id) : openTimesheetForm($event?.id)"
    (labelClicked)="openTimesheetForm(null, { dateTime: { date: $event } } )">
  </app-user-timesheet-week-view>

  <app-bottom-action-bar bottombar class="week-view-bottom-bar" [actions]="bottomActions">
  </app-bottom-action-bar>

</app-main-skeleton>

