<style>
.list-item{ 
    font-size: 15px; font-weight: 500; padding: 16px ;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center flex-start;
    align-items: center;
}
.list-item-content{
    flex: 1 1 0%;
    box-sizing: border-box;
}
</style>
<span class="bg-card list-item" 
    matRipple [matRippleDisabled]="rippleDisabled"> 

    <ng-content select="[left-side]"></ng-content>

    <span class="list-item-content ml-5 ellipsis">
        <ng-content></ng-content>
    </span>    
    
    <ng-content select="[right-side]"></ng-content>
  
</span>