<app-main-top-nav *ngIf="vm$ | async; let vm" [config]="vm.navConfig">
    <app-selectable-list #imageList 
        *ngIf="vm.content.images" identifier="id"
        [totalRows]="vm.content.isXs ? 2 : 4"
        [entities]="vm.content.images" 
        [itemTemplate]="imgTemplate"
        (selectionChanged)="onSelectionChange($event)"
        (itemClicked)="openImageViewer($event, vm.content.images)">
    </app-selectable-list>
</app-main-top-nav>

<ng-template #imgTemplate let-entity>
    <img appImageErrorReloader class="entity-card"  alt="oppdragsbilde"
                [src]="entity | appFileUrl: 'thumbnails'"/> 
</ng-template>

<input type="file" style="display:none" multiple #imageInput (change)="uploadImages($event.target.files)">