<app-main-skeleton *ngIf="vm$ | async; let vm" [fabs]="vm.fabs" overlayMode="true">

    <app-main-top-nav-bar navbar [config]="vm.navConfig" >
    </app-main-top-nav-bar>

    <app-selectable-list #selectableList 
        *ngIf="vm.images" identifier="id" selectedText="Bilde valgt"
        [totalRows]="vm.isXs ? 2 : 4"
        [entities]="vm.images" 
        [itemTemplate]="imgTemplate"
        (selectionChanged)="onSelectionChange($event)"
        (itemClicked)="openImageViewer($event, vm.images)">
    </app-selectable-list>
</app-main-skeleton>

<ng-template #imgTemplate let-entity>
        <img appImageErrorReloader class="entity-card"  alt="oppdragsbilde"
        [src]="entity | appFileUrl: 'thumbnails'"/> 
</ng-template>

<input type="file" style="display:none" multiple #imageInput (change)="uploadImages($event.target.files)">